modules/jeus5/config/xsds/zh/jeus-webservices-config.xsd

<?xml version="1.0" encoding="GB2312"?>
<xs:schema 
    attributeFormDefault="unqualified" 
    elementFormDefault="qualified" 
    targetNamespace="http://www.tmaxsoft.com/xml/ns/jeus" version="5.0" 
    xmlns="http://www.tmaxsoft.com/xml/ns/jeus" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">       
    <xs:element name="web-services-config" type="web-services-configType">      
        <xs:annotation>          
            <xs:documentation><![CDATA[
                    [Description]: web服务设定文件的根元素(root element)。
                ]]>
            </xs:documentation>      
        </xs:annotation>  
    </xs:element>   
    <xs:complexType name="web-services-configType">      
        <xs:sequence>          
            <xs:element maxOccurs="unbounded" name="service" type="service-configType">           
                <xs:annotation>               
                    <xs:documentation><![CDATA[
		                    [Description]: 为了制作WSDL和映射(JARX-RPC Mapping)文件，叙述endpoint interface和messaging style等服务信息。
		                ]]>
                    </xs:documentation>           
                </xs:annotation>       
            </xs:element>      
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="service-configType">   
        <xs:sequence>             
            <xs:element name="service-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 叙述要制作的服务名称。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="target-namespace" type="xs:anyURI">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 服务将具有的target name space。                 设定服务固有的name space，成为与其他服务之间的逻辑区分标准。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="package-mapping" type="package-mappingType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 将某个java package映射到特定name space的设定。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="output-wsdl-file" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 将生成的输出WSDL文件的名称。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="output-jaxrpc-mapping-file" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 将生成的输出映射文件的名称。 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>                 
            <xs:element minOccurs="0" name="style" type="styleType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 定义将生成之服务的messaging style。
                                'rpc', 'document', 'wrapped' 三个当中选择一个。
                                默认设置为'wrapped'。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="use" type="useType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 定义encoding style。'encoded'或'literal'中选择一个。默认设置为'literal'。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>                 
            <xs:element minOccurs="0" name="map-mime-to-anytype" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 对于是否允许使用自定义的任意type，具有xs:Boolean type值。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element maxOccurs="unbounded" name="interface" type="interfaceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 设定服务端点接口(Service Endpoint Interface)。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>   
    <xs:complexType name="interfaceType">   
        <xs:sequence>    
            <xs:element name="endpoint-interface-class" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 表示在后端(back-end)工作的java class名称。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-port-type-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                       [Description]: 可以任意设定WSDL上显示的实际端口type名称。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-binding-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 可以任意设定WSDL上显示的实际binding名称。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-port-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: 可以任意设定WSDL上显示的实际端口名称。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element maxOccurs="unbounded" minOccurs="0" name="operation" type="operationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                      [Description]: 叙述服务上公开的operation各自的附加设定。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="service-impl-bean" type="service-impl-beanType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: 对服务执行(service-implementation)有关的附加设置进行说明。
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>         
            <xs:element maxOccurs="unbounded" minOccurs="0" name="handler" type="port-component_handlerType"/>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="operationType">   
        <xs:sequence>    
            <xs:element name="java-method-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 要设定的operation名称作为值。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 设定WSDL上公开的operation名称。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="soap-action" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 设定operation的SOAP-ACTION。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="one-way" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 非请求-应答机制，而是允许单向(one-way)呼叫的设定。对于非同步单向呼叫，客户端不接收SOAP应答。当发生故障(fault)或意外情况(exception)时，也同样不接收应答。默认值为'false'。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="parameterType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: <parameter>元素定义一个operation的一个参数。该元素应在体现operation的method内，按定义的顺序罗列。<parameter>元素的数量应与method上定义的参数数量一致。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="return" type="returnType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: <return>元素定义web服务operation的返还值。每个operation只能定义一个<return>元素。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>      
        </xs:sequence>        
    </xs:complexType>      
    <xs:simpleType name="styleType">         
        <xs:restriction base="xs:string">             
            <xs:enumeration value="rpc"/>             
            <xs:enumeration value="document"/>             
            <xs:enumeration value="wrapped"/>             
        </xs:restriction>                 
    </xs:simpleType>          
    <xs:simpleType name="useType">         
        <xs:restriction base="xs:string">             
            <xs:enumeration value="encoded"/>             
            <xs:enumeration value="literal"/>         
        </xs:restriction>  
    </xs:simpleType>   
    <xs:complexType name="parameterType">   
        <xs:sequence>    
            <xs:element name="class-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                     [Description]: 输入参数的数据种类映射到java class时的java class名称。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-name" type="xs:string">                  
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 要生成的WSDL上使用的输入参数名称。没有特别输入时的默认值为，method signature的参数名称。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="location" type="locationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 定义SOAP message中输入参数要位于的部分。具有'header'、'body'、'attachment'之中的一个值。默认值为'body'。设为'attachment'时，参数不是从SOAP envelop，而是从SOAP message的附件(attachment)中提取。只有在JAX-RPC spec中指定的type(java.awt.Image、java.lang.String、javax.mail.internet.MimeMultipart、javax.xml.transform.Source、javax.activation.DataHandler)才能从SOAP message附件中提取。 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="mime-type" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                       [Description]: 定义将要生成的WSDL上显示之参数的MIME类型。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="mode" type="modeType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 指定输入参数为标准输入参数，还是用于返还值的输出参数，还是输入和输出都使用的输入-输出(in-out)参数。取'IN', 'INOUT', 'OUT'三个值之一。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:simpleType name="locationType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="header"/>    
            <xs:enumeration value="body"/>    
            <xs:enumeration value="attachment"/>   
        </xs:restriction>  
    </xs:simpleType>   
    <xs:simpleType name="modeType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="IN"/>    
            <xs:enumeration value="INOUT"/>    
            <xs:enumeration value="OUT"/>   
        </xs:restriction>  
    </xs:simpleType>   
    <xs:complexType name="returnType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="wsdl-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: 将要生成的WSDL上使用的返还参数的名称。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="location" type="locationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 定义SOAP message中返还参数要位于的部分。取'header', 'body', 'attachment'当中的一个值。默认值为'body'。设定为'attachment'时，参数并非从SOAP envelop，而是从SOAP message的附件(attachment)中提取，只有在JAX-RPC spec中定义的类型(java.awt.Image、java.lang.String、javax.mail.internet.MimeMultipart、javax.xml.transform.Source、javax.activation.DataHandler)才能从SOAP message附件中提取。 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="mime-type" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                       [Description]: 定义将要生成的WSDL上显示之参数的MIME类型。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>      
    <xs:complexType name="package-mappingType">         
        <xs:sequence>             
            <xs:element name="package-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                       [Description]: 作为name space，映射到java package的名称。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="namespace-uri" type="xs:anyURI">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 设定java package名称相应的name space。
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:complexType name="service-impl-beanType">   
        <xs:sequence>    
            <xs:choice>     
                <xs:element name="servlet-name" type="xs:string">      
                    <xs:annotation>       
                        <xs:documentation><![CDATA[
                          [Description]: 服务终点为servlet时，设置servlet名称。
                        ]]>
                        </xs:documentation>      
                    </xs:annotation>     
                </xs:element>     
                <xs:element name="ejb-name" type="xs:string">      
                    <xs:annotation>       
                        <xs:documentation><![CDATA[
                            [Description]: 服务终点为EJB时，设置EJB名称。
                        ]]>
                        </xs:documentation>      
                    </xs:annotation>     
                </xs:element>    
            </xs:choice>    
            <xs:element name="endpoint-implementation-class" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: 对实现服务功能的bean class名称进行设置。
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="context-path" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]: 设置要处理服务的context名称。
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="endpoint-url" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: 设置服务连接所需的url。
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>               
    <xs:complexType name="port-component_handlerType">           
        <xs:sequence>          
            <xs:element name="handler-name" type="xs:string"/>          
            <xs:element name="handler-class" type="xs:string"/>          
            <xs:element maxOccurs="unbounded" minOccurs="0" name="init-param" type="param-valueType"/>          
            <xs:element maxOccurs="unbounded" minOccurs="0" name="soap-header" type="xs:QName"/>          
            <xs:element maxOccurs="unbounded" minOccurs="0" name="soap-role" type="xs:string"/>      
        </xs:sequence>      
        <xs:attribute name="id" type="xs:ID"/>  
    </xs:complexType>      
    <xs:complexType name="param-valueType">         
        <xs:sequence>             
            <xs:element name="param-name" type="xs:string"/>          
            <xs:element name="param-value" type="xs:string"/>      
        </xs:sequence>      
        <xs:attribute name="id" type="xs:ID"/>     
    </xs:complexType> 
</xs:schema>
