resources/jeus5/samples/manual_examples/webservice/07_j2seclient/j2seClient_proxy/wsdl/DocLitEchoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:DocLitService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:DocLitService" xmlns:intf="urn:DocLitService" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <wsdl:types>
     <schema elementFormDefault="qualified" targetNamespace="urn:DocLitService" xmlns="http://www.w3.org/2001/XMLSchema">
       <element name="echoString">
         <complexType>
           <sequence>
             <element name="in0" type="xsd:string"/>

      </sequence>

     </complexType>

    </element>

       <element name="echoStringResponse">
         <complexType>
           <sequence>
             <element name="echoStringReturn" type="xsd:string"/>

      </sequence>

     </complexType>

    </element>

       <element name="echoString_double">
         <complexType>
           <sequence>
             <element name="in0" type="xsd:string"/>

             <element name="in1" type="xsd:string"/>

      </sequence>

     </complexType>

    </element>

       <element name="echoString_doubleResponse">
         <complexType>
           <sequence>
             <element name="echoString_doubleReturn" type="xsd:string"/>

      </sequence>

     </complexType>

    </element>

   </schema>

  </wsdl:types>

   <wsdl:message name="echoString_doubleRequest">
      <wsdl:part element="impl:echoString_double" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="echoStringRequest">
      <wsdl:part element="impl:echoString" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="echoStringResponse">
      <wsdl:part element="impl:echoStringResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="echoString_doubleResponse">
      <wsdl:part element="impl:echoString_doubleResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:portType name="Echo">
      <wsdl:operation name="echoString">
         <wsdl:input message="impl:echoStringRequest" name="echoStringRequest"/>

         <wsdl:output message="impl:echoStringResponse" name="echoStringResponse"/>

    </wsdl:operation>

      <wsdl:operation name="echoString_double">
         <wsdl:input message="impl:echoString_doubleRequest" name="echoString_doubleRequest"/>

         <wsdl:output message="impl:echoString_doubleResponse" name="echoString_doubleResponse"/>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="EchoSoapBinding" type="impl:Echo">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="echoString">
         <soap:operation soapAction="hokeAction"/>

         <wsdl:input name="echoStringRequest">
            <soap:body use="literal"/>

      </wsdl:input>

         <wsdl:output name="echoStringResponse">
            <soap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

      <wsdl:operation name="echoString_double">
         <soap:operation soapAction=""/>

         <wsdl:input name="echoString_doubleRequest">
            <soap:body use="literal"/>

      </wsdl:input>

         <wsdl:output name="echoString_doubleResponse">
            <soap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="DocLitEchoService">
      <wsdl:port binding="impl:EchoSoapBinding" name="EchoPort">
         <soap:address location="http://localhost:8088/DocLitEchoService/DocLitEchoService"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
