5_ubuntu14.04.5_jdk6/jeus5/samples/manual_examples/webservice/13_data_type/Calculator4_usingExceptionAsSOAPFault/wsdl/Calculator4Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:Calculator4Service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:Calculator4Service" xmlns:intf="urn:Calculator4Service" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <wsdl:types>
     <schema elementFormDefault="qualified" targetNamespace="urn:Calculator4Service" xmlns="http://www.w3.org/2001/XMLSchema">
       <element name="calc">
         <complexType>
           <sequence>
             <element name="in0" type="impl:CalcData"/>

      </sequence>

     </complexType>

    </element>

       <complexType name="CalcData">
         <sequence>
           <element name="op" type="xsd:string"/>

           <element name="num2" type="xsd:double"/>

           <element name="num1" type="xsd:double"/>

     </sequence>

    </complexType>

       <element name="calcResponse">
         <complexType>
           <sequence>
             <element name="calcReturn" type="xsd:double"/>

      </sequence>

     </complexType>

    </element>

       <complexType name="DevideByZeroException">
         <sequence>
           <element name="errorMsg" type="xsd:string"/>

     </sequence>

    </complexType>

       <element name="fault" type="impl:DevideByZeroException"/>

   </schema>

  </wsdl:types>

   <wsdl:message name="DevideByZeroException">
      <wsdl:part element="impl:fault" name="fault"/>

  </wsdl:message>

   <wsdl:message name="calcRequest">
      <wsdl:part element="impl:calc" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="calcResponse">
      <wsdl:part element="impl:calcResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:portType name="CalculatorIF">
      <wsdl:operation name="calc">
         <wsdl:input message="impl:calcRequest" name="calcRequest"/>

         <wsdl:output message="impl:calcResponse" name="calcResponse"/>

         <wsdl:fault message="impl:DevideByZeroException" name="DevideByZeroException"/>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="CalculatorIFSoapBinding" type="impl:CalculatorIF">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="calc">
         <soap:operation soapAction=""/>

         <wsdl:input name="calcRequest">
            <soap:body use="literal"/>

      </wsdl:input>

         <wsdl:output name="calcResponse">
            <soap:body use="literal"/>

      </wsdl:output>

         <wsdl:fault name="DevideByZeroException">
            <soap:fault name="DevideByZeroException" use="literal"/>

      </wsdl:fault>

    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="Calculator4Service">
      <wsdl:port binding="impl:CalculatorIFSoapBinding" name="CalculatorIFPort">
         <soap:address location="http://localhost:8088/Calculator4Service/Calculator4Service"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
