modules/jeus5/samples/manual_examples/webservice/13_data_type/Calculator2_usingStandardHolderType/wsdl/Calculator2Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:Calculator2Service" xmlns:impl="urn:Calculator2Service" xmlns:intf="urn:Calculator2Service" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
   <schema elementFormDefault="qualified" targetNamespace="urn:Calculator2Service" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="calc">
     <complexType>
      <sequence>
       <element name="in0" type="impl:CalcData"/>
       <element name="in1" type="xsd:double"/>
      </sequence>
     </complexType>
    </element>
    <complexType name="CalcData">
     <sequence>
      <element name="num1" type="xsd:double"/>
      <element name="num2" type="xsd:double"/>
      <element name="op" type="xsd:string"/>
     </sequence>
    </complexType>
    <element name="calcResponse">
     <complexType>
      <sequence>
       <element name="in1" type="xsd:double"/>
      </sequence>
     </complexType>
    </element>
   </schema>
  </wsdl:types>
  <wsdl:message name="calcRequest">
    <wsdl:part name="parameters" element="impl:calc"/>
  </wsdl:message>
  <wsdl:message name="calcResponse">
    <wsdl:part name="parameters" element="impl:calcResponse"/>
  </wsdl:message>
  <wsdl:portType name="CalculatorIF">
    <wsdl:operation name="calc">
      <wsdl:input name="calcRequest" message="impl:calcRequest"/>
      <wsdl:output name="calcResponse" message="impl:calcResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatorIFSoapBinding" type="impl:CalculatorIF">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="calc">
      <soap:operation soapAction=""/>
      <wsdl:input name="calcRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="calcResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculator2Service">
    <wsdl:port name="CalculatorIFPort" binding="impl:CalculatorIFSoapBinding">
      <soap:address location="http://localhost:8088/Calculator2Service/Calculator2Service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
