5_ubuntu14.04.5_jdk6/jeus5/samples/manual_examples/webservice/08_j2eeclient/j2eeClient_with_wsdl/wsdl/DocLitEchoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:DocLitService" xmlns:impl="urn:DocLitService" xmlns:intf="urn:DocLitService" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
   <schema elementFormDefault="qualified" targetNamespace="urn:DocLitService" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="echoString">
     <complexType>
      <sequence>
       <element name="in0" nillable="true" type="xsd:string"/>
      </sequence>
     </complexType>
    </element>
    <element name="echoStringResponse">
     <complexType>
      <sequence>
       <element name="echoStringReturn" nillable="true" type="xsd:string"/>
      </sequence>
     </complexType>
    </element>
    <element name="echoString_double">
     <complexType>
      <sequence>
       <element name="in0" nillable="true" type="xsd:string"/>
       <element name="in1" nillable="true" type="xsd:string"/>
      </sequence>
     </complexType>
    </element>
    <element name="echoString_doubleResponse">
     <complexType>
      <sequence>
       <element name="echoString_doubleReturn" nillable="true" type="xsd:string"/>
      </sequence>
     </complexType>
    </element>
   </schema>
  </wsdl:types>
  <wsdl:message name="echoString_doubleRequest">
    <wsdl:part name="parameters" element="impl:echoString_double"/>
  </wsdl:message>
  <wsdl:message name="echoStringRequest">
    <wsdl:part name="parameters" element="impl:echoString"/>
  </wsdl:message>
  <wsdl:message name="echoStringResponse">
    <wsdl:part name="parameters" element="impl:echoStringResponse"/>
  </wsdl:message>
  <wsdl:message name="echoString_doubleResponse">
    <wsdl:part name="parameters" element="impl:echoString_doubleResponse"/>
  </wsdl:message>
  <wsdl:portType name="Echo">
    <wsdl:operation name="echoString">
      <wsdl:input name="echoStringRequest" message="impl:echoStringRequest"/>
      <wsdl:output name="echoStringResponse" message="impl:echoStringResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echoString_double">
      <wsdl:input name="echoString_doubleRequest" message="impl:echoString_doubleRequest"/>
      <wsdl:output name="echoString_doubleResponse" message="impl:echoString_doubleResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EchoSoapBinding" type="impl:Echo">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="echoString">
      <soap:operation soapAction="hokeAction"/>
      <wsdl:input name="echoStringRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoStringResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoString_double">
      <soap:operation soapAction=""/>
      <wsdl:input name="echoString_doubleRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoString_doubleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocLitEchoService">
    <wsdl:port name="EchoPort" binding="impl:EchoSoapBinding">
	    <soap:address location="http://localhost:8088/DocLitEchoService/DocLitEchoService?wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
