resources/jeus5/config/xsds/ja/jms-main.xsd

<?xml version="1.0" encoding="Shift-JIS"?>
<xs:schema 
    attributeFormDefault="unqualified" 
    elementFormDefault="qualified" 
    targetNamespace="http://www.tmaxsoft.com/xml/ns/jeus" version="5.0" 
    xmlns="http://www.tmaxsoft.com/xml/ns/jeus" 
    xmlns:j2ee="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">       
    <xs:include schemaLocation="jeus-common.xsd"/>      
    <xs:element name="jms-server" type="jms-serverType">         
        <xs:annotation>             
            <xs:documentation><![CDATA[
                [Description]: JMSMain.xml内の最高レベルのelementです。
                内部設定値の中でtoken或いはStringに該当する値は次の文字を含むことができません。 ':', ',', '*', '?', '='
            ]]>
            </xs:documentation>         
        </xs:annotation>     
    </xs:element>      
    <xs:complexType name="jms-serverType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="broker-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]:JMSメッセージブローカーの名前です。設定しない場合はホスト名前が使われます。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element maxOccurs="unbounded" minOccurs="1" name="service-config" type="service-config">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]:メッセージングサービスを提供するためのサーバーチャンネルに対する設定です。最小限1つ以上を設定する必要があります。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element minOccurs="0" name="thread-pool" type="jms-thread-poolType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]:JMSメッセージブローカーが使うthread poolに対する設定です。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element minOccurs="0" name="access-log" type="system-loggingType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]:access logに対する情報を指定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element maxOccurs="unbounded" minOccurs="0" name="durable-subscriber" type="durable-subscriberType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Durable subscriberに対する情報を指定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element maxOccurs="unbounded" minOccurs="0" name="connection-factory" type="connection-factoryType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: connection factoryに対する情報を指定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element maxOccurs="unbounded" minOccurs="0" name="destination" type="destinationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: ディスティネーションに対する情報を定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element maxOccurs="unbounded" minOccurs="0" name="queue-cluster" type="queue-clusterType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: queueのクラスタリングの方式を設定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element maxOccurs="unbounded" minOccurs="0" name="topic-cluster" type="topic-clusterType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: topicのクラスタリングの方式を設定します。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element minOccurs="0" name="storage" type="storageType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: persistent messageのためのストレッジの情報を設定します。
                      ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element minOccurs="0" name="jms-server-cluster" type="jms-server-clusterType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: ディスティネーション・クラスタリングを使用する場合には、ここに参加するJMSメッセージブローカーに対する設定を行います。
                      ]]>
                    </xs:documentation>                 
                </xs:annotation>                 
                <xs:unique name="cluster-server-name">                     
                    <xs:selector xpath="jms-server-info"/>                     
                    <xs:field xpath="broker-name"/>                 
                </xs:unique>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="service-config">         
        <xs:sequence>             
            <xs:element name="name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: サーバーチャンネルの名前です。Connection Factoryにチャンネル情報を指定するための用途で使われます。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:choice>                 
                <xs:element name="server-url" type="xs:token">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                        [Description]: サーバー・チャッネルのURLを指定します。現在、TCPタイプのみサポートされています。
                    
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:group ref="jms-tcp-address"/>             
            </xs:choice>             
            <xs:element default="false" minOccurs="0" name="use-ssl" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: サーバーチャンネルにSSLを適用するかを設定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="ssl-configuration" type="jms-server-sslType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]:  SSLに関係する環境値を設定します。
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="1000" minOccurs="0" name="client-limit" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: サーバーチャンネルが許容する最大クライアント数を指定します。
                        blocking socketを使う場合メッセージブローカーに設定された最大スレッド数を超えることができません。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="100" minOccurs="0" name="backlog-size" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: サーバーチャンネルが許容するBacklogのサイズです。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element default="true" minOccurs="0" name="blocking-socket" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 該当のサーバーチャンネルがblocking socketを使用するか或いはnon-blocking socketを使用するかを決定します。
                        拡張性のためにnon-blocking socketを使うことをお勧めします。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element default="65536" minOccurs="0" name="read-buffer-size" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: クライアントからメッセージを読み込むネットワークバッファーの大きさです。デフォルトは64Kです。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element default="65536" minOccurs="0" name="write-buffer-size" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: クライアントにメッセージを送るためのネットワークバッファーのサイズです。デフォルトは 64Kです。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element default="120" minOccurs="0" name="connection-timeout" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: blocking socketを使う場合、指定された時間の間クライアントからリクエストがなければ連結を終了します。
                        分単位で設定し、デフォルトは 20分です。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="false" minOccurs="0" name="check-security" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Connection Factoryでconnectionを作るときに security checkをするかどうかを決定します。このelementの値がtrueの場合、userは
                        jeus.jms.client.connectionFactory permissionを持っている必要があり、createConnection actionが許容されなければなりません。
                                          ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="30" minOccurs="0" name="client-keepalive-timeout" type="xs:int">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: クライアントとの連結が非正常終了した場合に再接続を待つ時間です。この時間がすぎたら該当クライアントのリソースはすべてサーバに返還されます。設定された時間内には該当クライアントのclientID値が維持されるため、                       ネットワーク状態が不良の場合のみに設定するようにします。
                        秒単位で設定し、0以下の値を指定すると待たずに直ちにリソースを返還します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:group name="jms-tcp-address">         
        <xs:sequence>             
            <xs:element default="127.0.0.1" minOccurs="0" name="server-address" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 該当のサーバーチャンネルのIPアドレスを直接設定します。クライアントが接続するためのアドレス値で使われます。
                        設定しない場合は、 "127.0.0.1"が使われます。
                        [Example]: 123.123.123.123
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="port" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 該当のサーバーチャンネルのサービスフォト番号です。.
                        [Example]: 9741
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:group>      
    <xs:complexType name="jms-ssl-baseType">         
        <xs:sequence>             
            <xs:element default="TLS" minOccurs="0" name="protocol" type="xs:token"/>             
            <xs:element default="JKS" minOccurs="0" name="key-store-type" type="xs:string"/>             
            <xs:element minOccurs="1" name="key-store-file" type="xs:string"/>             
            <xs:element minOccurs="1" name="key-store-pass" type="xs:string"/>             
            <xs:element default="SunX509" minOccurs="0" name="key-management-algorithm" type="xs:string"/>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:group name="jms-ssl-trustType">         
        <xs:sequence>             
            <xs:element default="JKS" minOccurs="0" name="trust-store-type" type="xs:string"/>             
            <xs:element minOccurs="1" name="trust-store-file" type="xs:string"/>             
            <xs:element minOccurs="1" name="trust-store-pass" type="xs:string"/>             
            <xs:element default="SunX509" minOccurs="0" name="trust-management-algorithm" type="xs:string"/>         
        </xs:sequence>     
    </xs:group>      
    <xs:complexType name="jms-server-sslType">         
        <xs:complexContent>    
            <xs:extension base="jms-ssl-baseType">                 
                <xs:sequence>                     
                    <xs:element minOccurs="0" name="client-auth" type="client-authType"/>                 
                </xs:sequence>             
            </xs:extension>         
        </xs:complexContent>     
    </xs:complexType>      
    <xs:complexType name="client-authType">         
        <xs:group ref="jms-ssl-trustType"/>     
    </xs:complexType>      
    <xs:complexType name="jms-client-sslType">         
        <xs:complexContent>    
            <xs:extension base="jms-ssl-baseType">                 
                <xs:group ref="jms-ssl-trustType"/>             
            </xs:extension>         
        </xs:complexContent>     
    </xs:complexType>       
    <xs:complexType name="connection-factoryType">         
        <xs:sequence>             
            <xs:element default="nonxa" minOccurs="0" name="type" type="factory-typeType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 該当Connection Factoryの種類を設定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: JMSシステム内で管理の目的で使用されるConnection Factoryの名前です。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="1" minOccurs="0" name="service" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 該当Connection Factory 街連結を試みるservice の名前を設定します。service-configに指定された名前を使用します。
                        名前を指定しなかった場合には、最初に設定されたサービスで一時的に保存されます。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>                 
                <xs:unique name="factory-service-config-name">                     
                    <xs:selector xpath="xs:jms-server/service-config"/>                     
                    <xs:field xpath="name"/>                 
                </xs:unique>             
            </xs:element>             
            <xs:element minOccurs="0" name="export-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 該当Connection Factoryがネーミングサーバーにbindingされる名前。設定しなければnameの属性がそのまま使用されます。 
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="false" minOccurs="0" name="clustered-factory" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: connection factoryの範囲を指定します。Trueの場合は、cluster factoryで使用されます。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="client-id" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 該当Connection Factoryを利用し、生成されるconnectionに基本値として設定されるClientID値です。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="true" minOccurs="0" name="fixed-client-id" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: connection IDの生成政策です。Trueの場合には指定されたclient-idをそのまま使い、
                        Falseの場合にはJMSメッセージブローカーによって自動的に生成されます。
                        生成されたconnection IDはgetClientID() APIを利用して確認することができます。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="round-robin" minOccurs="0" name="broker-selection-policy" type="broker-selection-policyType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: ConnectionFactoryがコネクションを作成する時にどのタイプのチャンネルを選択するかを決めるポリシーです。 
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="thread-pool" type="jms-thread-poolType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: clientがこのConnection Factoryからconnection を作る場合
                        そのconnectionに対するthread poolの情報を指定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:simpleType name="destination-typeType">         
        <xs:restriction base="xs:token">             
            <xs:enumeration value="queue"/>             
            <xs:enumeration value="topic"/>         
        </xs:restriction>     
    </xs:simpleType>      
    <xs:simpleType name="factory-typeType">         
        <xs:restriction base="xs:token">             
            <xs:enumeration value="nonxa"/>             
            <xs:enumeration value="xa"/>             
            <xs:enumeration value="queue"/>             
            <xs:enumeration value="topic"/>             
            <xs:enumeration value="xaqueue"/>             
            <xs:enumeration value="xatopic"/>         
        </xs:restriction>     
    </xs:simpleType>      
    <xs:simpleType name="broker-selection-policyType">         
        <xs:restriction base="xs:token">             
            <xs:enumeration value="round-robin"/>             
            <xs:enumeration value="active-standby"/>         
        </xs:restriction>     
    </xs:simpleType>      
    <xs:complexType name="destinationType">         
        <xs:sequence>             
            <xs:element name="type" type="destination-typeType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 該当のディスティネーションの種類を設定します。Queueとtopicの中で1つを指定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: JMSメッセージブローカー内で管理の目的で使われるディスティネーションの名前です。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="broker-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: このデスティネーションに転送されるメッセージをルーティングするbrokerの名前を指定します。
                         名前を指定しない場合は、connection factoryに接続されたサーバーのデスティネーションと見なします。
                         指定する場合は、他のクラスタリングサーバーに接続してもこのディスティネーションのproducerが送るメッセージは
                         常に指定されているbrokerにのみ送られ、現在接続しているサーバーのデスティネーションには転送されません。
                         クラスタリング・デスティネーションにおいて、この設定は無意味ですので、使用してはいけません。 
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="export-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 該当のディスティネーションがネーミングサーバーにbindingされる名前。設定しないと、nameの属性がそのまま使われます。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="false" minOccurs="0" name="multiple-receiver" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: キュータイプのデスティネーションに対して多重の receiverを使用して分散処理を行うかを決定します。
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="2147483647" minOccurs="0" name="consumer-limit" type="positiveIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: デスティネーションにアクセスできるコンシューマーの数を制限します。
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="round-robin" minOccurs="0" name="local-distribute" type="local-distributeType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: multiple-receiverに設定されたqueue ディスティネーションのメッセージ分散方式を決定します。
                        round-robin, randomの中で1つを指定できます。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="2147483647" minOccurs="0" name="limit" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 該当のディスティネーションで使用できる最大メモリのサイズを設定します。
                        使用中のメモリーがこの値段を超過する場合クライアントのメッセージ伝達は直ちにエラーとして処理されます。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="2147483647" minOccurs="0" name="high-mark" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: フローコントロールを使い始めるメモリーサイズを設定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="0" minOccurs="0" name="low-mark" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: ソフトキャッシングを始めるメモリーサイズを設定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:choice minOccurs="0">                 
                <xs:element minOccurs="0" name="queue-cluster-name" type="xs:token">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                            [Description]: queue-clusterに指定されたクラスタリングのタイプを選択します。
                        ]]>
                        </xs:documentation>                     
                    </xs:annotation>                     
                    <xs:unique name="queue-cluster-config-name">                         
                        <xs:selector xpath="xs:jms-server/queue-cluster"/>                         
                        <xs:field xpath="queue-cluster-name"/>                     
                    </xs:unique>                 
                </xs:element>                 
                <xs:element minOccurs="0" name="topic-cluster-name" type="xs:token">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                            [Description]: topic-clusterに指定されたクラスタリングのタイプを選択します。
                        ]]>
                        </xs:documentation>                     
                    </xs:annotation>                     
                    <xs:unique name="topic-cluster-config-name">                         
                        <xs:selector xpath="xs:jms-server/topic-cluster"/>                         
                        <xs:field xpath="topic-cluster-name"/>                     
                    </xs:unique>                 
                </xs:element>             
            </xs:choice>          
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="topic-clusterType">         
        <xs:sequence>             
            <xs:element name="topic-cluster-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: topicクラスタリングのためのクラスタリングのタイプを設定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="non-durable" name="relay-type" type="relay-typeType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 上記で指定されたclusterサーバーにメッセージを伝達する方式です。non-durableとdurableを指定できます。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" name="target" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: クラスタリングに参加するbroker nameを指定します。該当の名前は、jms-server-infoに設定された名前である必要があります。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>                 
                <xs:unique name="topic-cluster-broker-name">                     
                    <xs:selector xpath="xs:jms-server/jms-server-info"/>                     
                    <xs:field xpath="broker-name"/>                 
                </xs:unique>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="queue-clusterType">         
        <xs:sequence>             
            <xs:element name="queue-cluster-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: queueクラスタリングのためのクラスタリングのタイプを設定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="round-robin" minOccurs="0" name="cluster-distribute" type="cluster-distributeType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: queueクラスタリングに参加するそれぞれのブローカーにメッセージを分散するための方式を指定します。
                        server-weighted, consumer-weighted, round-robin, randomの中で1つの指定することができます。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="1" minOccurs="0" name="local-preference" type="positiveIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: localブローカーで処理するメッセージの比重を高めます。
                        server-weighted或いはconsumer-weightedの方式を使用する場合のみ意味があります。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" name="target" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: クラスタリングに参加するbroker nameを指定します。該当の名前は、jms-server-infoに設定された名前である必要があります。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>                 
                <xs:unique name="queue-cluster-broker-name">                     
                    <xs:selector xpath="xs:jms-server/jms-server-info"/>                     
                    <xs:field xpath="broker-name"/>                 
                </xs:unique>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:simpleType name="relay-typeType">         
        <xs:restriction base="xs:token">             
            <xs:enumeration value="non-durable"/>             
            <xs:enumeration value="durable"/>         
        </xs:restriction>     
    </xs:simpleType>      
    <xs:simpleType name="cluster-distributeType">         
        <xs:restriction base="xs:token">             
            <xs:enumeration value="server-weighted"/>             
            <xs:enumeration value="consumer-weighted"/>             
            <xs:enumeration value="round-robin"/>             
            <xs:enumeration value="random"/>         
        </xs:restriction>     
    </xs:simpleType>      
    <xs:simpleType name="local-distributeType">         
        <xs:restriction base="xs:token">             
            <xs:enumeration value="round-robin"/>             
            <xs:enumeration value="random"/>         
        </xs:restriction>     
    </xs:simpleType>      
    <xs:complexType name="durable-subscriberType">         
        <xs:sequence>             
            <xs:element name="client-id" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: このタッグは、クライアントを識別する値を設定します。
                        connection-factory element内だけでなくurable-subscirber element
                        内であらゆるclient-id値の中で重複するといけません。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: JMSメッセージブローカー内で管理目的に使われるDurable Subscriberの名前です。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="destination-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Durable Subscriberがメッセージを受信しようとするディスティネーションの名前です。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="message-selector" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Durable Subscriberのmessage selectorを設定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="storageType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element minOccurs="0" name="db-storage" type="db-storageType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                        [Description]: database storageを使う場合database storage に対する設定を行います。
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                  
                <xs:element minOccurs="0" name="file-storage" type="file-storageType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                        [Description]: file storageを使う場合file storage に対する設定を設定を行います.
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>             
            <xs:element default="true" minOccurs="0" name="synchronous-delete" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation/>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="false" minOccurs="0" name="delete-invalid-destination" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation/>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>      
    </xs:complexType>      
    <xs:complexType name="db-storageType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element name="data-source-name" type="xs:token">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                        [Description]: 使おうとするJNDIにbindingされたdatasourceの名前を指定します。
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element name="embedded" type="emptyType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                            [Description]: Embedded DBをストレージで使用する場合に指定します。
                        
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>             
            <xs:element minOccurs="0" name="destination-table-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: JMSで使用するdestination table nameを指定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="durable-subscriber-table-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation/>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="transaction-table-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
					    [Description]: JMSで使用するtransaction table nameを指定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="message-table-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
					    [Description]: JMSで使用するmessage table nameを指定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="durable-message-table-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation/>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="500" minOccurs="0" name="wait-timeout" type="xs:long">                 
                <xs:annotation>                     
                    <xs:documentation/>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="true" minOccurs="0" name="wait-until-complete" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation/>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="file-storageType">         
        <xs:sequence>             
            <xs:element name="path" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: file storageが位置するfull file pathです。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="jms-thread-poolType">         
        <xs:sequence>             
            <xs:element default="1" minOccurs="0" name="min" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: thread poolの最小のサイズを指定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="300" minOccurs="0" name="max" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: thread poolの最大大きさを指定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="300000" minOccurs="0" name="keep-alive-time" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: minの数を超過するthreadに対してここに指定された時間の間試用されなかったthreadは消滅するようになります。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="jms-server-clusterType">         
        <xs:annotation>             
            <xs:documentation><![CDATA[
                [Description]: ?????? ????? ???? ?? ???? ? ??? ?????? ???? ?? JMS ??? ???? ????? ??.
            ]]>
            </xs:documentation>         
        </xs:annotation>         
        <xs:sequence>             
            <xs:element minOccurs="0" name="cluster-service" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: クラスタリング間の通信を担当するサービス名を指定します。指定しない場合は任意で指定されます。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>                 
                <xs:unique name="cluster-service-config-name">                     
                    <xs:selector xpath="xs:jms-server/service-config"/>                     
                    <xs:field xpath="name"/>                 
                </xs:unique>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" name="jms-server-info" type="jms-server-infoType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: クラスターに参加するJMS メッセージブローカーに対する情報を設定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="jms-server-infoType">         
        <xs:sequence>             
            <xs:element name="broker-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: クラスター間の通信に使われる名前です。クラスタリングに参加するあらゆるJMSメッセージブローカーがそれぞれユニークな名前を持つ必要があります。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="broker-id" type="positiveShortType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: クラスター間の通信に使用されるブローカーIDです。クラスタリングに参加するあらゆるJMSメッセージブローカーがそれぞれユニークな名前を持つ必要があります。
                        値を指定しなかった場合は、クラスターテーブルに設定された順に任意に指定されます。                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="ip-address" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: 該当JMS メッセージブローカーのip-addressアドレス値です。
            ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="jms-port" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 該当のJMSメッセージブローカーのservice port値です。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="false" minOccurs="0" name="use-ssl" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: SSL を使うはずなのかを設定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="ssl-configuration" type="jms-client-sslType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]:  SSLに関係する環境値を設定します。
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>                             
            <xs:element default="60000" minOccurs="0" name="connection-interval" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: ほかのクラスターサーバーとのconnectionを試みる周期です。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="1" minOccurs="0" name="weight" type="positiveIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: server-weighted方式のメッセージ分散方式を使用する場合、この値が使われます。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType> 
</xs:schema>
