modules/jeus5/config/xsds/ws-config.xsd

<?xml version="1.0" encoding="EUC-KR"?>
<xs:schema
    xmlns="http://www.tmaxsoft.com/xml/ns/jeus"
    targetNamespace="http://www.tmaxsoft.com/xml/ns/jeus"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="5.0">


    <xs:element name="ws-engine" type="ws-engineType"/>

    <xs:complexType name="ws-engineType">
        <xs:sequence>
            <xs:element name="domain" type="domainType">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <section>true</section>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="domainType">
        <xs:sequence>
            <xs:element name="name" type="len32Type"/>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="node" type="nodeType">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <section>true</section>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="vhost" type="vhostType">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <section>true</section>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="svrgroup" type="svrgroupType">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <section>true</section>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="server" type="serverType">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <section>true</section>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="service" type="serviceType">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <section>true</section>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="directory" type="directoryType">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <section>true</section>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="uri" type="uriType">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <section>true</section>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="alias" type="aliasType">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <section>true</section>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="dirindex" type="dir-indexType">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <section>true</section>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="logging" type="loggingType">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <section>true</section>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="access" type="accessType">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <section>true</section>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="authent" type="authentType">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <section>true</section>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="ext" type="extType">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <section>true</section>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="ssl" type="sslType">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <section>true</section>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="errordocument" type="error-docType">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <section>true</section>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="filter" type="filterType">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <section>true</section>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="expires" type="expiresType">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <section>true</section>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="tcpgw" type="tcpgwType">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <section>true</section>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="maxs-acall" type="xs:int" default="8"/>
            <xs:element minOccurs="0" name="maxconv-node" type="xs:int" default="256">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>maxsconv_node</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="maxconv-server" type="xs:int" default="8">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>maxsconv_server</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="block-time" type="xs:int" default="0"/>
            <xs:element minOccurs="0" name="tx-time" type="xs:int" default="0"/>
            <xs:element minOccurs="0" name="nlive-inq" type="xs:int" default="30"/>
            <xs:element minOccurs="0" name="nhth-chktime" type="xs:int" default="0"/>
            <xs:element minOccurs="0" name="domain-id" type="xs:int" default="0"/>
            <xs:element minOccurs="0" name="max-svc" type="xs:int" default="512"/>
            <xs:element minOccurs="0" name="node-cpc" type="xs:int" default="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="nodeType">
        <xs:sequence>
            <xs:element name="name" type="len32Type"/>
            <xs:element name="webtob-dir" type="len256Type"/>
            <xs:element name="shmkey" type="xs:long"/>
            <xs:element name="docroot" type="len256Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="tcpgw-name" type="len256Type">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>tcpgw</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="hostname" type="len128Type"/>
            <xs:element minOccurs="0" name="nodename" type="len128Type"/>
            <xs:element minOccurs="0" name="server-root" type="len256Type"/>
            <xs:element minOccurs="0" name="hth" type="xs:int" default="1"/>
            <xs:element minOccurs="0" name="hthq-timeout" type="xs:long" default="1"/>
            <xs:element minOccurs="0" name="node-port" type="xs:int" default="7777"/>
            <xs:element minOccurs="0" name="http-jeus-port" type="xs:token"/>
            <xs:element minOccurs="0" name="ssl-port" type="xs:token" default="443"/>
            <xs:element minOccurs="0" name="jsv-port" type="xs:int"/>
            <xs:element minOccurs="0" name="rac-port" type="xs:int" default="3333"/>
            <xs:element minOccurs="0" name="max-idle-time" type="xs:long"/>
            <xs:element minOccurs="0" name="client-check-interval" type="xs:long" default="30000">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>clichkintval</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="cache-use" type="cache-useType"/>
            <xs:element minOccurs="0" name="max-user" type="xs:token"/>
            <xs:element minOccurs="0" name="path-dir" type="len256Type"/>
            <xs:element minOccurs="0" name="txlog-dir" type="len256Type"/>
            <xs:element minOccurs="0" name="syslog-dir" type="len256Type"/>
            <xs:element minOccurs="0" name="wsm-opt" type="len256Type"/>
            <xs:element minOccurs="0" name="hth-opt" type="len256Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="language-priority" type="len256Type">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>languageprio</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="proxy-use" type="proxy-useType"/>
            <xs:element minOccurs="0" name="ip" type="xs:token"/>
            <xs:element minOccurs="0" name="ip-permission" type="xs:token" default="0700">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>ipcperm</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="listen-backlog" type="xs:token" default="511"/>
            <xs:element minOccurs="0" name="send-buffer-size" type="xs:token"/>
            <xs:element minOccurs="0" name="mimetypes-config" type="len256Type"/>
            <xs:element minOccurs="0" name="limit-request-body" type="xs:int"/>
            <xs:element minOccurs="0" name="limit-request-fields" type="xs:token" default="100"/>
            <xs:element minOccurs="0" name="limit-request-fieldsize" type="xs:token" default="8190"/>
            <xs:element minOccurs="0" name="limit-request-line" type="xs:token" default="8190"/>
            <xs:element minOccurs="0" name="server-tokens" type="len256Type" default="MIN"/>
            <xs:element minOccurs="0" name="ipc-base-port" type="xs:int" default="6666"/>


            <xs:element minOccurs="0" name="user" type="len32Type"/>
            <xs:element minOccurs="0" name="group" type="len32Type"/>
            <xs:element minOccurs="0" name="admin" type="len128Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="method" type="len256Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="port" type="len1024Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="listen" type="len1024Type"/>
            <xs:element minOccurs="0" name="ssl-use" type="ssl-useType"/>
            <xs:element minOccurs="0" name="app-dir" type="len256Type"/>
            <xs:element minOccurs="0" name="usrlog-log" type="len256Type"/>
            <xs:element minOccurs="0" name="icon-log" type="len256Type"/>
            <xs:element minOccurs="0" name="user-dir" type="len256Type"/>
            <xs:element minOccurs="0" name="env-file" type="len256Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="index-name" type="len256Type"/>
            <xs:element minOccurs="0" name="dir-index-name" type="len32Type">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>dirindex</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="options" type="len256Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="error-document-name" type="len256Type">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>errordocument</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="logging" type="len256Type"/>
            <xs:element minOccurs="0" name="error-log" type="xs:token"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="filter-name" type="xs:token">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>filter</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="node-type" type="xs:token" default="1"/>
            <xs:element minOccurs="0" name="default-mimetype" type="len64Type" default="1"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="expires-name" type="len256Type">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>expries</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="service-order" type="len256Type" default="URI,EXT"/>
            <xs:element minOccurs="0" name="keep-alive-use" type="keep-alive-useType"/>
            <xs:element minOccurs="0" name="timeout" type="xs:long" default="300000"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="vhostType">
        <xs:sequence>
            <xs:element name="name" type="len32Type"/>
            <xs:element name="node-name" type="len32Type"/>
            <xs:element name="docroot" type="len256Type"/>
            <xs:element minOccurs="0" name="user" type="len32Type"/>
            <xs:element minOccurs="0" name="group" type="len32Type"/>
            <xs:element minOccurs="0" name="hostname" type="len128Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="host-alias" type="len256Type"/>
            <xs:element minOccurs="0" name="admin" type="xs:token"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="method" type="len256Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="port" type="len1024Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="listen" type="len1024Type"/>
            <xs:element minOccurs="0" name="ssl-use" type="ssl-useType"/>
            <xs:element minOccurs="0" name="app-dir" type="len256Type"/>
            <xs:element minOccurs="0" name="usrlog-dir" type="len256Type"/>
            <xs:element minOccurs="0" name="icon-dir" type="len256Type"/>
            <xs:element minOccurs="0" name="user-dir" type="len256Type"/>
            <xs:element minOccurs="0" name="env-file" type="len256Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="index-name" type="len256Type"/>
            <xs:element minOccurs="0" name="dir-index-name" type="len32Type">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>dirindex</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="options" type="len256Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="error-document-name" type="len256Type">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>errordocument</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="logging" type="len256Type"/>
            <xs:element minOccurs="0" name="error-log" type="len256Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="filter-name" type="len256Type">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>filter</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="node-type" type="len32Type" default="1"/>
            <xs:element minOccurs="0" name="default-mimetype" type="len64Type" default="1"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="expires-name" type="len256Type">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>expires</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="service-order" type="len256Type" default="URI,EXT"/>
            <xs:element minOccurs="0" name="keep-alive-use" type="keep-alive-useType"/>
            <xs:element minOccurs="0" name="timeout" type="xs:long" default="300000"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="svrgroupType">
        <xs:sequence>
            <xs:element name="name" type="len32Type"/>
            <xs:element name="svr-type" type="len32Type"/>
            <xs:element minOccurs="0" name="node-name" type="len32Type"/>
            <xs:element minOccurs="0" name="vhost-name" type="len32Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="cousin" type="len256Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="backup" type="len256Type"/>
            <xs:element minOccurs="0" name="load" type="xs:int"/>
            <xs:element minOccurs="0" name="app-dir" type="len256Type"/>
            <xs:element minOccurs="0" name="usrlog-dir" type="len256Type"/>
            <xs:element minOccurs="0" name="db-name" type="len64Type"/>
            <xs:element minOccurs="0" name="open-info" type="len256Type"/>
            <xs:element minOccurs="0" name="close-info" type="len256Type"/>
            <xs:element minOccurs="0" name="min-tms" type="xs:int"/>
            <xs:element minOccurs="0" name="max-tms" type="xs:int"/>
            <xs:element minOccurs="0" name="tms-name" type="len32Type"/>
            <xs:element minOccurs="0" name="env-file" type="len256Type"/>
            <xs:element minOccurs="0" name="authent-name" type="len32Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="logging" type="len256Type"/>
            <xs:element minOccurs="0" name="script-location" type="len256Type">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>scriptloc</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="filter-name" type="len256Type">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>filter</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="default-mimetype" type="len64Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="expires-name" type="len256Type">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>expires</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="serverType">
        <xs:sequence>
            <xs:element name="name" type="len32Type"/>
            <xs:element minOccurs="0" name="svg-name" type="len32Type"/>
            <xs:element minOccurs="0" name="cl-opt" type="len256Type"/>
            <xs:element minOccurs="0" name="seq-no" type="xs:int"/>
            <xs:element minOccurs="0" name="min-proc" type="xs:int"/>
            <xs:element minOccurs="0" name="max-proc" type="xs:int"/>
            <xs:element minOccurs="0" name="userlog-dir" type="len256Type"/>
            <xs:element minOccurs="0" name="uri-dir" type="len256Type"/>
            <xs:element minOccurs="0" name="conversation-mode" type="xs:boolean">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>conv</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="maxq-count" type="xs:int" default="0"/>
            <xs:element minOccurs="0" name="maxq-url" type="xs:token"/>
            <xs:element minOccurs="0" name="asq-count" type="xs:int" default="0"/>
            <xs:element minOccurs="0" name="flow-control" type="xs:int" default="50"/>
            <xs:element minOccurs="0" name="max-restart" type="xs:int" default="10"/>
            <xs:element minOccurs="0" name="svr-cpc" type="xs:int" default="1"/>
            <xs:element minOccurs="0" name="svr-type" type="len32Type"/>
            <xs:element minOccurs="0" name="http-out-buf-size" type="xs:int" default="4096"/>
            <xs:element minOccurs="0" name="use-shm-size" type="xs:int"/>
            <xs:element minOccurs="0" name="alloc-shm-size" type="xs:int"/>
            <xs:element minOccurs="0" name="http-in-buf-size" type="xs:int" default="8192"/>
            <xs:element minOccurs="0" name="max-requests" type="xs:int" default="0"/>
            <xs:element minOccurs="0" name="svr-chktime" type="xs:int" default="0"/>
            <xs:element minOccurs="0" name="schedule" type="len256Type" default="RR"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="options" type="len256Type"/>
            <xs:element minOccurs="0" name="keep-alive-use" type="xs:token"/>
            <xs:element minOccurs="0" name="timeout" type="xs:long" default="300000"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="serviceType">
        <xs:sequence>
            <xs:element name="name" type="len16Type"/>
            <xs:element minOccurs="0" name="priority" type="xs:int" default="50"/>
            <xs:element minOccurs="0" name="svc-time" type="xs:long" default="0"/>
            <xs:element minOccurs="0" name="routing" type="len32Type"/>
            <xs:element minOccurs="0" name="auto-transaction" type="xs:boolean" default="false"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="directoryType">
        <xs:sequence>
            <xs:element name="name" type="len32Type"/>
            <xs:element name="dir-path" type="len256Type">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>directory</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="default-mimetype" type="xs:token"/>
            <xs:element minOccurs="0" name="force-mimetype" type="xs:token"/>
            <xs:element minOccurs="0" name="node-name" type="len32Type"/>
            <xs:element minOccurs="0" name="vhost-name" type="len32Type"/>
            <xs:element minOccurs="0" name="access-name" type="len32Type"/>
            <xs:element minOccurs="0" name="authent-name" type="len32Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="options" type="len256Type"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="uriType">
        <xs:sequence>
            <xs:element name="name" type="len32Type"/>
            <xs:element name="uri-def" type="len256Type">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>uri</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="svr-type" type="len32Type"/>
            <xs:element minOccurs="0" name="svr-name" type="len32Type"/>
            <xs:element minOccurs="0" name="svc-name" type="len16Type"/>
            <xs:element minOccurs="0" name="routing" type="len32Type"/>
            <xs:element minOccurs="0" name="redirect" type="len256Type"/>
            <xs:element minOccurs="0" name="redirect-status" type="len32Type"/>
            <xs:element minOccurs="0" name="node-name" type="len32Type"/>
            <xs:element minOccurs="0" name="vhost-name" type="len32Type"/>
            <xs:element minOccurs="0" name="access-name" type="len32Type"/>
            <xs:element minOccurs="0" name="authent-name" type="len32Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="options" type="len256Type"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="aliasType">
        <xs:sequence>
            <xs:element name="name" type="len32Type"/>
            <xs:element name="uri-def" type="len256Type">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>uri</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="real-path" type="len256Type"/>
            <xs:element minOccurs="0" name="svr-type" type="len32Type"/>
            <xs:element minOccurs="0" name="node-name" type="len32Type"/>
            <xs:element minOccurs="0" name="vhost-name" type="len32Type"/>
        </xs:sequence>
    </xs:complexType>
 
    <xs:complexType name="dir-indexType">
        <xs:sequence>
            <xs:element name="name" type="len32Type"/>
            <xs:element name="option" type="len256Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="ignore" type="len256Type"/>
            <xs:element minOccurs="0" name="default-icon" type="len32Type"/>
            <xs:element minOccurs="0" name="description" type="len256Type"/>
            <xs:element minOccurs="0" name="header-file" type="len32Type"/>
            <xs:element minOccurs="0" name="tail-file" type="len32Type"/>
            <xs:element minOccurs="0" name="icon-ext" type="len256Type"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="loggingType">
        <xs:sequence>
            <xs:element name="name" type="len32Type"/>
            <xs:element name="format" type="len256Type"/>
            <xs:element name="file-name" type="len256Type"/>
            <xs:element minOccurs="0" name="valid-days" type="len256Type"/>
            <xs:element minOccurs="0" name="option" type="len256Type"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="accessType">
        <xs:sequence>
            <xs:element name="name" type="len32Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="method" type="len256Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="method-except" type="len256Type"/>
            <xs:element minOccurs="0" name="order" type="len256Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="allow" type="len1024Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="deny" type="len1024Type"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="authentType">
        <xs:sequence>
            <xs:element name="name" type="len32Type"/>
            <xs:element name="type" type="len32Type"/>
            <xs:element name="user-file" type="len256Type"/>
            <xs:element name="group-file" type="len256Type"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="extType">
        <xs:sequence>
            <xs:element name="name" type="len32Type"/>
            <xs:element minOccurs="0" name="mimetype" type="len64Type"/>
            <xs:element minOccurs="0" name="svr-type" type="len32Type"/>
            <xs:element minOccurs="0" name="svr-name" type="len32Type"/>
            <xs:element minOccurs="0" name="svc-name" type="len16Type"/>
            <xs:element minOccurs="0" name="routing" type="len32Type"/>
            <xs:element minOccurs="0" name="node-name" type="len32Type"/>
            <xs:element minOccurs="0" name="vhost-name" type="len32Type"/>
            <xs:element minOccurs="0" name="access-name" type="len32Type"/>
            <xs:element minOccurs="0" name="authent-name" type="len32Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="options" type="len256Type"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="sslType">
        <xs:sequence>
            <xs:element name="name" type="len32Type"/>
            <xs:element name="certificate-file" type="len256Type"/>
            <xs:element name="certificate-key-file" type="len256Type"/>
            <xs:element minOccurs="0" name="CA-certificate-path" type="len256Type"/>
            <xs:element minOccurs="0" name="CA-certificate-file" type="len256Type"/>
            <xs:element minOccurs="0" name="certificate-chain-file" type="len256Type"/>
            <xs:element minOccurs="0" name="verify-depth" type="xs:token"/>
            <xs:element minOccurs="0" name="verify-client" type="xs:token"/>
            <xs:element minOccurs="0" name="fake-basic-auth" type="xs:token">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>fakebasicauth</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="required-ciphers" type="len256Type"/>
            <xs:element minOccurs="0" name="random-file" type="len256Type"/>
            <xs:element minOccurs="0" name="random-file-per-conn" type="len256Type">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>randomfileperconnection</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="pass-phrase-dialog" type="len256Type"/>
            <xs:element minOccurs="0" name="crypto-device" type="len256Type"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="error-docType">
        <xs:sequence>
            <xs:element name="name" type="len32Type"/>
            <xs:element name="status" type="xs:int"/>
            <xs:element minOccurs="0" name="url" type="len256Type"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="filterType">
        <xs:sequence>
            <xs:element name="name" type="len32Type"/>
            <xs:element name="real-path" type="len256Type"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="options" type="len256Type"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="expiresType">
        <xs:sequence>
            <xs:element name="name" type="len32Type"/>
            <xs:element minOccurs="0" name="mimetype" type="len64Type"/>
            <xs:element minOccurs="0" name="url" type="len256Type"/>
            <xs:element minOccurs="0" name="dir-path" type="len256Type">
                <xs:annotation>
                    <xs:appinfo>
                        <metadata>
                            <orginal-name>directory</orginal-name>
                        </metadata>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="files" type="len256Type"/>
            <xs:element minOccurs="0" name="expires-time" type="len256Type"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ssl-useType">
        <xs:sequence>
            <xs:element name="ssl-name" type="len32Type"/>
            <xs:element minOccurs="0" name="ssl-flag" type="xs:boolean" default="false"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tcpgwType">
        <xs:sequence>
            <xs:element name="name" type="len32Type"/>
            <xs:choice>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="port" type="len1024Type"/>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="listen" type="len1024Type"/>
            </xs:choice>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="server-address" type="len1024Type"/>
            <xs:element minOccurs="0" name="ssl-use" type="ssl-useType"/>
            <xs:element minOccurs="0" name="timeout" type="xs:long" default="300000"/>
            <xs:element minOccurs="0" name="connect-timeout" type="xs:long" default="5000"/>
            <xs:element minOccurs="0" name="connect-try" type="xs:int" default="1"/>
            <xs:element minOccurs="0" name="connect-direction" type="len256Type" default="CS"/>
            <xs:element minOccurs="0" name="schedule" type="len256Type" default="RR"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="options" type="len256Type"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cache-useType">
        <xs:sequence>
            <xs:element name="cache-entry" type="xs:int" default="128"/>
            <xs:element minOccurs="0" name="cache-size" type="xs:int" default="128"/>
            <xs:element minOccurs="0" name="cache-refresh-html" type="xs:int" default="0"/>
            <xs:element minOccurs="0" name="cache-refresh-dir" type="xs:int" default="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="keep-alive-useType">
        <xs:sequence>
            <xs:element name="keep-alive" type="xs:boolean" default="true"/>
            <xs:element minOccurs="0" name="keep-alive-timeout" type="xs:long" default="60000"/>
            <xs:element minOccurs="0" name="keep-alive-max" type="xs:token" default="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="proxy-useType">
        <xs:sequence>
            <xs:element name="proxy-ipaddr" type="len256Type"/>
            <xs:element name="proxy-port" type="xs:int"/>
            <xs:element minOccurs="0" name="proxy-option" type="len256Type"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="len16Type">
        <xs:restriction base="xs:token">
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="len32Type">
        <xs:restriction base="xs:token">
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="len64Type">
        <xs:restriction base="xs:token">
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="len128Type">
        <xs:restriction base="xs:token">
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="len256Type">
        <xs:restriction base="xs:token">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="len1024Type">
        <xs:restriction base="xs:token">
            <xs:maxLength value="1024"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
