5_ubuntu14.04.5_jdk6/data/config/xsds/ja/jeus-webservices-dd.xsd

<?xml version="1.0" encoding="Shift-JIS"?>
<xs:schema 
    attributeFormDefault="unqualified" 
    elementFormDefault="qualified" 
    targetNamespace="http://www.tmaxsoft.com/xml/ns/jeus" version="5.0" 
    xmlns="http://www.tmaxsoft.com/xml/ns/jeus" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">      
    <xs:include schemaLocation="jeus-common.xsd"/>     
    <xs:include schemaLocation="jeus-wssecurity-dd.xsd"/>     
    <xs:include schemaLocation="jeus-webservices-client-dd.xsd"/>    
    <xs:element name="jeus-webservices-dd" type="jeus-webservices-ddType">      
        <xs:annotation>          
            <xs:documentation><![CDATA[
                    [Description]: JEUSウェブサービス設定文書のroot element
                ]]>
            </xs:documentation>      
        </xs:annotation>  
    </xs:element>    
    <xs:complexType name="jeus-webservices-ddType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="ejb-context-path" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 配置するEJBウェブサービスのためのエンドポイントURLのコンテクスト(Context)のパスを表示します。
                                EJBエンドポイントでのみ使用します。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="ejb-login-config" type="ejb-login-configType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: EJBウェブサービスエンドポイントURLに対してクライアントが認証を受けるのに
                                使われる認証方法と認証領域を表示します。EJBエンドポイントでのみ使用します。  
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="service-info-page" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: サービスがWebブラウザに呼び出されたときに出力される画面をカスタマイズするする際に使用します。担当するページの“/”で始まるコンテキスト相対パスを指定します。                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element maxOccurs="unbounded" name="service" type="serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 配置されるウェブサービスを表示します。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="ejb-login-configType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="auth-method" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 認証方法を設定します。
                                'BASIC', 'CLIENT-CERT', 'DIGEST', 'FORM' の値のなかで1つを選択します。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="realm-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 保安政策が適用されるドメインを設定します。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="serviceType">   
        <xs:sequence>    
            <xs:element name="webservice-description-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: WSDLファイルで、関連されたウェブサービスエンドポイント名前です。
                                &lt;webservice-description-name>は、標準配置記述者 webservice.xmlの 
                                &lt;webservice-description-name>に対応します。
                            [Dependency]:/webservices/webservice-description/webservice-description-name    
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-publish" type="wsdl-publishType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: WSDLを公開する方式を設定します。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element maxOccurs="unbounded" name="port" type="portType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: ウェブサービスのport情報を設定します。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="wsdl-publishType">   
        <xs:sequence>    
            <xs:choice>     
                <xs:element name="http-publish" type="http-publishType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                                [Description]: http方式で公開されるWSDLを示します。
                                    公開されたWSDLでimportするschemaは、HTTP URLによって参照されます。
                            ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>     
                <xs:element name="file-publish" type="file-publishType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                                [Description]: file方式しい公開されるWSDLを示します。
                                    公開されたWSDLで importするschemaは、ファイル相手パスによって参照されます。
                            ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>    
            </xs:choice>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="http-publishType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="server-url" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 配置されたウェブサービスのWSDLファイルを公開するサーバーの URLです。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="secure-server-url" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 配置されたウェブサービスの WSDLファイルを公開するサーバーの URLです。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-url" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: 配置されたWebサービスのWSDLファイルをWebサービスのコンテキスト内で基本的に設定される既存のWSDL公開URL(一般的に'/{サービス名}?wsdl')に付加的にこのURLでも公開できます。                            (コンテキスト以後のURLのみ設定でき、'/specified_url'と同じ方式で設定します。)                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>               
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="file-publishType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="server-url" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 配置されたウェブサービスのWSDLファイルを公開するサーバーの URLです。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="secure-server-url" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 配置されたウェブサービスの WSDLファイルを公開するサーバーの URLです。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element name="publish-path" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: ウェブサービス WSDLが保存されるディレクトリを表示します。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="portType">   
        <xs:sequence>    
            <xs:element name="port-component-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: ウェブ・サービス・エンドポイントを区別するための名前を表示します。
                                &lt;port-component-name>は、標準配置記述子
webservice.xmlの
                                &lt;port-component-name>に相応します。
                            [Dependency]:/webservices/webservice-description/port-component/port-component-name 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="ejb-endpoint-url" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: EJBエンドポイントにアクセスできるエンドポイント URLを表示します。
                                EJBエンドポイントでのみ使用します。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="tie-class" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: ウェブサービス・エンドポイントURLとウェブサービスEndpintインターフェースを
                                連結するclassを表示します。
                                配置時に自動生成されるのでウェブサービス配置子が表示する必要はありません。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="service-property" type="nameValueType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: 特定サービスのエンドポイント・ポートtに設定するプロパティを表示します。                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>           
            <xs:element minOccurs="0" name="ejb-transport-guarantee" type="ejb-transport-guaranteeType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: EJBエンドポイントで取り交わすメッセージに大韓
                                気密性(confidentiality)と無欠性(integrity) 構成を表示する.
                                設定可能な値は、 ‘NONE’, ‘CONFIDENTIAL’または‘INTEGRAL’です。 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="soapver" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 配置されたウェブサービスで サービスする SOAP メッセージのバージョンを表示します。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="security" type="securityType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: ウェブサービスの保安(WS-Security)のための設定です。 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="rm" type="rmType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: ウェブサ?ビスの Reliable メッセ?ジング(WS-ReliableMessaging)を使います.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="transaction" type="emptyType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Webサービスのトランザクション(WS-Transaction)を使用することを示します。                    ]]>
                    </xs:documentation>                 
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:simpleType name="ejb-transport-guaranteeType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="NONE"/>    
            <xs:enumeration value="INTEGRAL"/>    
            <xs:enumeration value="CONFIDENTIAL"/>   
        </xs:restriction>  
    </xs:simpleType>    
    <xs:complexType name="securityType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="request-receiver" type="security-receiverType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: ウェブサービス・クライアントの保安メッセージ要請を処理するための設定です。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="response-sender" type="security-senderType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: ウェブサービスが SOAPメッセージを処理した後に、応答を返すとき、保安が適用されたメッセージを送るための設定です。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>   
    </xs:complexType>       
    <xs:complexType name="rmType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="client-provider" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: RM Web Serviceがクライアントモ?ドで動作することを現わします. デフォルトは "false"です
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>       
    </xs:complexType>    
</xs:schema>
