5_ubuntu14.04.5_jdk6/jeus5/samples/manual_examples/webservice/09_msg_handler/file_attachment_client/wsdl/FileAttachmentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:FileAttachmentService" xmlns:impl="urn:FileAttachmentService" xmlns:intf="urn:FileAttachmentService" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
   <schema elementFormDefault="qualified" targetNamespace="urn:FileAttachmentService" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="receiveFile">
     <complexType>
      <sequence>
       <element name="in0" type="xsd:string"/>
      </sequence>
     </complexType>
    </element>
    <element name="receiveFileResponse">
     <complexType>
      <sequence>
       <element name="result" type="xsd:string"/>
      </sequence>
     </complexType>
    </element>
   </schema>
  </wsdl:types>
  <wsdl:message name="receiveFileRequest">
    <wsdl:part name="parameters" element="impl:receiveFile"/>
  </wsdl:message>
  <wsdl:message name="receiveFileResponse">
    <wsdl:part name="parameters" element="impl:receiveFileResponse"/>
  </wsdl:message>
  <wsdl:portType name="FileTransferIF">
    <wsdl:operation name="receiveFile">
      <wsdl:input name="receiveFileRequest" message="impl:receiveFileRequest"/>
      <wsdl:output name="receiveFileResponse" message="impl:receiveFileResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileTransferIFSoapBinding" type="impl:FileTransferIF">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="receiveFile">
      <soap:operation soapAction=""/>
      <wsdl:input name="receiveFileRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="receiveFileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileAttachmentService">
    <wsdl:port name="FileTransferIFPort" binding="impl:FileTransferIFSoapBinding">
      <soap:address location="http://localhost:8088/FileAttachmentService/FileAttachmentService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
