modules/jeus5/config/xsds/ja/jeus-security.xsd

<?xml version="1.0" encoding="Shift-JIS"?>
<xs:schema 
    attributeFormDefault="unqualified" 
    elementFormDefault="qualified" 
    targetNamespace="http://www.tmaxsoft.com/xml/ns/jeus" version="5.0" 
    xmlns="http://www.tmaxsoft.com/xml/ns/jeus" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">      
    <xs:include schemaLocation="jeus-common.xsd"/>      
    <xs:element name="security-manager" type="security-managerType">         
        <xs:annotation>             
            <xs:documentation><![CDATA[
                        [Description]: security-manager elementは、JEUS securityの情報管理に対する説明です。
                    ]]>
            </xs:documentation>         
        </xs:annotation>     
    </xs:element>      
    <xs:complexType name="security-managerType">         
        <xs:sequence>             
            <xs:element default="true" minOccurs="0" name="use-nio" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: security manager Nonblocking I/Oを使用して通信するかどうかを指定します。
                        [Performance Recommendation]:　数多いエンジン・コンテナおよびクライアントを使用する場合には
                        Nonblocking I/Oがより高い効率を示し、security managerを使用するクライアントの数が少なければ、
                        Blocking I/Oがより効率的です。
                    ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="connect-retries" type="xs:int">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Security Network serviceの中でconnection retry count値を定義する
                     
                    ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="security-domains" type="security-domainsType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: このJEUS Managerで使用するsecurity domainを設定します。詳しくは、
                        JEUSセキュリティガイドを参照してください。
                     
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="security-domainsType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="security-domain" type="security-domainType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: JEUSで使用するsecurity domainを設定します。
                        
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="security-domainType">         
        <xs:sequence>             
            <xs:element name="name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: ドメインの名前を設定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="cache-manager" type="cache-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: JEUS Security Framwrok?? ???? cache?? ??? ?.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="keystore-manager" type="keystore-managerType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: keystore/truststore fileに対する設定をする
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:choice>                 
                <xs:group ref="SecurityServices"/>                 
                <xs:element maxOccurs="unbounded" minOccurs="0" name="custom-service" type="SecurityServiceType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                        [Description]: 該当ドメインにJEUS Security Frameworkで提供するサービスの属性に関係なく、
                                       JEUS Security SPIを内装したサービスの属性に別途のセキュリティサービスを登録することができます。
                   
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:group name="SecurityServices">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="authentication" type="authenticationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: authenticaiton service? ????.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="authorization" type="authorizationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: authorizaiton service? ????.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="login" type="login-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: Login service? ????.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="identity-assertion" type="identity-assertionType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: identity assertion service? ????.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="credential-mapping" type="credential-mappingType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: credential mapping service? ????.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="credential-verification" type="credential-verificationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: credential verification service? ????.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="audit" type="auditType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: audit service? ????.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="subject-validation" type="subject-validationType">                 
                <xs:annotation>                     
                    <xs:documentation/>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:group>      
    <xs:complexType name="authenticationType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="repository-service" type="repository-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: repository serviceを定義する 
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="cache-service" type="cache-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: JEUS Security Framwrokで適用するキャッシュ関連の設定をする。
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="custom-authentication-service" type="SecurityServiceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: custom authentication serviceを定義する
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="repository-serviceType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element minOccurs="0" name="xml-file-repository" type="xml-file-repositoryType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                        [Description]: authentication serviceのためのxmlリポジトリサービス関連定義
                    
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element minOccurs="0" name="database-repository" type="database-repositoryType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                        [Description]: authentication serviceのためのdb repository service関連定義
                    
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element minOccurs="0" name="custom-repository" type="SecurityServiceType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                        [Description]: custom repository serviceを定義する                    
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="xml-file-repositoryType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="config-file" type="config-fileType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: xmlリポジトリファイル情報の定義
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="database-repositoryType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element name="datasource-export-name" type="xs:token">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                           [Description]: db authentication repository serviceのためのdb export-nameの設定
                       
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element name="dbdriver-config" type="dbdriver-configType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                           [Description]: db authentication repository serviceのためのdb export-nameの設定
                       
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="dbdriver-configType">         
        <xs:sequence>             
            <xs:element name="vendor" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: db authentication repository serviceのためのdbベンダの設定
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="driver" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: db authentication repository serviceのためのdb driverの設定
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="url" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: db authentication repository serviceのためのdb urlの設定
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="username" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: db authentication repository serviceのためのdb connection時に適用されるユーザ名の設定
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="password" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: db authentication repository serviceのためのdb connection時に適用されるパスワードの設定
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="config-fileType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="filename" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                               [Description]: user/group security情報を含んだxml configuration fileの名前
                           
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="filepath" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: user/group security情報を含むxml configuration fileのパス
                           
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="cache-serviceType">         
        <xs:sequence>             
            <xs:element name="min" type="xs:int">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: authentication serviceに定義するキャッシュの最小値
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="max" type="xs:int">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: authentication serviceに適用するキャッシュの最大値
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="-1" minOccurs="0" name="timeout" type="off-longType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: authentication serviceに適用するキャッシュタイムアウトのサイズ
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="identity-assertionType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element minOccurs="0" name="default-identity-assertion-service" type="default-identity-assertionType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                           [Description]: 現在のドメインにデフォルトに適用するIdentity Assertion Serviceの設定
                       
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element minOccurs="0" name="custom-identity-assertion-service" type="SecurityServiceType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                           [Description]: 証明書とユーザ間のマッピング情報を定義したConfigurationファイルのパス
                       
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="default-identity-assertionType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element minOccurs="0" name="x509-identity-assertion" type="x509-identity-assertionType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                           [Description]: X509Certificateに対するIdentity Assertion Serviceの設定 
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="x509-identity-assertionType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="config-file" type="config-fileType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: X509Certificateファイルパスの定義
                                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:choice>                 
                <xs:element minOccurs="0" name="default-user-mapper" type="default-user-mapperType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                           [Description]: X509Certificate tokenに対してユーザをマッピングするための情報の定義
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element minOccurs="0" name="custom-user-mapper" type="custom-propertyType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                        [Description]: X509Certificate tokenに対するユーザのマッピングのための追加属性の定義
                                    
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="custom-propertyType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="1" name="property" type="SecurityServicePropertyType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: credentialをマッピングするための関連情報を属性値で定義します。
                                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="default-user-mapperType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="cert-attr-type" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: credentialをマッピングするための関連情報をプロパティ値で定義します。
                                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="attribute-type" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                         [Description]: credentialをマッピングするための関連情報をプロパティ値で定義します。
                                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="attribute-value-delimiter" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: credentialをマッピングするための関連情報をプロパティ値で定義します。
                                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="login-serviceType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element minOccurs="0" name="jaas-login-config" type="jaas-login-configType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                            [Description]: jaas login serviceを定義します。
                        
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element minOccurs="0" name="custom-login-service" type="SecurityServiceType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                        [Description]: custom login serviceを定義する
                    
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="jaas-login-configType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="callback-handler-classname" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: JAAS callback handler factoryクラスの名前
                                            
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="login-module" type="login-moduleType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: ログイン・モジュールの設定
                                        
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="login-moduleType">         
        <xs:sequence>             
            <xs:element name="login-module-classname" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: LoginModuleを内装したパッケージを含んだクラス名
                                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="control-flag" type="control-flagType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: authenticationの適用方式の定義
                                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="option" type="optionType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: LoginModuleの初期化時に適用する属性を定義します。
                                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:simpleType name="control-flagType">         
        <xs:restriction base="xs:token">             
            <xs:enumeration value="required">                 
                <xs:annotation>                     
                    <xs:documentation/>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="requisite">                 
                <xs:annotation>                     
                    <xs:documentation/>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="sufficient">                 
                <xs:annotation>                     
                    <xs:documentation/>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="optional">                 
                <xs:annotation>                     
                    <xs:documentation/>                 
                </xs:annotation>             
            </xs:enumeration>         
        </xs:restriction>     
    </xs:simpleType>     
    <xs:complexType name="optionType">         
        <xs:sequence>             
            <xs:element name="name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                         [Description]: LoginModuleの初期化時に適用される属性の名前
                                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="value" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: LoginModuleの初期化時に適用されるプロパティ値
                                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="credential-mappingType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="default-credential-mapping-service" type="default-credential-mapping-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: default credential mapping serviceを定義する
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="custom-credential-mapping-service" type="SecurityServiceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: custom credential mapping serviceを定義する
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="default-credential-mapping-serviceType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="x509-credential-mapping" type="x509-credential-mappingType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: X509Certificateに対するIdentity Assertion Serviceの設定
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="x509-credential-mappingType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="truststore-path" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 現在のドメインに適用するtruststore fileのパスを定義します。
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="changeit" minOccurs="0" name="truststore-password" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 現在のドメインに適用するtruststore fileに対するパスワードを定義する
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="credential-verificationType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="default-credential-verification-service" type="default-credential-verification-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: default credential verification serviceを定義する
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="custom-credential-verification-service" type="SecurityServiceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: custom credential verification serviceを定義します。
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="default-credential-verification-serviceType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="password-verification">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: PasswordFactoryクラスに対するcredential verificationの設定
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>                 
                <xs:complexType/>             
            </xs:element>             
            <xs:element minOccurs="0" name="jeus-certificate-verification">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: X509Certificateに対するcredential verificationの設定
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>                 
                <xs:complexType/>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="subject-validationType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="default-subject-validation-service">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: default subject-validation serviceを定義する
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>                 
                <xs:complexType/>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="custom-subject-validation-service" type="SecurityServiceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: custom subject-validation serviceを定義する
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="auditType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="default-audit-service" type="default-audit-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: default audit serviceを定義する
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="custom-audit-service" type="SecurityServiceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: custom audit serviceを定義する
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="default-audit-serviceType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="config-file" type="config-fileType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: audit logファイル情報の定義
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="audit-level" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: audit log level
                       ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="authorizationType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element minOccurs="0" name="repository-service" type="repository-serviceType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                        [Description]: default repository serviceを定義します。
                    
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element maxOccurs="1" minOccurs="0" name="jacc-service">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                        [Description]: JACC Serviceの使用可否を定義します。
                    
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                     
                    <xs:complexType/>                 
                </xs:element>             
            </xs:choice>             
            <xs:element minOccurs="0" name="cache-service" type="cache-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: JEUS Security Framwrokで適用するキャッシュ関連設定をする
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="custom-authorization-service" type="SecurityServiceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: custom authorization serviceを定義します。
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType> 
</xs:schema>
