5_ubuntu14.04.5_jdk6/data/config/xsds/en/jeus-webservices-client-dd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    attributeFormDefault="unqualified" 
    elementFormDefault="qualified" 
    targetNamespace="http://www.tmaxsoft.com/xml/ns/jeus" version="5.0" 
    xmlns="http://www.tmaxsoft.com/xml/ns/jeus" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">     
    <xs:include schemaLocation="jeus-wssecurity-dd.xsd"/>    
    <xs:complexType name="jeus-webservices-client-ddType">      
        <xs:sequence>    
            <xs:element maxOccurs="unbounded" name="service-client" type="serviceClientType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]:  Settings for Web Service Client to be batched are specified for this field. 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>      
        </xs:sequence>  
    </xs:complexType>         
    <xs:complexType name="serviceClientType">   
        <xs:sequence>    
            <xs:element name="service-ref-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element is an endpoint name of Web Service related to WSDL file. 
                                &lt;webservice-description-name> element corresponds to &lt;webservice-description-name> of webservice.xml
                                which is standard batch descriptor.
                            [Dependency]:/web-app/service-ref/service-ref-name   
                            			 /ejb-jar/enterprise-beans/session/service-ref/service-ref-name 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element maxOccurs="unbounded" minOccurs="0" name="port-info" type="portInfoType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: Web Service port information to be batched in which Web Service client calls is specified for this field. 
                         
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    <!-- service-impl-class : determined in the deployment time -->    
            <xs:element minOccurs="0" name="service-impl-class" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: Construction of service for Web Service Client is specified for this field. 
                                There is no need to set Web Service batcher manually since it is generated automatically.  
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-override" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: Location fo WSDL file which replaces &lt;wsdl-file> of &lt;service-ref> is  for this field. 
                                Specified location should be available URL. 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="require-dynamic-proxy" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Direct to use dynamic proxy within ServiceReferenceFactory when using port component link.                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    <!-- service-qname : determined in the deployment time -->    
            <xs:element minOccurs="0" name="service-qname" type="xs:QName">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: WSDL service of WSDL is specified for this field.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element maxOccurs="unbounded" minOccurs="0" name="call-property" type="nameValueType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: Properties set for entire javax.xml.rpc.Call object used in WSDL service are specified for this field
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="portInfoType">      
        <xs:sequence>    
            <xs:element minOccurs="0" name="service-endpoint-interface" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: The class presenting service endpoint interface of WSDL port is specified. 
                                This element corresponds to &lt;service-endpoint-interface> of &lt;port-component-ref> in &lt;service-ref>.
                            [Dependency]:/web-app/service-ref/port-component-ref/service-endpoint-interface
                            			 /ejb-jar/enterprise-beans/session/service-ref/port-component-ref/service-endpoint-interface
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>          
            <xs:element minOccurs="0" name="wsdl-port" type="xs:QName">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element describes WSDL port definition connecting to &lt;port-info>.      
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="stub-property" type="nameValueType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: The properties which are set in jacax.xml.rpc.Stub using specific port are specified for this field.  
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="call-property" type="nameValueType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 
		        The properties to set in javax.xml.rpc.Call object being used in specific prot are specified for this field. 
                        ]]>                     
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="security" type="webservice-securityType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This is configuration for Web Service Client configuration of Web Service Security (WS-Security). 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>                  
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="nameValueType">      
        <xs:sequence>          
            <xs:element name="name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: The key name for setting property on javax.xml.rpc.Call or javax.xml.rpc.Stub is specified for this field. 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>          
            <xs:element name="value" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: The value corresponds to the key used for setting property on javax.xml.rpc.Stub or javax.xml.rpc.Call.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>      
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="webservice-securityType">      
        <xs:sequence>          
            <xs:element minOccurs="0" name="request-sender" type="security-senderType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This is configuration for applying security in message to call Web Service.                      
                         ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>          
            <xs:element minOccurs="0" name="response-receiver" type="security-receiverType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: In case where security is applied to Web Service response message, this is configuration for processing it. 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>      
        </xs:sequence>  
    </xs:complexType>    
</xs:schema>
