5_ubuntu14.04.5_jdk6/data/config/xsds/en/jeus-security.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    attributeFormDefault="unqualified" 
    elementFormDefault="qualified" 
    targetNamespace="http://www.tmaxsoft.com/xml/ns/jeus" version="5.0" 
    xmlns="http://www.tmaxsoft.com/xml/ns/jeus" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">      
    <xs:include schemaLocation="jeus-common.xsd"/>      
    <xs:element name="security-manager" type="security-managerType">         
        <xs:annotation>             
            <xs:documentation><![CDATA[                        [Description]: security-manager element is a description of JEUS security information management.                    ]]>
            </xs:documentation>         
        </xs:annotation>     
    </xs:element>      
    <xs:complexType name="security-managerType">         
        <xs:sequence>             
            <xs:element default="true" minOccurs="0" name="use-nio" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Configure communication status using security manager Nonblocking I/O.                        [Performance Recommendation]: In case of using a numbe of Engine containers and clients,			Nonblocking I/O will be more efficient. If the number of clients using security manager are a few, 			Blocking I/O will be more efficient.                     ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="connect-retries" type="xs:int">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Define connection retry count value among Security Network services.                     ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="security-domains" type="security-domainsType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Configure security domain to be used in JEUS Manager. For additional information,			please refer to JEUS Security Manual.                     ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="security-domainsType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="security-domain" type="security-domainType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                            [Description]: Configure security domain to be used in JEUS.                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="security-domainType">         
        <xs:sequence>             
            <xs:element name="name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                            [Description]: Configure the name for domain.                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="cache-manager" type="cache-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Configure cache related configuration applied in JEUS Security Framwrok.                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="keystore-manager" type="keystore-managerType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Configure keystore/truststore file.                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:choice>                 
                <xs:group ref="SecurityServices"/>                 
                <xs:element maxOccurs="unbounded" minOccurs="0" name="custom-service" type="SecurityServiceType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                        [Description]: Regardless of the service attribute provided by JEUS Security Framework in corresponding domain, 
                        register extra security service to the service attribute which implements JEUS Security SPI.
                   
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:group name="SecurityServices">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="authentication" type="authenticationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                            [Description]: Configure authenticaiton service.                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="authorization" type="authorizationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                            [Description]: Define authorizaiton service.                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="login" type="login-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                            [Description]: Define Login service.                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="identity-assertion" type="identity-assertionType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                            [Description]: Defines identity assertion service.                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="credential-mapping" type="credential-mappingType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                            [Description]: Define credential mapping service.                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="credential-verification" type="credential-verificationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                            [Description]: Defines credential verification service.                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="audit" type="auditType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                            [Description]: Defines audit service.                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="subject-validation" type="subject-validationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: Specify the subject valdation service.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:group>      
    <xs:complexType name="authenticationType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="repository-service" type="repository-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Define default repository service.                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="cache-service" type="cache-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Configure cache related configuration applied in JEUS Security Framwrok.                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="custom-authentication-service" type="SecurityServiceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Define custom authentication service.                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="repository-serviceType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element minOccurs="0" name="xml-file-repository" type="xml-file-repositoryType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[                        [Description]: Define xml repository service for authentication service                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element minOccurs="0" name="database-repository" type="database-repositoryType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[                        [Description]: Define related db repository for service authentication service                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element minOccurs="0" name="custom-repository" type="SecurityServiceType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[                        [Description]: Define custom repository service.                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="xml-file-repositoryType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="config-file" type="config-fileType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                           [Description]: Configure xml repository file information.                       ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="database-repositoryType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element name="datasource-export-name" type="xs:token">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                           [Description]: Specify db export-name for db authentication repository service.
                       
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element name="dbdriver-config" type="dbdriver-configType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                           [Description]: Specify the db export-name for db authentication repository service.
                       
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="dbdriver-configType">         
        <xs:sequence>             
            <xs:element name="vendor" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: Specify db vendordb for authentication repository service.
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="driver" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: Specify the db driver for db authentication repository service.
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="url" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: Specify db url for db authentication repository service.
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="username" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: Specify the username applied to db connection for db authentication repository service.
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="password" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: Specify the password which is applied to the db connection for db authentication repository service.
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="config-fileType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="filename" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                               [Description]:xml configuration file name containing user/group security information                           ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="filepath" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                               [Description]: xml configuration file path including user/group security information                            ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="cache-serviceType">         
        <xs:sequence>             
            <xs:element name="min" type="xs:int">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                           [Description]: Cache min size value applied to authentication service.                       ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="max" type="xs:int">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                           [Description]: Cache max size value to be applied to authentication service                       ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="-1" minOccurs="0" name="timeout" type="off-longType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                           [Description]: Define cache timeout size value to be applied to authentication service                       ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="identity-assertionType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element minOccurs="0" name="default-identity-assertion-service" type="default-identity-assertionType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[                           [Description]: Configure Identity Assertion Service to be applied as default within current domain.                       ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element minOccurs="0" name="custom-identity-assertion-service" type="SecurityServiceType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[                           [Description]: Configuration File path defining mapping information between certificate and user                        ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="default-identity-assertionType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element minOccurs="0" name="x509-identity-assertion" type="x509-identity-assertionType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[                           [Description]: Configure Identity Assertion Service for X509Certificate.                       ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="x509-identity-assertionType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="config-file" type="config-fileType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                        [Description]: Defines X509Certificate File Path                                     ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:choice>                 
                <xs:element minOccurs="0" name="default-user-mapper" type="default-user-mapperType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[                                        [Description]: Defines information for user mapping on X509Certificate token.                                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element minOccurs="0" name="custom-user-mapper" type="custom-propertyType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[                                        [Description]: Define additional property for doing user mapping for X509Certificate token                                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="custom-propertyType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="1" name="property" type="SecurityServicePropertyType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                        [Description]: Define relevant information used for mapping credential as property value.                                     ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="default-user-mapperType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="cert-attr-type" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                        [Description]: Define relevant information used for mapping credential as property value.                                     ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="attribute-type" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                        [Description]: Define relevant information used for mapping credential as property value.                                     ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="attribute-value-delimiter" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                        [Description]: Define relevant information used for mapping credential as property value.                                     ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="login-serviceType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element minOccurs="0" name="jaas-login-config" type="jaas-login-configType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[                            [Description]: Defines jaas login service.                        ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element minOccurs="0" name="custom-login-service" type="SecurityServiceType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[                        [Description]: Defines custom login service.                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="jaas-login-configType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="callback-handler-classname" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                            [Description]: JAAS callback handler factory class name                                             ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="login-module" type="login-moduleType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                            [Description]: Configure login module                                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="login-moduleType">         
        <xs:sequence>             
            <xs:element name="login-module-classname" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                        [Description]: Class name containing package implemented with LoginModule.                                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="control-flag" type="control-flagType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                        [Description]: Defines applicable method of authentication                                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="option" type="optionType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                        [Description]: Configure the attribute applied to LoginModule initialization.                                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:simpleType name="control-flagType">         
        <xs:restriction base="xs:token">             
            <xs:enumeration value="required">                 
                <xs:annotation>                     
                    <xs:documentation/>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="requisite">                 
                <xs:annotation>                     
                    <xs:documentation/>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="sufficient">                 
                <xs:annotation>                     
                    <xs:documentation/>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="optional">                 
                <xs:annotation>                     
                    <xs:documentation/>                 
                </xs:annotation>             
            </xs:enumeration>         
        </xs:restriction>     
    </xs:simpleType>     
    <xs:complexType name="optionType">         
        <xs:sequence>             
            <xs:element name="name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                        [Description]: Property name to be applied when initializing LoginModule                                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="value" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                        [Description]: Attribute value which is applied to LoginModule initialization.                                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="credential-mappingType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="default-credential-mapping-service" type="default-credential-mapping-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Defines default credential mapping service.                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="custom-credential-mapping-service" type="SecurityServiceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Configure custom credential mapping service.                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="default-credential-mapping-serviceType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="x509-credential-mapping" type="x509-credential-mappingType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                           [Description]: Configure Identity Assertion Service for X509Certificate.                       ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="x509-credential-mappingType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="truststore-path" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Define truststore file path to be applied to current domain.                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="changeit" minOccurs="0" name="truststore-password" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Configure the password for truststore file to be applied to current domain..                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="credential-verificationType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="default-credential-verification-service" type="default-credential-verification-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Define default credential verification service.                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="custom-credential-verification-service" type="SecurityServiceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Define custom credential verification service.                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="default-credential-verification-serviceType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="password-verification">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                           [Description]: Configure credential verification configuration for PasswordFactory class.                       ]]>
                    </xs:documentation>                 
                </xs:annotation>                 
                <xs:complexType/>             
            </xs:element>             
            <xs:element minOccurs="0" name="jeus-certificate-verification">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                           [Description]: Configure credential verification for X509Certificate.                       ]]>
                    </xs:documentation>                 
                </xs:annotation>                 
                <xs:complexType/>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="subject-validationType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="default-subject-validation-service">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Specify the default subject-validation service.
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>                 
                <xs:complexType/>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="custom-subject-validation-service" type="SecurityServiceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Define the custom subject-validation service.
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="auditType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="default-audit-service" type="default-audit-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Defines default audit service.                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="custom-audit-service" type="SecurityServiceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Defines custom audit service.                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="default-audit-serviceType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="config-file" type="config-fileType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                           [Description]: Define audit log file information                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="audit-level" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: audit log level
                       ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="authorizationType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element minOccurs="0" name="repository-service" type="repository-serviceType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[                        [Description]: Difine default repository service.                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element maxOccurs="1" minOccurs="0" name="jacc-service">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[                        [Description]: Define the usage status of JACC Service.                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                     
                    <xs:complexType/>                 
                </xs:element>             
            </xs:choice>             
            <xs:element minOccurs="0" name="cache-service" type="cache-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Configure cache related configuration applied in JEUS Security Framwrok.                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="custom-authorization-service" type="SecurityServiceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Configure custom authorization service.                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType> 
</xs:schema>
