resources/jeus5/config/xsds/zh/jms-main.xsd

<?xml version="1.0" encoding="GB2312"?>
<xs:schema 
    attributeFormDefault="unqualified" 
    elementFormDefault="qualified" 
    targetNamespace="http://www.tmaxsoft.com/xml/ns/jeus" version="5.0" 
    xmlns="http://www.tmaxsoft.com/xml/ns/jeus" 
    xmlns:j2ee="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">       
    <xs:include schemaLocation="jeus-common.xsd"/>      
    <xs:element name="jms-server" type="jms-serverType">         
        <xs:annotation>             
            <xs:documentation><![CDATA[
                [Description]: JMSMain.xml内最高级别的element。内部设定值中，相当于token或String的值不能包括以下符号。 ':', ',', '*', '?', '='
            ]]>
            </xs:documentation>         
        </xs:annotation>     
    </xs:element>      
    <xs:complexType name="jms-serverType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="broker-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]:JMS message broker的名称。没有设定时，使用主机名称。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element maxOccurs="unbounded" minOccurs="1" name="service-config" type="service-config">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]:提供messaging service所需的服务器渠道相关的设定。最少要设定一个以上。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element minOccurs="0" name="thread-pool" type="jms-thread-poolType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]:JMS message broker所使用thread pool相关的设定。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element minOccurs="0" name="access-log" type="system-loggingType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]:指定access log的信息。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element maxOccurs="unbounded" minOccurs="0" name="durable-subscriber" type="durable-subscriberType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 指定Durable subscriber的信息。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element maxOccurs="unbounded" minOccurs="0" name="connection-factory" type="connection-factoryType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: 指定connection factory的信息。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element maxOccurs="unbounded" minOccurs="0" name="destination" type="destinationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 指定目的地的信息。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element maxOccurs="unbounded" minOccurs="0" name="queue-cluster" type="queue-clusterType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 设定队列集群方式。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element maxOccurs="unbounded" minOccurs="0" name="topic-cluster" type="topic-clusterType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 设定topic集群方式。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element minOccurs="0" name="storage" type="storageType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                       [Description]: 设定针对persistent message的storage信息。
                      ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element minOccurs="0" name="jms-server-cluster" type="jms-server-clusterType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 使用目的地集群时，设定参与到这里的JMS message broker。
                      ]]>
                    </xs:documentation>                 
                </xs:annotation>                 
                <xs:unique name="cluster-server-name">                     
                    <xs:selector xpath="jms-server-info"/>                     
                    <xs:field xpath="broker-name"/>                 
                </xs:unique>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="service-config">         
        <xs:sequence>             
            <xs:element name="name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 服务器渠道的名称。用于指定Connection Factory的渠道信息。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:choice>                 
                <xs:element name="server-url" type="xs:token">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                        [Description]: 指定服务器渠道的 URL 。现在只支持 TCP 。
                    
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:group ref="jms-tcp-address"/>             
            </xs:choice>             
            <xs:element default="false" minOccurs="0" name="use-ssl" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                       [Description]: 设定是否在服务器渠道上适用SSL。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="ssl-configuration" type="jms-server-sslType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 设置与 SSL 相关的环境值。
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="1000" minOccurs="0" name="client-limit" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                     [Description]: 指定服务器渠道允许的最大客户端数。
使用blocking socket时，不能超过message broker上设定的最大thread数。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="100" minOccurs="0" name="backlog-size" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 服务器渠道允许的backlog大小。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element default="true" minOccurs="0" name="blocking-socket" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 决定相关服务器渠道使用blocking socket还是非阻塞socket。考虑到扩容性，建议使用非阻塞socket。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element default="65536" minOccurs="0" name="read-buffer-size" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 从客户端读取message的网络buffer的大小。默认值为64K。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element default="65536" minOccurs="0" name="write-buffer-size" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 向客户端传送message所需的网络缓冲器的大小。默认值为64K。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element default="120" minOccurs="0" name="connection-timeout" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 使用blocking socket的情况下，在指定的时间内客户端没有任何请求时，结束连接。以分为单位设定，默认值为120分钟。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="false" minOccurs="0" name="check-security" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 在Connection Factory建立连接时，决定是否要进行安全确认。该element值为true时，用户应该具有jeus.jms.client.connectionFactory permission，并被允许createConnection action。
                  ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="30" minOccurs="0" name="client-keepalive-timeout" type="xs:int">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 与客户端之间的连接非正常结束时，等待重新连接的时间。超过该时间后，该客户端的所有资源都返还到服务器。在设定的时间内维持该客户端的clientID值，所以只在网络状态不稳定时设定。以秒为单位设定，指定小于0的值时，不等待就直接返还资源。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:group name="jms-tcp-address">         
        <xs:sequence>             
            <xs:element default="127.0.0.1" minOccurs="0" name="server-address" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 直接设定该服务器渠道的IP地址。当作客户端访问的地址值。没有设定时，使用"127.0.0.1"。
                        [Example]: 123.123.123.123
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="port" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 该服务器渠道的服务端口编号。
                        [Example]: 9741
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:group>      
    <xs:complexType name="jms-ssl-baseType">         
        <xs:sequence>             
            <xs:element default="TLS" minOccurs="0" name="protocol" type="xs:token"/>             
            <xs:element default="JKS" minOccurs="0" name="key-store-type" type="xs:string"/>             
            <xs:element minOccurs="1" name="key-store-file" type="xs:string"/>             
            <xs:element minOccurs="1" name="key-store-pass" type="xs:string"/>             
            <xs:element default="SunX509" minOccurs="0" name="key-management-algorithm" type="xs:string"/>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:group name="jms-ssl-trustType">         
        <xs:sequence>             
            <xs:element default="JKS" minOccurs="0" name="trust-store-type" type="xs:string"/>             
            <xs:element minOccurs="1" name="trust-store-file" type="xs:string"/>             
            <xs:element minOccurs="1" name="trust-store-pass" type="xs:string"/>             
            <xs:element default="SunX509" minOccurs="0" name="trust-management-algorithm" type="xs:string"/>         
        </xs:sequence>     
    </xs:group>      
    <xs:complexType name="jms-server-sslType">         
        <xs:complexContent>    
            <xs:extension base="jms-ssl-baseType">                 
                <xs:sequence>                     
                    <xs:element minOccurs="0" name="client-auth" type="client-authType"/>                 
                </xs:sequence>             
            </xs:extension>         
        </xs:complexContent>     
    </xs:complexType>      
    <xs:complexType name="client-authType">         
        <xs:group ref="jms-ssl-trustType"/>     
    </xs:complexType>      
    <xs:complexType name="jms-client-sslType">         
        <xs:complexContent>    
            <xs:extension base="jms-ssl-baseType">                 
                <xs:group ref="jms-ssl-trustType"/>             
            </xs:extension>         
        </xs:complexContent>     
    </xs:complexType>       
    <xs:complexType name="connection-factoryType">         
        <xs:sequence>             
            <xs:element default="nonxa" minOccurs="0" name="type" type="factory-typeType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                       [Description]: 设定该Connection Factory的种类。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 在JMS系统内作为管理目的使用的Connection Factory名称。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="1" minOccurs="0" name="service" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 设定该Connection Factory将尝试连接的服务名称。使用service-config上指定的名称。没有指定名称时，任意指定为首次设定的服务。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>                 
                <xs:unique name="factory-service-config-name">                     
                    <xs:selector xpath="xs:jms-server/service-config"/>                     
                    <xs:field xpath="name"/>                 
                </xs:unique>             
            </xs:element>             
            <xs:element minOccurs="0" name="export-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 相关Connection Factory绑定到命名服务器的名称。没有设定时，直接使用name属性。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="false" minOccurs="0" name="clustered-factory" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]:指定connection factory的范围。设定为true时，用作cluster factory。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="client-id" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 利用相关Connection Factory生成的connection上默认设定的ClientID值。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="true" minOccurs="0" name="fixed-client-id" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: connection ID的生成策略。True时，直接使用指定的client-id，false时，通过JMS message broker自动生成。生成的connection ID，可以通过getClientID() API来确认。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="round-robin" minOccurs="0" name="broker-selection-policy" type="broker-selection-policyType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 决定ConnectionFactory生成 Connection时选择哪个渠道 Channel。 
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="thread-pool" type="jms-thread-poolType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 客户端通过该Connection Factory 建立连接时，指定对该连接的thread pool信息。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:simpleType name="destination-typeType">         
        <xs:restriction base="xs:token">             
            <xs:enumeration value="queue"/>             
            <xs:enumeration value="topic"/>         
        </xs:restriction>     
    </xs:simpleType>      
    <xs:simpleType name="factory-typeType">         
        <xs:restriction base="xs:token">             
            <xs:enumeration value="nonxa"/>             
            <xs:enumeration value="xa"/>             
            <xs:enumeration value="queue"/>             
            <xs:enumeration value="topic"/>             
            <xs:enumeration value="xaqueue"/>             
            <xs:enumeration value="xatopic"/>         
        </xs:restriction>     
    </xs:simpleType>      
    <xs:simpleType name="broker-selection-policyType">         
        <xs:restriction base="xs:token">             
            <xs:enumeration value="round-robin"/>             
            <xs:enumeration value="active-standby"/>         
        </xs:restriction>     
    </xs:simpleType>      
    <xs:complexType name="destinationType">         
        <xs:sequence>             
            <xs:element name="type" type="destination-typeType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                   [Description]: 设定该目的地的种类。Queue和topic当中指定一个。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                 [Description]: 在JMS message broker内用于管理目的的目的地名称。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="broker-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 指定broker名把传递到 destination的消息进行routing。
                         不指定此名会认为是连接到 connection factory的 server的destination。
                         指定的话不管连接到别的clustering server也会把此 destination的 producer传送的消息传递给指定的broker
                         不会传递到连接的 server的 destination。
                         在clustering destination里这个设置是没有意义的，而且不能使用。 
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="export-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 相关目的地绑定到命名服务器的名称。没有设定时，直接使用name属性。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="false" minOccurs="0" name="multiple-receiver" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 设置对queue种类的目的文件是否用多种 receiver 进行分散处理。
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="2147483647" minOccurs="0" name="consumer-limit" type="positiveIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 限制访问目的文件的consumer数。
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="round-robin" minOccurs="0" name="local-distribute" type="local-distributeType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 设定为multiple-receiver的queue 目的地的message分布方式。round-robin, random当中可以指定一个。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="2147483647" minOccurs="0" name="limit" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 设定该destination中可以使用的最大内存大小。正在使用的内存超过该值时，客户端的message传递立即当作错误来处理。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="2147483647" minOccurs="0" name="high-mark" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                       [Description]: 开始使用flow control的内存大小。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="0" minOccurs="0" name="low-mark" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                       [Description]: 设定开始soft caching的内存大小。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:choice minOccurs="0">                 
                <xs:element minOccurs="0" name="queue-cluster-name" type="xs:token">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                  [Description]: 选择指定为queue-cluster的集群类型。.
                        ]]>
                        </xs:documentation>                     
                    </xs:annotation>                     
                    <xs:unique name="queue-cluster-config-name">                         
                        <xs:selector xpath="xs:jms-server/queue-cluster"/>                         
                        <xs:field xpath="queue-cluster-name"/>                     
                    </xs:unique>                 
                </xs:element>                 
                <xs:element minOccurs="0" name="topic-cluster-name" type="xs:token">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                            [Description]: 选择指定为topic-cluster的集群类型。
                        ]]>
                        </xs:documentation>                     
                    </xs:annotation>                     
                    <xs:unique name="topic-cluster-config-name">                         
                        <xs:selector xpath="xs:jms-server/topic-cluster"/>                         
                        <xs:field xpath="topic-cluster-name"/>                     
                    </xs:unique>                 
                </xs:element>             
            </xs:choice>          
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="topic-clusterType">         
        <xs:sequence>             
            <xs:element name="topic-cluster-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 设定topic集群所需的集群类型。.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="non-durable" name="relay-type" type="relay-typeType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 向以上指定的集群服务器传达message的方式。可以指定non-durable和durable。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" name="target" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 指定参与到集群的broker name。该名称应该是设定在jms-server-info的名称。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>                 
                <xs:unique name="topic-cluster-broker-name">                     
                    <xs:selector xpath="xs:jms-server/jms-server-info"/>                     
                    <xs:field xpath="broker-name"/>                 
                </xs:unique>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="queue-clusterType">         
        <xs:sequence>             
            <xs:element name="queue-cluster-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 设定queue 集群所需的集群类型。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="round-robin" minOccurs="0" name="cluster-distribute" type="cluster-distributeType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 指定向参与到queue集群的各个broker分布message的方式。server-weighted, consumer-weighted, round-robin, random 当中可以指定一个。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="1" minOccurs="0" name="local-preference" type="positiveIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 提高local broker中处理的message比重。只有在使用server-weighted 或consumer-weighted方式时才有意义。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" name="target" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 指定参与到集群的broker name。该名称应该是设定在jms-server-info的名称。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>                 
                <xs:unique name="queue-cluster-broker-name">                     
                    <xs:selector xpath="xs:jms-server/jms-server-info"/>                     
                    <xs:field xpath="broker-name"/>                 
                </xs:unique>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:simpleType name="relay-typeType">         
        <xs:restriction base="xs:token">             
            <xs:enumeration value="non-durable"/>             
            <xs:enumeration value="durable"/>         
        </xs:restriction>     
    </xs:simpleType>      
    <xs:simpleType name="cluster-distributeType">         
        <xs:restriction base="xs:token">             
            <xs:enumeration value="server-weighted"/>             
            <xs:enumeration value="consumer-weighted"/>             
            <xs:enumeration value="round-robin"/>             
            <xs:enumeration value="random"/>         
        </xs:restriction>     
    </xs:simpleType>      
    <xs:simpleType name="local-distributeType">         
        <xs:restriction base="xs:token">             
            <xs:enumeration value="round-robin"/>             
            <xs:enumeration value="random"/>         
        </xs:restriction>     
    </xs:simpleType>      
    <xs:complexType name="durable-subscriberType">         
        <xs:sequence>             
            <xs:element name="client-id" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 该tag设定识别客户端的值。不仅在connection-factory element内，而且在durable-subscirber element内所有client-id值中不能重复。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 在JMS message broker内用于管理目的的Durable Subscriber名称。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="destination-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Durable Subscriber要接收message的destination名称。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="message-selector" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 设定Durable Subscriber的message selector。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="storageType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element minOccurs="0" name="db-storage" type="db-storageType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                        [Description]: 使用database storage时，进行对database storage的设定。
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                  
                <xs:element minOccurs="0" name="file-storage" type="file-storageType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                   [Description]: 使用file storage时，进行对file storage的设定。
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>             
            <xs:element default="true" minOccurs="0" name="synchronous-delete" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 物理性删除生命周期已结束的消息时是否进行同步删除的设置。
                        这个值为 true的话，等到这个消息从storage完全删除为止，
                        false的话转给后台处理
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="false" minOccurs="0" name="delete-invalid-destination" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: JMS 引擎启动的时候在storage里存在 JMSMain里没有设置的 destination时，决定是否要删除。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>      
    </xs:complexType>      
    <xs:complexType name="db-storageType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element name="data-source-name" type="xs:token">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                      [Description]: 指定将要使用的JNDI上绑定的datasource名称。
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element name="embedded" type="emptyType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                            [Description]: 把Embedded DB当成storage使用时指定。
                        
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>             
            <xs:element minOccurs="0" name="destination-table-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 指定JMS中使用的destination table name。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="durable-subscriber-table-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
					    [Description]: 指定要储存Durable Subscriber 信息的表名。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="transaction-table-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
	   [Description]: 指定JMS中使用的transaction table name。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="message-table-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
		 [Description]: 指定JMS中使用的message table name。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="durable-message-table-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
					    [Description]: 指定要储存Durable message 信息的表名。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="500" minOccurs="0" name="wait-timeout" type="xs:long">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
					    [Description]: 设置检查SQL的周期。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="true" minOccurs="0" name="wait-until-complete" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
					    [Description]: 结束JMS 引擎时，为了被后台处理设置是否要等到等待中的SQL全部结束
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="file-storageType">         
        <xs:sequence>             
            <xs:element name="path" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                   [Description]: file storage所位于的full file path。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="jms-thread-poolType">         
        <xs:sequence>             
            <xs:element default="1" minOccurs="0" name="min" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 指定thread pool的最小尺寸。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="300" minOccurs="0" name="max" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 指定thread pool的最大尺寸。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="300000" minOccurs="0" name="keep-alive-time" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 对于超过最低数量的thread，在这里指定的时间内不使用的thread将被消灭。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="jms-server-clusterType">         
        <xs:annotation>             
            <xs:documentation><![CDATA[
                [Description]: ?????? ????? ???? ?? ???? ? ??? ?????? ???? ?? JMS ??? ???? ????? ??.
            ]]>
            </xs:documentation>         
        </xs:annotation>         
        <xs:sequence>             
            <xs:element minOccurs="0" name="cluster-service" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 指定集群之间负责通信的服务名称。没有指定时，被任意指定。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>                 
                <xs:unique name="cluster-service-config-name">                     
                    <xs:selector xpath="xs:jms-server/service-config"/>                     
                    <xs:field xpath="name"/>                 
                </xs:unique>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" name="jms-server-info" type="jms-server-infoType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 设定参与到cluster的JMS message broker相关的信息。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="jms-server-infoType">         
        <xs:sequence>             
            <xs:element name="broker-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: cluster之间的通信所使用的名称。参与到clustering的所有JMS message broker应该各具有唯一值。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="broker-id" type="positiveShortType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: cluster之间的通信所使用的broker ID。参与到cluster的所有JMS message broker应各具有唯一值。没有指定值时，按照cluster table上设定的顺序任意指定。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="ip-address" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
            [Description]: 相关JMS message broker的ip-address 地址值。
            ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="jms-port" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                   [Description]: 相关JMS message broker的服务端口值。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="false" minOccurs="0" name="use-ssl" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 设定是否要使用SSL。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="ssl-configuration" type="jms-client-sslType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 设置SSL相关的环境值。
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>                             
            <xs:element default="60000" minOccurs="0" name="connection-interval" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
               [Description]: 尝试与其他cluster服务器之间连接的周期。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="1" minOccurs="0" name="weight" type="positiveIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 采用server-weighted方式的message分布方式时，使用该值。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType> 
</xs:schema>
