modules/jeus5/config/xsds/en/jeus-web-dd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    attributeFormDefault="unqualified" 
    elementFormDefault="qualified" 
    targetNamespace="http://www.tmaxsoft.com/xml/ns/jeus" version="5.0" 
    xmlns="http://www.tmaxsoft.com/xml/ns/jeus" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">      
    <xs:include schemaLocation="jeus-common.xsd"/>     
    <xs:include schemaLocation="jeus-webservices-client-dd.xsd"/>      
    <xs:element name="jeus-web-dd" type="contextType">         
        <xs:annotation>             
            <xs:documentation><![CDATA[
                [Description]: JEUS applciation(Servlet Application) Deployment Descriptor conains exactly one of these elements at the top level. 
								The sub-element of this element (&lt;context;>) contains information pertining to the deployment and registration of on context (Web application).
            ]]>
            </xs:documentation>         
        </xs:annotation>     
    </xs:element>      
    <xs:complexType name="contextType">         
        <xs:sequence>             
            <xs:element maxOccurs="1" minOccurs="0" name="context-path" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: The URL path of the context. This path is entered by the user directly after the domain name (and port number).
										Example: if the context path of a context A is "/examples", the URL "http://www.foo.com/examples/index.html" would result in the index.html file of the context A to be fetched. 
										Note: this element must be set if it is not set in WEBMain.xml.
                        [Value Description]: An URL path starting with a "/" character. The path must be unique within this virtual host.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="docbase" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: This element is not used but is remained for compatibility with the old version.
                        [Hidden]:  ture
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="user-log" type="user-logType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: This element sets the handling of messages that were defined by the programmer using the ServletContext.log() method (from within a Servlet).
                                       	This element is identical to the &lt;context-group>&lt;logging>&lt;user-log> element with the exception that the default log file used will be named after the name of the context (e.g. "Examples.log"). 
										By using this element, log files for inidvidual contexts can be obtained.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="true" minOccurs="0" name="enable-jsp" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Determines the usage availabiltiy of JSP engine.
                        [Value Description]: Activating or inactivating this configuration as Boolean value.
                        [Value Type Description]: Boolean
                        [Defined Value]: [true]: Activating JSP in Web Container.
                                        [false]: Inactivating JSP in Web Container.
                                                 When it is set, this value will prevent from having an access to entire JSP files(Returning Service Unavailable message as browser.) 
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="auto-reload" type="auto-reloadType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Determines whether to reload Servlets classes and custom tag classes automtically if the classes are changed. 
										This feature should only be enabled in a development environment because of the extra processing power required to do the checking and reloading.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="-1" minOccurs="0" name="max-instance-pool-size" type="xs:int">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Sets the maximum number of Servlet instances to create if the single threaded model is used (thus only for Servlets implementing the "SingleThreadedModel" interface). 
										If more requests for a single threaded Servlet arrive than the maximum allowed instance count set here, those requests will be queued until a single threaded Servlet instance becomes available.
                        [Value Description]: Maximum number of single threaded Servlet instance to be genereted for this Context group.
                        [Value Type Description]: Integer
                        [Defined Value]: [-1]: If this value is used, there will be no limitation for the number of instances on single threaded Servlets 
                    ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="added-classpath" type="added-classpathType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: This element specifies additional classes to add to the class path when Servlets are compiled or executed. 
										By default, the classes and packages below the "\WEB-INF\classes\" directory as well as any JAR files below the "\WEB-INF\lib\" directory are included in the class path.
										The "\WEB-INF\" directory is located just beneath the context's document base directory.
                   ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="allow-indexing" type="allow-indexingType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: The sub-elements of this element specifies the URL paths that may be indexed. 
										Indexing means that the contents of the underlying directory of an URL path is listed in the Web browsers window. 
                                        Indexing occurs if three conditions are fullfilled: 
											1. the user requested an URL path that did not contain an explicit file or resource name (e.g. no "index.html" was specified), 
											2. no "default welcome file" was specified in the Web applications's web.xml descriptor file and 
											3. indexing is allowed for the requested directory (allowed directories are listed in the sub-elements of this element). 
                                      	If all of these conditions are fullfilled, a directory list will be sent back to the client.
                   ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="deny-download" type="deny-downloadType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: This element specifies any files that should not be downloadable under any circumstances. 
										For example, if a file named "secret.dat" exists in a directory called "data" of some context with the context path "/customers" in a domain 
										called "www.foo.com" and a client requests the URL "www.foo.com/customers/data/secret.dat", the "secret.dat" file would normally be downloaded. 
										To prevent this from happening you will need to make use of this XML element in order to create a download denial condition that matches the file "secret.
                  ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="aliasing" type="aliasingType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Aliasing is used to create symbolic links from requested URL paths to actual file system directories.
										By default, each URL path below a context path will be assumed to reflect a sub-directory of the context's document base directory.
                                        However, if this is not the case and the URL path should be directed to a different directory, this element should be used to override the default behaviour.
                    ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="file-caching" type="file-cachingType">                 
                <xs:annotation>                      
                    <xs:documentation><![CDATA[
                        [Description]: This element configures the caching of static resources such as images and HTML files. 
										Caching means that often-requested files are temporarily stored and fetched from main memory instead of from the secondary storage (e.g. the hard disc drive). 
                                        This will increase the performance of fetching such static resources.
                    ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="role-mapping" type="role-mappingType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: This element maps any J2EE role names used in the &lt;security-role> element of the web.xml file of this context to actual system user names. 
                                       	The web.xml file will be located under the "\WEB-INF\" directory of this context's document base directory.
                        [Dependency]: role : /web-app/security-role/role-name
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="ejb-ref" type="ejb-refType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: This element is connected to JNDI name used in actual system for EJB reference set in web.xml 
                        [Dependency]: ref-name : /web-app/ejb-ref/ejb-ref-name
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="res-ref" type="res-refType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: This element links symbolic resource references (for example datasource references) in web.xml to the actual JNDI names used in the system.
                        [Dependency]: ref-name : /web-app/resource-ref/res-ref-name
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="res-env-ref" type="res-env-refType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: This element links symbolic resource environment references (source code references to administered objects) in web.xml to the actual JNDI names used in the system. 
                        [Dependency]: ref-name : /web-app/resource-env-ref/resource-env-ref-name
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="service-ref" type="jeus-webservices-client-ddType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: Root element on configuration documentation of JEUS Web Service Client (root element).
                        ]]>                     
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element default="false" minOccurs="0" name="url-rewriting" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: By default, the Web container will use cookies to maintain the client's session id over several requests. 
										One problem is that most Web browsers do not send any session ID cookie information with a new request 
										if that request has a different domain name than the domain name for the request where the cookie was originally created. 
                                        This option (url-rewriting), if set to "true", will force the use of URL rewriting instead of relying on cookies (even if the Web browser supports cookies). 
                                        This way, session tracking will work even if different domain names are used across several calls. This will cause all the URL's returned by the context to have a unique 
                                        JSESSIONID URL parameter attached. If set to "false", this feature will not be used and the default cookie-based behavior will be used. 
                        [Value Description]: Activating or inactivating this configuration as Boolean value.
                        [Value Type Description]: Boolean
                        [Defined Value]: [true]: Activating the related configuration.
                                         [false]: Inactivating the related configuartion.
                   ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="jsp-engine" type="jsp-engineType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                     [Description]: This element makes JSP-related settings for this context. The settings will apply to all JSP pages contained in this context.
                ]]>
                    </xs:documentation>                    
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="keep-generated" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: When this web component includes Web Service or Web Service Client, it determines whether to leave java source file of Tie and Web Service Client Stub.
										If this has not been set, it will use the configuration of &lt;application>
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="fast-deploy" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: When this web component includes Web Service or Web Service Client, This will set the availabiltiy of using class file installed with web component 
										when it is not compiled by generating Stub of Tie and Web Service Client of Web Service. 
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="servlet" type="servletType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: This element contains information on servlet of jeus within context. 
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="false" minOccurs="0" name="webinf-first" type="xs:boolean">                 
                <xs:annotation>                      
                    <xs:documentation><![CDATA[                        [Description]: Configure whether to find it below web-inf directory when loading class.                            If it is configured as true, it will find below web-inf. If it is false, it will			    find it within high level classlaoder. 			    When configuring it as true, you should be careful of ClassCastException due to duplicated class.                      ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="1" minOccurs="0" name="jsp-resource" type="jsp-resourceType">                 
                <xs:annotation>                  
                    <xs:documentation><![CDATA[                		[Description]: This element configure provider-class for providing JSP resource stored in 				Repository to JspEngine.                	]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="1" minOccurs="0" name="jndi-properties" type="jndi-propertiesType">                 
                <xs:annotation>                  
                    <xs:documentation><![CDATA[
	                	[Description]: Specify the property for jndi.
                	
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="properties" type="propertiesType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Configure context-wide property.                    ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:simpleType name="target-RestrictedType">         
        <xs:restriction base="xs:string">             
            <xs:enumeration value="default"/>             
            <xs:enumeration value="stdout"/>             
            <xs:enumeration value="file"/>         
        </xs:restriction>     
    </xs:simpleType>      
    <xs:complexType name="auto-reloadType">         
        <xs:sequence>             
            <xs:element default="false" minOccurs="0" name="enable-reload" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Determine whether to activate or inactivate Servlet auto-reload.
                        [Value Description]: Activating or inactivating this configuration as Boolean value.
                        [Value Type Description]: Boolean
                        [Defined Value]: [true]: Activating the related configuration.
                                         [false]: Inactivating the related configuration .
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="false" minOccurs="0" name="check-on-demand" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Set for inspecting or not when each request reached for reloading Servlet class.
                        [Value Description]: Activating or inactivating this configuration as Boolean value.
                        [Value Type Description]: Boolean
                        [Defined Value]: [true]: Activating the related configuration.
                                         [false]: Inactivating the related configuration .
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="added-classpathType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="class-path" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Declares user defined classpth for adding when executing and compiling Servlet.
                        [Value Description]: Directory or JAR file can be configured. When configuring the directory, it should end with directory classfier (“\” Windows ,”/” Unix).
                        [Example]: &lt;class-path>c:\mylib\subdir\&lt;/class-path>
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="allow-indexingType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="directory" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: This element activates directory indexing on set URL path. 
                        [Value Description]: URL path starting and ending with "/".
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="deny-downloadType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="file" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: This element makes sure that set file will not be downloaded.
                        [Value Description]: The path followed by file name according to URL context.
                        [Example]: &lt;file>/data/secret.dat&lt;/file>
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: It rejects downloading entire file in Context for given extension. 
                        [Value Description]: File Extension 
                        [Example]: &lt;extension>dat&lt;/extension>
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="directory" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: For preventing on downloading an entire file in certain directory, this element is used (Related to URL path of context).
                        [Value Description]: Directory starting and ending with "/". Directory related to URL path of Context.
                        [Example]: &lt;directory>/data/&lt;/directory>
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="aliasingType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="alias" type="aliasType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Each &lt;alias> element defines one mapping between a request URL and an arbitrary directory. 
										Example: the user requests the URL "www.foo.com/examples/images/hello.gif". 
                                        		By default the container would look for the "hello.gif" file in the directory "/images/" below the "Example" context's base directory. 
                                               	However, if the "hello.gif" file is located in the "c:\web\images\" directory and not in the context, an alias element would be needed.
                                               	If several mappings are necessary, use several instances of this element.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="aliasType">         
        <xs:sequence>             
            <xs:element name="alias-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: This element the URL path that should be mapped to a specific directory.
                        [Value Description]: Directory starting and ending with "/". Directory related with URL path of Context.
                        [Example]: &lt;alias-name>/images/&lt;/alias-name>
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="real-path" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: This element the URL path that should be mapped to &lt;alias-name> element.
                        [Value Description]: An URL path starting and ending with a "/". The path is relative to the context's path (“\” Window,”/”  Unix).
                        [Example]: &lt;real-path>c:\web\images\&lt;/real-path>
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="file-cachingType">         
        <xs:sequence>             
            <xs:element default="-1" minOccurs="0" name="max-idle-time" type="xs:int">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Time period in where Cached static resource is not used for the time except for caching the related resource.
                        [Value Description]: Unit of Millisecond.
                        [Example]: &lt;max-idle-time>1800&lt;/max-idle-time>
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="-1" minOccurs="0" name="max-cache-memory" type="xs:int">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Allocated maximum memory for storing static resource.
                        [Value Description]: The number of Megabytes unit 
                        [Value Type Description]: Integer
                        [Defined Value]: [-1]: It is not limited for cache size.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="directory" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Static contents are set for one directory path to be cached. For configuring several numbers of cache directory, the number of elments are added.
                        [Value Description]: URL Directory path to be cached by Content.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="role-mappingType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="role-permission" type="rolePermissionType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]:
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="ejb-refType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="jndi-info" type="jndi-infoType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Each &lt;jndi-info> element connects with JNDI name in one reference. 
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="res-env-refType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="jndi-info" type="jndi-infoType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Each &lt;jndi-info> element connects with JNDI name in one reference. 
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="servletType">         
        <xs:sequence>             
            <xs:element name="servlet-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: This element refers servlet-name configured in web.xml.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="run-as-identity" type="run-as-identityType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: This element defines mapping of run-as-specified-identity role name defined in web.xml as actual user name(principal) 
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>          
    <xs:complexType name="jsp-resourceType">      
        <xs:sequence>       
            <xs:element maxOccurs="1" minOccurs="0" name="provider-class" type="xs:string">                 
                <xs:annotation>                  
                    <xs:documentation><![CDATA[                	[Description]: Configure class implementing JspResourceProvider Interface for providing JSP Resource to InputStream.                	]]>
                    </xs:documentation>                 
                </xs:annotation>       
            </xs:element>           
        </xs:sequence>          
    </xs:complexType>          
    <xs:complexType name="jndi-propertiesType">      
        <xs:sequence>       
            <xs:element default="false" maxOccurs="1" minOccurs="0" name="local-bindings" type="xs:boolean">                 
                <xs:annotation>                  
                    <xs:documentation><![CDATA[
                        [Description] : Determine whether to use local binding.
                	    [Value Description]: This is the boolean value that activate or deactivate this configuration.
                	
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>       
            </xs:element>           
        </xs:sequence>          
    </xs:complexType> 
</xs:schema>
