modules/jeus5/config/xsds/en/jeus-wssecurity-dd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    attributeFormDefault="unqualified" 
    elementFormDefault="qualified" 
    targetNamespace="http://www.tmaxsoft.com/xml/ns/jeus" version="5.0" 
    xmlns="http://www.tmaxsoft.com/xml/ns/jeus" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">  
    <xs:complexType name="security-receiverType">   
        <xs:sequence>    
            <xs:element name="action-list" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]: This element configures on any of security types applied to message
                                Any of Timestamp, Encrypt, Signature and UsernameToken can be entered for this feild. 
                                Each field is classified by blank.(Ex)UsernameToken Signature Encrypt) 
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element default="true" minOccurs="0" name="observeActionOrder" type="xs:boolean">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element configures on whether check the matching between results's action order and action-list's order
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="password-callback-class" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]:Password Callback class name is entered as full package name. 
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="timeStamp" type="timeStampType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element configures available time period of recieved message(Unit in second).
                                    The default value is 300 seconds from generated time.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="decryption" type="decryptionType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element is configuration for decoding encoded part of received message.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="signature-verification" type="signature-verificationType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element is configuration for inspecting signature of recieved message.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:complexType name="decryptionType">   
        <xs:sequence>    
            <xs:element name="keystore" type="keystoreType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This elemnt is configuration on key store
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:complexType name="keystoreType">   
        <xs:sequence>    
            <xs:element name="key-type" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element is key type storing in key store . (JKS or pkcs12)
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element name="keystore-password" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element is configuration for password for getting access to key store.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element name="keystore-filename" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element is file name of key store. It writes file name or file name including absolute path including
			                        In case where only file name is written, it will be found in class path.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:complexType name="signature-verificationType">   
        <xs:sequence>    
            <xs:element name="keystore" type="keystoreType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element is key store configuration for examining signature.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:complexType name="security-senderType">   
        <xs:sequence>    
            <xs:element name="action-list" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This enumerates security type to be applied in String type.
                            One of Timestamp, Encrypt, Signature or UsernameToken can be entered.
                            Each field is classfied as blank.(Ex) UsernameToken Signature Encrypt)
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="password-callback-class" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element is full package name of callback class for configuring password.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="user" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element configures name to be enetered into UsernameToken.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="timeStamp" type="timeStampType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: Available time period of message to be sent is configured as second unit.
			                        The default value is 300 seconds.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="userNameToken" type="userNameTokenSenderType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element configures UsernameToken.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="signature-infos" type="signature-infosType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element is configuration for making signature on message.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="encryption-infos" type="encryption-infosType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element is configuration for encoding message.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:complexType name="userNameTokenSenderType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="password" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: Configure password to be used
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="passwordType" type="passwordTypeType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element configures password type to be used in UsernameToken.
                         Either of  "PasswordDigest" and "PasswordText" can be used.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="userTokenElements" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]:This element is the list of elements to be addded in UsernameToken.
                                Each field is classfied with blank. Either of "nonce" or "created" can be used.
                                passwordType can be used when it is "PasswordText".
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:simpleType name="passwordTypeType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="PasswordDigest">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
			[Description]: Password configured in UsernameToken includes base64 encoded status.
		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="PasswordText">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
			[Description]: Password in configured in UsernameToken is included in message as plain text.
		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>   
        </xs:restriction>  
    </xs:simpleType>  
    <xs:complexType name="timeStampType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="timeToLive" type="xs:positiveInteger">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element is time period meaning message freshness in seconds.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="aberration" type="xs:integer">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element is aberration against UTC. default value is '0'.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="requireSignature" type="xs:boolean">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element is whether timestamp element require signature. default value is 'true'.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="precision" type="xs:positiveInteger">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: This element sets the time is concerned about system environments(network, delay ..)
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:complexType name="signature-infosType">   
        <xs:sequence>    
            <xs:element maxOccurs="unbounded" name="signature-info" type="signature-infoType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This is configuration for message signature. It enables to have multiple congurations.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:complexType name="signature-infoType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="signatureParts" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This is used for signaturing certain part of message.
                            "{}{http://schemas.xmlsoap.org/soap/envelope/}Body; It can be arranaged
				            as mode such as "Token" If it has not been configured, it will write signaure for entire SOAP body.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="signatureAlgorithm" type="signatureAlgorithmType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[						[Description]: Specify algorithm used for signature. 										Specify one among SHA1withRSA,SHA1WithDSA,HMACSHA1.					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="messageDigestAlogrithm" type="messageDigestAlgorithmType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: Specify Algorithm to be used in Message Digest. Use one out of SHA1. 
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="canonicalization" type="canonicalizationType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: Specify canonicalization method to be used.
						    Use one among 	Exclusive XML Canonicalization omit comments,
									Exclusive XML Canonicalization with comments,
									Inclusive XML Canonicalization omit comments, and Inclusive XML Canonicalization with comments .
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element name="keyIdentifier" type="sigKeyIdentifierType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element is mode expressing key information to be used in signature.
                            One of IssuerSerial, DirectReference, SKIKeyIdentifier or X509KeyIdentifier is used.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="keystore" type="keystoreType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element is configuration of keysotre which stores individual key for signature of message.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:simpleType name="sigKeyIdentifierType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="IssuerSerial">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
			[Description]: This element configures certificate for examining signature through including issued number in message.
		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="DirectReference">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
			[Description]: This includes X509 Certificate in message and refers it within message.
		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="SKIKeyIdentifier">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
			[Description]:This is Subject Key Idenfication mode.
                                      Version of X509 Certificate should be over 3. 
		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="X509KeyIdentifier">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element includes X509 certificate in message and is used for examining signature.
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>   
        </xs:restriction>  
    </xs:simpleType>  
    <xs:simpleType name="signatureAlgorithmType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="http://www.w3.org/2000/09/xmldsig#dsa-sha1">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: DSS(DSAWithSHA1)
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="http://www.w3.org/2000/09/xmldsig#rsa-sha1">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: RSAWithSHA1
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="http://www.w3.org/2000/09/xmldsig#hmac-sha1">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
		[Description]: HMACSHA1
    	]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>   
        </xs:restriction>  
    </xs:simpleType>  
    <xs:simpleType name="messageDigestAlgorithmType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="http://www.w3.org/2000/09/xmldsig#sha1">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: SHA1
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>   
        </xs:restriction>  
    </xs:simpleType>  
    <xs:simpleType name="canonicalizationType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="http://www.w3.org/2001/10/xml-exc-c14n#">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: Exclusive XML Canonicalization omit comments
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="http://www.w3.org/2001/10/xml-exc-c14n#WithComments">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: Exclusive XML Canonicalization with comments
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="http://www.w3.org/TR/2001/REC-xml-c14n-20010315">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: Inclusive XML Canonicalization omit comments
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="http://www.w3.org/TR/2001/REC-xml-c14n-20010315#WithComments">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: Inclusive XML Canonicalization with comments
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>   
        </xs:restriction>  
    </xs:simpleType>  
    <xs:complexType name="encryption-infosType">   
        <xs:sequence>    
            <xs:element maxOccurs="unbounded" name="encryption-info" type="encryption-infoType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]:  Settings for Web Service Client to be batched are specified for this field. 
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:complexType name="encryption-infoType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="encryptionParts" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This is configuration for encoding certain part.
                                This is the format such as "{mode}{ns}{localname};{mode}{ns}{localname};…".
                                Default mode value is content
                        [Example]: {Content}{http://example.org/payment}CreCard;{Element}{}UserName
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="keyTransportAlogrithm" type="keyTransportAlogrithmType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[						
      			[Description]: Specify algorithm used in Message Digest.						
      					Use one among RSA1.5. 					
      		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="encryptionAlgorithm" type="encryptionAlgorithmType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This is algorithm used for encryption.
									It supports AES_128, AES_256, TRIPLE_DES and AES_192.
                ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="encryptionUser" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: Name of key used for encoding.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element name="keyIdentifier" type="encKeyIdentifierType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element is mode of expressing information on key used for encoding.
                                One of IssuerSerial, DirectReference, SKIKeyIdentifier, X509KeyIdentifier and EmbeddedKeyName is used.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="keystore" type="keystoreType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element is configruation for storage of key used for encoding.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="embeddedKey" type="embeddedKeyType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element configures key shared by WebService and WebService Client.
			                    keyIdentifier can be used after being set as "EmbeddedKeyName".
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:simpleType name="encKeyIdentifierType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="IssuerSerial">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
	 		[Description]: This element configures certificate for examining signature
                                through including issued number of message X509 certificate in the message.
		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="DirectReference">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
			[Description]: This element is method of referencing it within message and includes X509 Certificate.
		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="SKIKeyIdentifier">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
			[Description]: This element is Subject Key Idenfication method.
                                 The version of X509 Certificate should be over 3.
		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="X509KeyIdentifier">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
			[Description]: This message includes X509 certificate used for being encoded in message.
		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="EmbeddedKeyName">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
			[Description]: This element is used when using session key shared by web service and web service client.
			                   WebService and Client gives and recieves only key name. Used key can be determined.
		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>   
        </xs:restriction>  
    </xs:simpleType>  
    <xs:simpleType name="encryptionAlgorithmType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="http://www.w3.org/2001/04/xmlenc#tripledes-cbc">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: DESEDE-CBC
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="http://www.w3.org/2001/04/xmlenc#aes128-cbc">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: AES128-CBC
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="http://www.w3.org/2001/04/xmlenc#aes192-cbc">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: AES192-CBC
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="http://www.w3.org/2001/04/xmlenc#aes256-cbc">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: AES256-CBC
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="http://www.tmaxsoft.com/xml/algorithms/xmlenc#seed-cbc">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: SEED-CBC
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>   
        </xs:restriction>  
    </xs:simpleType>  
    <xs:simpleType name="keyTransportAlogrithmType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="http://www.w3.org/2001/04/xmlenc#rsa-1">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: RSA1.5
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>   
        </xs:restriction>  
    </xs:simpleType>  
    <xs:complexType name="embeddedKeyType">   
        <xs:sequence>    
            <xs:element name="embeddedKeyCallbackClass" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: In case of using session key, it configures callback class containing byte information.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element name="key-name" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: This element configures name of session key.
                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType> 
</xs:schema>
