modules/jeus5/config/xsds/en/jeus-webservices-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    attributeFormDefault="unqualified" 
    elementFormDefault="qualified" 
    targetNamespace="http://www.tmaxsoft.com/xml/ns/jeus" version="5.0" 
    xmlns="http://www.tmaxsoft.com/xml/ns/jeus" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">       
    <xs:element name="web-services-config" type="web-services-configType">      
        <xs:annotation>          
            <xs:documentation><![CDATA[
                    [Description]: This element is a root element of JEUS Web Services configuration.
                ]]>
            </xs:documentation>      
        </xs:annotation>  
    </xs:element>   
    <xs:complexType name="web-services-configType">      
        <xs:sequence>          
            <xs:element maxOccurs="unbounded" name="service" type="service-configType">           
                <xs:annotation>               
                    <xs:documentation><![CDATA[
		                    [Description]: This element specifies various information of a Web Service (end-point interface, messaging style, etc.) for generating WSDL file and mapping (JARX-RPC mapping) file. 
		                  
		                ]]>
                    </xs:documentation>           
                </xs:annotation>       
            </xs:element>      
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="service-configType">   
        <xs:sequence>             
            <xs:element name="service-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies a Web Service name.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="target-namespace" type="xs:anyURI">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element sets a target namespace for a Web Service. The namespace is used to uniquely identify one Web Service from the other.
                            
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="package-mapping" type="package-mappingType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element is for mapping a specific java package with a namespace.
                                                        
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="output-wsdl-file" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies the name of a WSDL file to be generated.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="output-jaxrpc-mapping-file" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies the name of a mapping (JARX-RPC mapping) file to be generated.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>                 
            <xs:element minOccurs="0" name="style" type="styleType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element defines a messaging style of a Web Service. Three styles are available: 'rpc', 'document' and 'wrapped'. Default setting is 'wrapped'.
                            
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="use" type="useType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element defines an encoding style. Two styles are available: 'encoded' and 'literal'. Default setting is 'literal'.
                           
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>                 
            <xs:element minOccurs="0" name="map-mime-to-anytype" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: When enabled, it allows Web Services clients to handle any data mime types defined in Web Services end-points using their own defined handler.                             			   
                                                        
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element maxOccurs="unbounded" name="interface" type="interfaceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element configures Service End-point Interface.
                            
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>   
    <xs:complexType name="interfaceType">   
        <xs:sequence>    
            <xs:element name="endpoint-interface-class" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies a name of a Java class that operates in the back-end.
                                                   
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-port-type-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies the actual name of a port type that appears on the WSDL.
                                                        
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-binding-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies the actual name of a binding that appears on the WSDL.                           
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-port-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies the actual name of a port that appears on the WSDL.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element maxOccurs="unbounded" minOccurs="0" name="operation" type="operationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element sets additional configuration for each operations.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="service-impl-bean" type="service-impl-beanType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[                        [Description]: Describe additional configuration required for service implementation.                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>         
            <xs:element maxOccurs="unbounded" minOccurs="0" name="handler" type="port-component_handlerType"/>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="operationType">   
        <xs:sequence>    
            <xs:element name="java-method-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies a name of an operation.
                            
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies a name of an operation that appears on the WSDL.
                            
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="soap-action" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element sets the SOAP-ACTION of an operation.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="one-way" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element enables a 'One-way' SOAP request from Web Services client instead of the conventional 'request-response' call, in case where Web Services client does not require any response message from the Web Services.
                            			   A client does not receive a SOAP response in an asynchronous 'One-way' call, even in case of an exception.
                            			   Default setting is 'false'.
                            			                                 	
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="parameterType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This &lt;paramenter> element defines a single parameter of an operation.
                            	 		   This element must be defined in the same order that the parameters are defined in a method, which implements the operation.
                            	 		   The number of &lt;parameter> elements should match the number of parameters defined in the method.
                            
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="return" type="returnType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: &lt;return> element defines the return value of a Web Service operation. Only one &lt;return> value per one operation can be defined.
                                                       
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>      
        </xs:sequence>        
    </xs:complexType>      
    <xs:simpleType name="styleType">         
        <xs:restriction base="xs:string">             
            <xs:enumeration value="rpc"/>             
            <xs:enumeration value="document"/>             
            <xs:enumeration value="wrapped"/>             
        </xs:restriction>                 
    </xs:simpleType>          
    <xs:simpleType name="useType">         
        <xs:restriction base="xs:string">             
            <xs:enumeration value="encoded"/>             
            <xs:enumeration value="literal"/>         
        </xs:restriction>  
    </xs:simpleType>   
    <xs:complexType name="parameterType">   
        <xs:sequence>    
            <xs:element name="class-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies the name a Java class, which is mapped as an input parameter data type.
                                                        
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-name" type="xs:string">                  
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies the name of an input parameter which will be used in the generated WSDL. 
                            			   Default value is the parameter name of the method's signature.                             		
                                                       
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="location" type="locationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element sets a location of the input parameter within a SOAP message. Three types are available: 'header'. 'body' and 'attachment'. Default setting is 'body'.
                            			   If it is set as 'attachment', the parameter is enclosed in the SOAP envelope as an attachment.
                            			   Only the data types defined in JAX-RPC specification (java.awt.Image, java.lang.String, javax.mail.internet.MimeMultipart, javax.xml.transform.Source, 
                                		   javax.activation.DataHandler) can be enclosed as an attachment.
                                                       
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="mime-type" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element sets the MIME type of a parameter in the generated WSDL.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="mode" type="modeType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element configures whether the input parameter is a standard input parameter, output parameter or in-out parameter. Three types are available: 'IN', 'INOUT' and 'OUT'. 
                                                        
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:simpleType name="locationType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="header"/>    
            <xs:enumeration value="body"/>    
            <xs:enumeration value="attachment"/>   
        </xs:restriction>  
    </xs:simpleType>   
    <xs:simpleType name="modeType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="IN"/>    
            <xs:enumeration value="INOUT"/>    
            <xs:enumeration value="OUT"/>   
        </xs:restriction>  
    </xs:simpleType>   
    <xs:complexType name="returnType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="wsdl-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies the name of a return parameter which will be used in the generated WSDL.
                        
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="location" type="locationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element sets a location of the return parameter within a SOAP message. Three types are available: 'header'. 'body' and 'attachment'. Default setting is 'body'.
                            			   If it is set as 'attachment', the parameter is enclosed in the SOAP envelope as an attachment.
                            			   Only the data types defined in JAX-RPC specification (java.awt.Image, java.lang.String, javax.mail.internet.MimeMultipart, javax.xml.transform.Source, 
                                		   javax.activation.DataHandler) can be enclosed as an attachment.
                                                                                  
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="mime-type" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element sets the MIME type of a parameter in the generated WSDL.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>      
    <xs:complexType name="package-mappingType">         
        <xs:sequence>             
            <xs:element name="package-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies the name of a target Java package which will be mapped with a namespace.
                                                        
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="namespace-uri" type="xs:anyURI">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies a namespace for a corresponding Java package name.
                                                       
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:complexType name="service-impl-beanType">   
        <xs:sequence>    
            <xs:choice>     
                <xs:element name="servlet-name" type="xs:string">      
                    <xs:annotation>       
                        <xs:documentation><![CDATA[                            [Description]: In case where service endpoint is servlet, configure name of servlet.                         ]]>
                        </xs:documentation>      
                    </xs:annotation>     
                </xs:element>     
                <xs:element name="ejb-name" type="xs:string">      
                    <xs:annotation>       
                        <xs:documentation><![CDATA[                            [Description]: In case where service endpoint is EJB, configure name of EJB.                        ]]>
                        </xs:documentation>      
                    </xs:annotation>     
                </xs:element>    
            </xs:choice>    
            <xs:element name="endpoint-implementation-class" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[                        [Description]: Configure bean class name implementing service.                     ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="context-path" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[                            [Description]: Configure Container Name that service will be deployed.                         ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="endpoint-url" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[                        [Description]: Configure url for having an access to the service.                     ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>               
    <xs:complexType name="port-component_handlerType">           
        <xs:sequence>          
            <xs:element name="handler-name" type="xs:string"/>          
            <xs:element name="handler-class" type="xs:string"/>          
            <xs:element maxOccurs="unbounded" minOccurs="0" name="init-param" type="param-valueType"/>          
            <xs:element maxOccurs="unbounded" minOccurs="0" name="soap-header" type="xs:QName"/>          
            <xs:element maxOccurs="unbounded" minOccurs="0" name="soap-role" type="xs:string"/>      
        </xs:sequence>      
        <xs:attribute name="id" type="xs:ID"/>  
    </xs:complexType>      
    <xs:complexType name="param-valueType">         
        <xs:sequence>             
            <xs:element name="param-name" type="xs:string"/>          
            <xs:element name="param-value" type="xs:string"/>      
        </xs:sequence>      
        <xs:attribute name="id" type="xs:ID"/>     
    </xs:complexType> 
</xs:schema>
