5_ubuntu14.04.5_jdk6/jeus5/config/xsds/en/jeus-webservices-dd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    attributeFormDefault="unqualified" 
    elementFormDefault="qualified" 
    targetNamespace="http://www.tmaxsoft.com/xml/ns/jeus" version="5.0" 
    xmlns="http://www.tmaxsoft.com/xml/ns/jeus" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">      
    <xs:include schemaLocation="jeus-common.xsd"/>     
    <xs:include schemaLocation="jeus-wssecurity-dd.xsd"/>     
    <xs:include schemaLocation="jeus-webservices-client-dd.xsd"/>    
    <xs:element name="jeus-webservices-dd" type="jeus-webservices-ddType">      
        <xs:annotation>          
            <xs:documentation><![CDATA[
                    [Description]: This element is a root element of JEUS Web Services deployment descriptor.
                ]]>
            </xs:documentation>      
        </xs:annotation>  
    </xs:element>    
    <xs:complexType name="jeus-webservices-ddType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="ejb-context-path" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies a Context path of an endpoint URL for EJB Web Services.
                            
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="ejb-login-config" type="ejb-login-configType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies the client authentication method and domain for a EJB Web Services endpoint URL.
                           
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="service-info-page" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This elements specifies which page deals with service info view requested by web browsers.
                                           The specified value is a relative URL of the page starting with "/".
                              
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element maxOccurs="unbounded" name="service" type="serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies the deployed Web Services.  
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="ejb-login-configType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="auth-method" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element sets an authentication method. Four methods are available: 'BASIC', 'CLIENT-CERT', 'DIGEST' and 'FORM'.  
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="realm-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element configures the domains where security policy is applied.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="serviceType">   
        <xs:sequence>    
            <xs:element name="webservice-description-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies a name of a Web Services endpoint in the corresponding WSDL file.
                                           This &lt;webservice-description-name> corresponds to &lt;webservice-description-name> found in webservice.xml.  
                            [Dependency]:/webservices/webservice-description/webservice-description-name    
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-publish" type="wsdl-publishType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies a WSDL publishing method.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element maxOccurs="unbounded" name="port" type="portType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies a port information of the Web Services.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="wsdl-publishType">   
        <xs:sequence>    
            <xs:choice>     
                <xs:element name="http-publish" type="http-publishType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                                [Description]: This element specifies a WSDL published in HTTP format.
                                Any schema imported from the published WSDL is referenced through HTTP URL.
                                
                            ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>     
                <xs:element name="file-publish" type="file-publishType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                                [Description]: This element specifies a WSDL published in a file format.
                                Any schema imported from the published WSDL is referenced through a relative file path.
                                
                            ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>    
            </xs:choice>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="http-publishType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="server-url" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies a URL of a server that publishes the WSDL file of a deployed Web Services.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="secure-server-url" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies a SSL enabled URL of a server that publishes the WSDL file of a deployed Web Services.  
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-url" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies a alternative URL to publish WSDL of 
                                Web service in addition to default published URL.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>               
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="file-publishType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="server-url" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies a URL of a server that publishes the WSDL file of a deployed Web Services.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="secure-server-url" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies a SSL enabled URL of a server that publishes the WSDL file of a deployed Web Services.  
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element name="publish-path" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies a directory where WSDL file is stored.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="portType">   
        <xs:sequence>    
            <xs:element name="port-component-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies a name of a Web Services endpoint.
                            				This &lt;port-component-name> corresponds to &lt;port-component-name> found in webservice.xml.
                            [Dependency]:/webservices/webservice-description/port-component/port-component-name 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="ejb-endpoint-url" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies a URL of an EJB endpoint. This is used only with EJB endpoint.
                            
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="tie-class" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies the class that maps Web Services end-point URL with Web Services end-point interface.
                            It is automatically generated during deployment.
                           
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="service-property" type="nameValueType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: Specifies service endpoint property of each port.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>           
            <xs:element minOccurs="0" name="ejb-transport-guarantee" type="ejb-transport-guaranteeType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element sets the confidentiality and integrity type of the messages communicated in EJB end-point.
                            Three types are available: 'NONE', 'CONFIDENTIAL' and 'INTEGRAL'. 
                            
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="soapver" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies the version of a SOAP message serviced by deployed Web Services. 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="security" type="securityType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element sets the security type of Web Services (WS-Security). 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="rm" type="rmType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies use of WS-ReliableMessaging.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="transaction" type="emptyType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies use of WS-Transaction.
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:simpleType name="ejb-transport-guaranteeType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="NONE"/>    
            <xs:enumeration value="INTEGRAL"/>    
            <xs:enumeration value="CONFIDENTIAL"/>   
        </xs:restriction>  
    </xs:simpleType>    
    <xs:complexType name="securityType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="request-receiver" type="security-receiverType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element sets the security related configuration such as encryption and electronic signature to a SOAP request messages from a Web Services client.
                                                         
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="response-sender" type="security-senderType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element sets the security related configuration such as encryption and electronic signature to a SOAP response message to a Web Services client.
                                                        
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>   
    </xs:complexType>       
    <xs:complexType name="rmType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="client-provider" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: This element specifies that RM webservice runs in client mode. Default value is "false."
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>       
    </xs:complexType>    
</xs:schema>
