5_ubuntu14.04.5_jdk6/jeus5/config/xsds/en/jeus-common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    attributeFormDefault="unqualified" 
    elementFormDefault="qualified" 
    targetNamespace="http://www.tmaxsoft.com/xml/ns/jeus" version="5.0" 
    xmlns="http://www.tmaxsoft.com/xml/ns/jeus" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">      
    <xs:group name="loggingGroup">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                  [Description]: Specify the logger name to be applied. When omitting this item, and if it is located at <node> or <EngineContainer>, Jeus logger will then apply.
		  The name specified under engine will be ignored. The logging specified under default container will be ignored.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element default="INFO" minOccurs="0" name="level" type="loggingLevelType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
              [Description]: Level of logging is set for this field. Please refer to Level class of logging API of J2SE.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="false" minOccurs="0" name="use-parent-handlers" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
  [Description]: This determines whether handlers of parent logger will be used for this logger.
    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="filter-class" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
      [Description]: Fully qualified class name of filter class set in this logger is set for this field.
      [Example]: &lt;filter-class>com.tmax.logging.filter.MyFilter&lt;/filter-class>
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="handler" type="handlerType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                  [Description]: Handler to use in logger is set for this field.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:group>      
    <xs:complexType name="handlerType">         
        <xs:choice maxOccurs="unbounded" minOccurs="1">             
            <xs:element name="console-handler" type="console-handlerType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
          [Description]: This handler will be used when logging is left in the screen.
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="file-handler" type="file-handlerType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                  [Description]: This is the handler to be used in case of displaying logging as file.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="smtp-handler" type="smtp-handlerType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                  [Description]: This is the handler to use when sending logging to email.
                  [Performance Recommandation]: There is a warning when a huge amount of email exist without proper filter.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="socket-handler" type="socket-handlerType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                  [Description]: This element is handler used for sending to socket in which logging is set.
                  [Performance Recommandation]: The performance will be decreased without using proper filter since logging message is transmitted as one Socket.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="user-handler" type="user-handlerType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                  [Description]: In case of using handler in which user has created according to J2SE logging API, this setting
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:choice>         <!--
        
        <xs:sequence>
            
            <xs:element minOccurs="0" name="console-handler" type="console-handlerType"/>
            
            <xs:element minOccurs="0" maxOccurs="unbounded" name="file-handler" type="file-handlerType"/>
            
            <xs:element minOccurs="0" maxOccurs="unbounded" name="user-handler" type="user-handlerType"/>
        
        </xs:sequence>
        -->     
    </xs:complexType>      
    <xs:complexType name="common-handlerType">         
        <xs:sequence>             
            <xs:element name="name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
          [Description]: The name of handler will be set. At this moment, this name should be set as unique in a logger. This name is used for refering handler including tool.
          [Example]: &lt;name>handler1&lt;/name>
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="FINEST" minOccurs="0" name="level" type="loggingLevelType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
          [Description]: The level of this handler will be set for this field. In case where level of message going through logger is included in this handler level, the message will be displayed through this handler.
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="encoding" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                  [Description]: Encoding in which this handler leaves message is set for this field.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="filter-class" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: Fully qualified class name of filer class set in this handler is set for this field.
                    [Example]: &lt;filter-class>com.tmax.logging.filter.MyFilter&lt;/filter-class>
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="console-handlerType">      
        <xs:complexContent>       
            <xs:extension base="common-handlerType"/>      
        </xs:complexContent>     
    </xs:complexType>      
    <xs:complexType name="file-handlerType">      
        <xs:complexContent>       
            <xs:extension base="common-handlerType">         
                <xs:sequence>             
                    <xs:element minOccurs="0" name="file-name" type="xs:token">                 
                        <xs:annotation>                     
                            <xs:documentation><![CDATA[
                        [Description]: File name in which this handler uses will be set for this field.
										If user has not set for this field, default file name of each logger will be used.
										Please refer to JEUS Server Manual for each default file name.
                        [Example]: &lt;file-name>C:\logs\mylog.log&lt;/file-name>
                    ]]>
                            </xs:documentation>                 
                        </xs:annotation>             
                    </xs:element>              
                    <xs:choice maxOccurs="1" minOccurs="0">                 
                        <xs:element name="valid-day" type="off-intType">                     
                            <xs:annotation>                         
                                <xs:documentation><![CDATA[
                      [Description]: File in which this handler uses will be used and updated frequently for certain set amount of time .
                                      This setting is used for changing file as unit of day. In this case, used date will be followed right after file name.
                      [Value Description]: day
                      [Example]: &lt;valid-day>1&lt;/valid-day>
                    ]]>
                                </xs:documentation>                     
                            </xs:annotation>                 
                        </xs:element>                 
                        <xs:element name="valid-hour" type="off-intType">                     
                            <xs:annotation>                         
                                <xs:documentation><![CDATA[
                      [Description]: In case of using and updating frequently on the file in which this handler uses for a certain amount of time. This setting is used for updating time unit.
                                    In this case, used date and time will be automaticallly followed right after file name in which this handler uses.
                      [Value Description]: This represents in unit of hour and it should get divisor of 24 + N*24(n is integer greater than 0).
                      [Example]: &lt;valid-hour>3&lt;/valid-hour>
                    ]]>
                                </xs:documentation>                     
                            </xs:annotation>                 
                        </xs:element>             
                    </xs:choice>             
                    <xs:element default="1024" minOccurs="0" name="buffer-size" type="nonNegativeIntType">                 
                        <xs:annotation>                     
                            <xs:documentation><![CDATA[                        [Description]:Configure the size of buffer when this handler displays as file.                         [Value Description]: This is in the unit of byte.                        [Performance Recommandation]: As this value becomes larger, message 			to be displayed in file will be delayed, however, the performance of logging will be 			enhanced.                     ]]>
                            </xs:documentation>                 
                        </xs:annotation>             
                    </xs:element>             
                    <xs:element default="true" minOccurs="0" name="append" type="xs:boolean">                 
                        <xs:annotation>                     
                            <xs:documentation><![CDATA[
            [Description]: In case where file in which this handler uses already exists, this element will be used for determining
                            whether to be written after the file name. If it has been set as flase, existing file will be deleted.
        ]]>
                            </xs:documentation>                 
                        </xs:annotation>             
                    </xs:element>         
                </xs:sequence>       
            </xs:extension>      
        </xs:complexContent>     
    </xs:complexType>      
    <xs:complexType name="smtp-handlerType">      
        <xs:complexContent>       
            <xs:extension base="common-handlerType">         
                <xs:sequence>             
                    <xs:group ref="smtp-propertyGroup"/>             
                    <xs:element default="false" minOccurs="0" name="send-for-all-messages" type="xs:boolean">                 
                        <xs:annotation>                     
                            <xs:documentation><![CDATA[
            [Description]: When messages enter into this handler through using log() method of logger registered in this handler,
                            it determines whether to consider it as the sender object of email. If it has been set
                            as false, messages which are only called through using specific send() method are transmitted.
        ]]>
                            </xs:documentation>                 
                        </xs:annotation>             
                    </xs:element>         
                </xs:sequence>       
            </xs:extension>      
        </xs:complexContent>     
    </xs:complexType>      
    <xs:complexType name="smtp-senderType">         
        <xs:sequence>             
            <xs:group ref="smtp-propertyGroup"/>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:group name="smtp-propertyGroup">         
        <xs:sequence>             
            <xs:element name="smtp-host-address" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: The address of Smtp server to send email is set for this field.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="from-address" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: The address of sender for email is set for this field. 
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="to-address" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: The address of receiver of email is set for this field.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="cc-address" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
        [Description]: The cc-address of receiver is set for this field.
    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="bcc-address" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
            [Description]: The bcc-address of receiver is set for this field.
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:group>      
    <xs:complexType name="socket-handlerType">      
        <xs:complexContent>       
            <xs:extension base="common-handlerType">         
                <xs:sequence>             
                    <xs:element name="address" type="xs:token">                 
                        <xs:annotation>                     
                            <xs:documentation><![CDATA[
            [Description]: IP address of sending messages when generating this handler.
        ]]>
                            </xs:documentation>                 
                        </xs:annotation>             
                    </xs:element>             
                    <xs:element name="port" type="nonNegativeIntType">                 
                        <xs:annotation>                     
                            <xs:documentation><![CDATA[
            [Description]: Port of sending messages when generating this handler.
        ]]>
                            </xs:documentation>                 
                        </xs:annotation>             
                    </xs:element>         
                </xs:sequence>       
            </xs:extension>      
        </xs:complexContent>     
    </xs:complexType>      
    <xs:simpleType name="off-intType">         
        <xs:annotation>             
            <xs:documentation><![CDATA[
               [Value Type Description]: The default value is in non-negative int type. In case where the value is -1, it is considered as off.
            ]]>
            </xs:documentation>         
        </xs:annotation>         
        <xs:restriction base="xs:int">             
            <xs:minInclusive value="-1"/>         
        </xs:restriction>     
    </xs:simpleType>      
    <xs:simpleType name="nonNegativeIntType">         
        <xs:annotation>             
            <xs:documentation><![CDATA[
               [Value Type Description]: This element is int type which is over 0. Thus, it includes values which are over 0 in the range of int type.
            ]]>
            </xs:documentation>         
        </xs:annotation>         
        <xs:restriction base="xs:int">             
            <xs:minInclusive value="0"/>         
        </xs:restriction>     
    </xs:simpleType>      
    <xs:simpleType name="nonNegativeLongType">         
        <xs:annotation>             
            <xs:documentation><![CDATA[
               [Value Type Description]: This element is long type which is over 0. Thus, it includes values which are over 0 in the range of long type.
            ]]>
            </xs:documentation>         
        </xs:annotation>         
        <xs:restriction base="xs:long">             
            <xs:minInclusive value="0"/>         
        </xs:restriction>     
    </xs:simpleType>       
    <xs:simpleType name="positiveIntType">         
        <xs:annotation>             
            <xs:documentation><![CDATA[
                [Value Type Description]: The default value is in non-negative int type. It permits values which are over 0 in the range of int type.
            ]]>
            </xs:documentation>         
        </xs:annotation>         
        <xs:restriction base="xs:int">             
            <xs:minExclusive value="0"/>         
        </xs:restriction>     
    </xs:simpleType>      
    <xs:simpleType name="positiveShortType">         
        <xs:annotation>             
            <xs:documentation><![CDATA[
                [Value Type Description]: This element is used as brokerID of JMS broker. 0  is reserved as local brokerID.
            ]]>
            </xs:documentation>         
        </xs:annotation>         
        <xs:restriction base="xs:short">             
            <xs:minExclusive value="0"/>         
        </xs:restriction>     
    </xs:simpleType>      
    <xs:simpleType name="off-longType">         
        <xs:annotation>             
            <xs:documentation><![CDATA[
                [Value Type Description]: The default value is in unsigned long type. In case where the value is -1, it is considered as off. 
            ]]>
            </xs:documentation>         
        </xs:annotation>         
        <xs:restriction base="xs:long">             
            <xs:minInclusive value="-1"/>         
        </xs:restriction>     
    </xs:simpleType>       
    <xs:simpleType name="fractionType">         
        <xs:annotation>             
            <xs:documentation><![CDATA[
                [Value Type Description]: Rate as float type between 0 and 1.
            ]]>
            </xs:documentation>         
        </xs:annotation>         
        <xs:restriction base="xs:float">             
            <xs:minInclusive value="0"/>             
            <xs:maxInclusive value="1"/>         
        </xs:restriction>     
    </xs:simpleType>      
    <xs:complexType name="user-handlerType">      
        <xs:complexContent>       
            <xs:extension base="common-handlerType">         
                <xs:sequence>             
                    <xs:element name="handler-class" type="xs:token">                 
                        <xs:annotation>                     
                            <xs:documentation><![CDATA[
            [Description]: Fully qualified class name in which user has created is set. This class inherits java.util.logging.Handler and jeus.util.logging.JeusHandler will be constructed.
            [Example]: &lt;handler-class>com.tmax.logging.handler.MyHandler&lt;/handler-class>
        ]]>
                            </xs:documentation>                 
                        </xs:annotation>             
                    </xs:element>             
                    <xs:element minOccurs="0" name="handler-property" type="handlerPropertySetType">                 
                        <xs:annotation>                     
                            <xs:documentation><![CDATA[
                    [Description]: When handler is generated, property to parse is set. These properties are delivered to
                                    handler as being stored in Map object as key-value through JeusHandler.setProperty() method.
                ]]>
                            </xs:documentation>                 
                        </xs:annotation>             
                    </xs:element>             
                    <xs:element default="jeus.util.logging.SimpleFormatter" minOccurs="0" name="formatter-class" type="xs:token">                 
                        <xs:annotation>                     
                            <xs:documentation><![CDATA[
                        [Description]: Fully qualified class name of formatter in which this handler is used.
										This class inherits java.util.logging.Formatter and jeus.util.logging.JeusFormatter will be constructed.
                        [Example]: &lt;formatter-class>com.tmax.logging.handler.MyHandler&lt;/formatter-class>
                    ]]>
                            </xs:documentation>                 
                        </xs:annotation>             
                    </xs:element>             
                    <xs:element minOccurs="0" name="formatter-property" type="handlerPropertySetType">                 
                        <xs:annotation>                     
                            <xs:documentation><![CDATA[
            [Description]: Property to parse to formatter when handler is generated.
                            This properties are delivered to formatter through using JeusFormatter.setProperty() method stored in Map object.
        ]]>
                            </xs:documentation>                 
                        </xs:annotation>             
                    </xs:element>         
                </xs:sequence>       
            </xs:extension>      
        </xs:complexContent>     
    </xs:complexType>      
    <xs:complexType name="handlerPropertySetType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="property" type="propertyType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Property to be delivered to handler is set.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="propertyType">         
        <xs:sequence>             
            <xs:element name="key" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
            [Description]: This element is the key value of property.
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="value" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: The value of property.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="propertiesType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="property" type="propertyType"/>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:simpleType name="loggingLevelType">         
        <xs:restriction base="xs:string">             
            <xs:enumeration value="FATAL">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
			[Description]: This is the level of SEVERE. It supports for compatibility as logger level of JEUS 4.x.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="NOTICE">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
			[Description]: This is the level of WARNING. It supports for compatibility as logger level of JEUS 4.x.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="INFORMATION">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
			[Description]: This is the level of INFO. It supports for compatibility as logger level of JEUS 4.x.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="DEBUG">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
			[Description]: This is the level belonging to FINE. It supports for compatibility as logger level of JEUS 4.x.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>              
            <xs:enumeration value="fatal">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
			[Enumeration Display]: false
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="notice">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Enumeration Display]: false
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="information">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Enumeration Display]: false
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="debug">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Enumeration Display]: false
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>              
            <xs:enumeration value="SEVERE">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Please refer to Level class documentation of J2SE Logging API.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="WARNING">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Please refer to Level class documentation of J2SE Logging API.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="INFO">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Please refer to Level class documentation of J2SE Logging API.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="CONFIG">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Please refer to Level class documentation of J2SE Logging API.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="FINE">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Please refer to Level class documentation of J2SE Logging API.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="FINER">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Please refer to Level class documentation of J2SE Logging API.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="FINEST">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Please refer to Level class documentation of J2SE Logging API.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>              
            <xs:enumeration value="ALL">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Please refer to Level class documentation of J2SE Logging API.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>              
            <xs:enumeration value="severe">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Enumeration Display]: false
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="warning">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Enumeration Display]: false
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="info">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Enumeration Display]: false
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="config">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Enumeration Display]: false
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="fine">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Enumeration Display]: false
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="finer">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Enumeration Display]: false
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="finest">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Enumeration Display]: false
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>              
            <xs:enumeration value="all">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Enumeration Display]: false
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>          
        </xs:restriction>     
    </xs:simpleType>      
    <xs:complexType name="securityPermissionType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="description" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
      [Description]: Exaplaination on this security permission setting can be written for this field.
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="security-permission-spec" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
              [Description]: Security permission can be written and Java policy file is followed for the format.
              [Example]: grant {
                            permission java.lang.RuntimePermission "foo";
                        }
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="rolePermissionType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="1" name="principal" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Role related to user principal is set.
                        [Value Description]: Principal name set in subjects.xml of security.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="1" minOccurs="1" name="role" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Role name contributed to principals is set.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element maxOccurs="1" minOccurs="0" name="actions" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
            [Description]: Action for this role permission object is defined. There is no action for role permission
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="1" minOccurs="0" name="classname" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: Role permission class name to use is set. If it has not been set, it uses class in which JEUS provides as default.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="1" minOccurs="0" name="excluded" type="emptyType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
            [Description]: This disables for users to use role.
            [Example]: &lt;excluded/>
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="1" minOccurs="0" name="unchecked" type="emptyType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: This enables for users to use role without checking anything.
                    [Example]: &lt;unchecked/>
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="emptyType">         
        <xs:annotation>             
            <xs:documentation><![CDATA[
                [Value Type Description]: 하위 element가 없는 type으로 self-closing element 형태로 설정된다. (ex. <unchecked/>)
            ]]>
            </xs:documentation>         
        </xs:annotation>     
    </xs:complexType>      
    <xs:simpleType name="db-vendorType">         
        <xs:restriction base="xs:string">             
            <xs:enumeration value="oracle">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: In case of using Oracle DBMS
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="informix">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: In case of using Informix DBMS
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="db2">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: In case of using IBM DB2 DBMS
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="mssql">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: In case of using Microsoft SQL Server DBMS 
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="sybase">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: In case of using Sybase DBMS
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="hsql">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: In case of using HSQL DBMS
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="cloudscape">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: In case of using Cloudscape DBMS
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="mysql">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: In case of using MySQL DBMS
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>         
        </xs:restriction>     
    </xs:simpleType>      
    <xs:simpleType name="engineType">         
        <xs:restriction base="xs:string">             
            <xs:enumeration value="EXCLUSIVE_ACCESS">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: Each entity bean instance has exclusive access and a one-to-one relationship with the database row that
  				it represents. This means that the EJB engine can skip all the ejbLoad() calls to this bean since it will know that no 
		    		other entity bean will access and modify the data while the instance is alive. The engine thus calls ejbLoad() only once 
		   		when the bean is created and then assumes that no changes are made to the DB so that no more ejbLoad() calls have 
		    		to be made. This setting can NOT be used when the bean is part of a cluster. It must also be remembered 
		    		that the database should only be allowed to be modified by the WAS (external non-WAS access should be disallowed).
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="SINGLE_OBJECT">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: With this setting, several EJBs in different EJB engines may be mapped to the same database row. ejbLoad() will 
                     				be called before every request to the entity bean. This setting (or MULTIPLE_OBJECT) is thus required when you cluster EJBs of 
                     				the same type. The difference from the MULITPLE_OBJECT setting is that within each EJB engine, only ONE EJB entity bean will be 
                     				assigned to handle all EJB client requests (thereby the term "single object"). Other requests arriving to the same EJB engine 
                     				while the EJB instance is already tied up will cause the new requests to wait until the processing is finished.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="MULTIPLE_OBJECT">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: With this setting, several EJBs in different EJB engines may be mapped to the same database row. ejbLoad() will 
                    				be called before every request to the entity bean. This setting (or SINGLE_OBJECT) is thus required when you cluster EJBs of 
                    				the same type. The difference from the SINGLE_OBJECT setting is that within each EJB engine, serveral EJB entity bean instances 
                    				will be spawned to handle all EJB client requests concurrently (thereby the term "mulitple object"). Other requests arriving 
                    				to the EJB engine while previous requests are being processed will thus NOT have to wait like they do in SINGLE_OBJECT mode.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>         
        </xs:restriction>     
    </xs:simpleType>      <!-- CAUTION : this type is shared by JNDI server, local, session server,
                  JDBC connection pool, so be careful to modify default value
                  or the name of element -->     
    <xs:complexType name="poolingType">         
        <xs:sequence>             
            <xs:element default="2" minOccurs="0" name="min" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: The mimimum value of being pooled.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="30" minOccurs="0" name="max" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
        [Description]: The maximum value of being pooled.
    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="3600000" minOccurs="0" name="period" type="xs:long">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Time for object to be pooled is set for this field.
                        [Performance Recommendation]:As this value is bigger, time cycle will be enlarged and traffic on server operation will be decreased.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="oldPoolingType">         
        <xs:sequence>             
            <xs:element default="2" minOccurs="0" name="min" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
            [Description]: The mimimum value of being pooled.
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="30" minOccurs="0" name="max" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
            [Description]: The maximum value of being pooled.
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="4" minOccurs="0" name="step" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
            [Description]: Increased quantity will be specified as object to be pooled is increased.
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="3600000" minOccurs="0" name="period" type="xs:long">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
            [Description]: Time for object to be pooled is set for this field.
            [Performance Recommendation]:As this value is bigger, time cycle will be enlarged and traffic on server operation will be decreased.
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="methodParamType">         <!-- Originally, we took methodName(Arg1,Arg2..) type, but now we use J2EE style -->         
        <xs:sequence>             
            <xs:element name="method-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                [Description]: Name of method is set.
                [Example]: foo
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="method-params" type="method-paramsType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Parameters of method are set by order.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="method-paramsType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="method-param" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                [Description]: Fully qualified class name of parameter of this method is set.
                [Example]: java.lang.String
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="jndi-infoType">         
        <xs:sequence>             
            <xs:element name="ref-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
            [Description]: This element can declare reference name to be used in source code.
            [Value Description]: Reference name to be binded in actual JNDI name. This element corresponds with ref-name of J2EE Standard descriptor element.
            [Example]: &lt;ref-name>ejb/AccountEJB&lt;/ref-name>
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="export-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
            [Description]: Actual JNDI name defined in JEUS DD.
            [Example]: &lt;export-name>ACCEJB&lt;/export-name>
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="envType">         
        <xs:sequence>             
            <xs:element name="type" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: JAVA type of environment variable.
                    [Value Description]: Select single Java Type among java.lang.Boolean, java.lang.String, java.lang.Integer, java.lang.Double, java.lang.Byte, java.lang.Short, java.lang.Long, java.lang.Float, java.lang.Character.
                    [Example]: &lt;type>java.lang.Integer&lt;/type>
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element name="name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
        [Description]: Name of environment variable used in code.
        [Example]: &lt;name>minAmount&lt;/name>
    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="value" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: This value is used as parameter of corresponding wrapper class generator.
                    [Example]: &lt;value>100&lt;/value>
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="jndi-refType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="jndi-info" type="jndi-infoType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: This element binds as actual EJB JNDI name used in code.
				                        For example, it can lookup actual JNDI name "ACCEJB" (account EJB) as "ejb/account" within source code
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>       
    <xs:complexType name="invoke-httpType">         
        <xs:sequence>             
            <xs:element name="url" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
            [Description]: URI path of RMI Handler Servlet (jeus.rmi.http.ServletHandler) called by HTTP-RMI stub should be configured.
                            This URL configures only Servlet request path except for Protocol, Web Server IP and Port number.
                            Protocol is assumed to contain IP address such HTTP, RMI execution environment and Web Server.
                            ( This means Web Server and Web Container should receive HTTP-RMI request.)
                            Port number should be configured in element(HTTP_port) explained in the following.
            [Value Description]: Servlet Context Path expressing RMI Handler Servlet
            [Example]: &lt;url>/mycontext/RMIHandlerServlet&lt;/url>
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="80" name="http-port" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: This element configures prot number of Web Server to process HTTP-RMI request.
                                    This Web Server/Web Container should be already in execution mode and RMI should be deployed.
                    [Value Description]: Port number of Web Server to be connected by HTTP-RMI stub.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="res-refType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" name="jndi-info" type="jndi-infoType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
            [Description]: This element configures export name and reference name of each resource reference to be registered in JNDI of this Engine Container.
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="system-loggingType">         
        <xs:sequence>             
            <xs:group ref="loggingGroup"/>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="user-logType">      
        <xs:complexContent>       
            <xs:extension base="system-loggingType"/>      
        </xs:complexContent>     
    </xs:complexType>      
    <xs:complexType name="jsp-engineType">         
        <xs:sequence>             
            <xs:element default="true" minOccurs="0" name="keep-generated" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
            [Description]: This element determines availabiltiy of storing java source file after generating Servlet Class File through compiling source file generated from JSP page.
                            These files are useful for debugging purpose.
            [Value Description]: This configuration activates or inactivates as Boolean value.
            [Value Type Description]: Boolean
            [Defined Value]: default : true
                                         true : Maintaining Java Source File.
                                         false : Deleting Java Source File.
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="com.sun.tools.javac" minOccurs="0" name="java-compiler" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
            [Description]: This element configures Java Compiler for compiling Java source code of eJSP.
                           It is not recommended since default configuration is the most efficent way.
            [Value Description]: Character set and compiler configuring java compiler should be included within system path in order to execute.
            [Defined Value]: [sun.tools.javac] : SUN Microsystems Java Compiler in which "tools.jar" is included is used (This configuration is recommended).
                             [javac] : This element configures external "javac" compiler including in system path.
                             [com.sun.tools.javac] : This is operated in serveral systems. If this operates, this is priotized option since it is more efficent and stable than sun.tools.javac.
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="jsp-work-dir" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: JSP workdir is location in which Servlet source file and class files are stored.
						               Developer or administrator can use related directory for debugging purpose.
                                       This element is not generally needed to be used.
                        [Value Description]: Absolute path used for compliling JSP.
                        [Defined Value]: default : %SERVLET_HOME%\jspwork \enginename\GroupDocBase\DocBase
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="compile-output-dir" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
            [Description]: Through configuring this property,  generated class files can be placed in other directory besides &lt;jsp-work-dir> directory.
                           If this property is not set, class files will be located in jspwork directory. This element is not commonly used.
            [Value Description]: Absolute path used for storing JSP class files.
            [Defined Value]: default : %SERVLET_HOME%\jspwork \enginename\GroupDocBase\DocBase
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="compile-option" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: This is option used as Servlet compiler and is not commonly used.
                        [Value Description]: Compile option property used for compiling (Referencing &lt;java-compiler>element)
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="compile-encoding" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: This property is value of configuring in ?encoding option when compiling generated Servlet source file through parsing JSP files.
                                    This configuration is not commonly used. Web Container automatically selects proper configuration.
                    [Value Description]: Character set checking encoding scheme to use. For additional information, please refer to javac compiler documentation.
                    [Defined Value]: [default] : This is automatically selected in Web Container.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="false" minOccurs="0" name="check-included-jspfile" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: If this property is set as "true", it enables to recompile related JSP file when executing included JSP file.
                                   Included JSP files are not checked for being updated.
                    [Value Description]: Activating or inactivating this configuration as Boolean value.
                    [Value Type Description]: Boolean
                    [Defined Value]: [true] : Activating related configuration.
                                     [false]: Inactivating related configuration.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="schedulerType">         
        <xs:sequence>             
            <xs:element default="true" minOccurs="0" name="enabled" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
            [Description]: This configures whether to operate Scheduler Service.
            [Defined Value]: [true] : activate it
                             [false]: inactivate it.
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="thread-pool" type="poolingType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
        [Description]: This element configures thread pool used when executing job as multi-thread in schedule.
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="job-list" type="job-listType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: This element configures job list to be registered in scheduler.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="job-listType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="job" type="jobType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: This element configures a single job to be registered in scheduler.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="jobType">         
        <xs:sequence>             
            <xs:element name="class-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
            [Description]: This element is fully qualified name of class to execute job.
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element minOccurs="0" name="name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: This element configures job name.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element minOccurs="0" name="description" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: Explaination of this job can be written for this field.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element minOccurs="0" name="begin-time" type="xs:dateTime">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
            [Description]: This element configures starting time of this job. If starting time is not given, job is immediately started.
        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element minOccurs="0" name="end-time" type="xs:dateTime">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: This element configures terminating time of this job. If terminating time is not given, job will not be terminated.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element minOccurs="1" name="interval" type="intervalType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: This element configures time cycle for this job to executed.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element default="-1" minOccurs="0" name="count" type="xs:long">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: The number of execution for this job is configured.
                    [Defined Value]: [-1]: No limitation for number of execution.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="intervalType">         
        <xs:choice>             
            <xs:element name="millisecond" type="xs:long">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: Time cycel is configured in millisecond unit.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element name="minutely" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: Time cycle is configured in minute unit.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element name="hourly" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: Time cycle is configured in time unit.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element name="daily" type="nonNegativeIntType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: Time cycle is configured in date unit.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:choice>     
    </xs:complexType>      
    <xs:simpleType name="vendorType">         
        <xs:restriction base="xs:token">             
            <xs:enumeration value="oracle">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Oracle JDBC driver
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="sybase">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Sybase JDBC driver
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="mssql">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: JEUS MS SQL Server driver
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="db2">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: DB2 JDBC driver
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="others">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Other JDBC drivers
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>         
        </xs:restriction>     
    </xs:simpleType>     
    <xs:complexType name="run-as-identityType">         
        <xs:sequence>             
            <xs:element name="principal-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: Principal name used as role of run-as-specified-identity within ejb-jar.xml or web.xml.
                    [Value Description]: Principal name configured in subjects.xml of security.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="SecurityServiceType">         
        <xs:sequence>             
            <xs:element maxOccurs="1" minOccurs="1" name="classname" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
        [Description]: Java Class name extending one among jeus.security.spi classes.
        [Value Description]: Java Class Name
        [Example]: &lt;classname>mypackage.MyAutenticationService&lt;/classname>
    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="property" type="SecurityServicePropertyType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: This element defines property as name-value pair in related security service as option.
                                    Please refer documentation on service class for explaination on each property which can be defined.
                ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="SecurityServicePropertyType">         
        <xs:sequence>             
            <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Variable name
                        [Value Description]: Variable name
                        [Example]: <name>filename</name>
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="1" minOccurs="0" name="value" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Property value as selective matter.
                        [Value Description]: Property value.
                        [Example]: &lt;value>c:\security\myAccounts.xml&lt;/value>
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="keystore-managerType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="keystore-path" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Defines keystore file path to be applied to current domain.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="changeit" minOccurs="0" name="keystore-password" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Configure the password for keystore file applied to current domain.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="keystore-keypassword" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Configure the keypassword for keystore file applied to current domain.                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="truststore-path" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Define truststore file path to be applied to current domain.                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="changeit" minOccurs="0" name="truststore-password" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: Configure the password for truststore file to be applied to current domain..                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType> 
</xs:schema>
