5_ubuntu14.04.5_jdk6/jeus5/config/xsds/ja/jeus-web-dd.xsd

<?xml version="1.0" encoding="Shift-JIS"?>
<xs:schema 
    attributeFormDefault="unqualified" 
    elementFormDefault="qualified" 
    targetNamespace="http://www.tmaxsoft.com/xml/ns/jeus" version="5.0" 
    xmlns="http://www.tmaxsoft.com/xml/ns/jeus" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">      
    <xs:include schemaLocation="jeus-common.xsd"/>     
    <xs:include schemaLocation="jeus-webservices-client-dd.xsd"/>      
    <xs:element name="jeus-web-dd" type="contextType">         
        <xs:annotation>             
            <xs:documentation><![CDATA[
                [Description]: JEUS Application(Servlet Application) Deployment Descriptor
                                        このelement(&lt;context>)の下位elementは、 deploymentと
                                        Contextの登録(Web application)に適合な情報を含んでいます。
            ]]>
            </xs:documentation>         
        </xs:annotation>     
    </xs:element>      
    <xs:complexType name="contextType">         
        <xs:sequence>             
            <xs:element maxOccurs="1" minOccurs="0" name="context-path" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: コンテクストのURL pathです。このpathは、ドメインの名前(とポート番号)の後ろに付け加えます。
                                                例: 例えば、Aというコンテクストのcontext pathが “/examples”であれば、“http://www.foo.com/examples/index.html” URLは、
                                                A コンテクストの index.htmlファイルを実行します。
                                                注意: もしこの elementがWEBMain.xmlに設定されていなければこちらに設定をしなければなりません。
                        [Value Description]: URLは“/”でスタートしなければなりません。該当パスは、Virtual Host内でユニックである必要があります。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="docbase" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: この elementは、Web applicationのすべてのファイルが保存されるContextのドキュメント・ベース・ディレクトリを設定します。                                                このディレクトリは、Context groupのドキュメント・ベース・ディレクトリに含まれて追加されます。(context-group>&lt;group-docbase>elementに設定されたように)
                                                これは、絶対経路でも指定が可能です。
                                                もしこのelementを設定しなければ  Contextは、デフォルト Contextディレクトリに保存されます。(Context groupディレクトリの下を意味)
                        [Value Description]: このContextに対して絶対または相手パス。もし相手経路が指定されれば, その経路はContext groupのドキュメント・ベースに付け加えられます。
                                                          (ディレクトリ分離者 “\”または "/"では始めない)
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="user-log" type="user-logType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: この elementは、プログラマーがServlet内にServletContext.log()メソッド使用を通じて正義されたメッセージのハンドリングを設定します。&lt;context-group>&lt;logging>&lt;user-log>elementの設定値とContextの名前で適用されます。(例.”Examples.log”). このelementを使用することでContextに対するそれぞれのログファイルが得られます。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="true" minOccurs="0" name="enable-jsp" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: JSPエンジンの使用可否を設定します。
                        [Value Description]: Boolean値でこの設定を活性化または非活性化します。
                        [Value Type Description]: Boolean
                        [Defined Value]: [true]: Web ContainerでJSPの提供を活性化します。
                                                [false]: Web ContainerでJSPの提供を非活性化します。
                                                             設定すると、この値はすべてのJSPファイルのアクセス不可を引き起こします。(Service Unavailable メッセージがブラウザーに返還されるはずです。)
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="auto-reload" type="auto-reloadType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: クラスが変更されればServletクラスとcustom tag クラスを自動で reloadするかを決定します。
                                                この設定は、変更可否の点検とreloadを実行するかにおいて余分のソースを要求するため、開発運営環境でのみ活性化します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="-1" minOccurs="0" name="max-instance-pool-size" type="xs:int">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: single thread modelが使われれば(このように SingleThreadedModelインターフェースを相続するServletに対してのみ) Servlet instanceの最大数を設定します。もしsingle threaded Servletに対する要請がここに設定している値を超過すると、要求はsingle threaded Servlet instanceが使用可能となるまで待機します。                        [Value Description]: このContext groupのために生成するsingle threaded Servlet instanceの最大数
                        [Value Type Description]: Integer
                        [Defined Value]: [-1]:  この値段が使われればsingle threaded Servletsに対するinstanceの数に限界がなくなります。
                    ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="added-classpath" type="added-classpathType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: このelementは、Servletがコンパイルされるとき或いは実行される時にクラス経路に加えられて追加的なクラスを指定します。デフォルトで “\WEB-INF\classes”ディレクトリ下にクラスとパッケージだけではなく“\WEB-INF\lib”の下にJARファイルもクラスパスに含まれます。\WEB-INF\ディレクトリは、Contextの文書ベースディレクトリの下にのみ位置されます。
                   ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="allow-indexing" type="allow-indexingType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: このelementの下位 elementは、URL経路に文書を検索できるように設定します。インデクシングは URL経路の下にあるディレクトリの Contentがウェブブラウザー窓に羅列されることを意味します。三つの条件が充足されればインデクシングは発生します。1.ユーザが明白なファイルや資源名をURL経路に指定しない。(例えば index.html 指定しない). 2.Web applicationの web.xmlディスクリプタファイルに default welcome fileが指定されない。 3.インデクシングは要請したディレクトリを許容する(許容したディレクトリは、このelementの下位 elementを並べる) もしこのすべての条件が充足されればディレクトリリストがクライアントに送られます。
                   ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="deny-download" type="deny-downloadType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: このelementは、ダウンが不可能なファイルを指定します。例えば、secret.dat名前のファイルが www.foo.comドメインに/customers context 経路にdataというディレクトリに存在して、クライアントが URL 
www.foo.com/customers/data/secret.datを要求すると普通secret.datのファイルがダウンロードされます。これを防止するためには、secret.datファイルのダウンロードを防ぐためにはXML elementを使用します。
                  ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="aliasing" type="aliasingType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Aliasingは、要求URL経路を実際ファイルシステムディレクトリでシンボリックリンクを生成するのに使われます。デフォルトでContextパスの下にそれぞれのURLパスは、Contextの文書ベースディレクトリの下位ディレクトリを反映します。しかし、URL経路が違うディレクトリなら、このelementは、デフォルト設定をオボライドすることに使われます。
                    ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="file-caching" type="file-cachingType">                 
                <xs:annotation>                      
                    <xs:documentation><![CDATA[
                        [Description]: この elementは、イメージファイルとHTMLファイルのような静的資源のキャッシュを構成します。キャッシュは頻繁な要請ファイルを補助記憶装置(例: ハードディスク) の代わりにメインメモリーに一時的に保存して取得ことを意味します。これは、静的資源を取得する性能を向上させます。
                    ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="role-mapping" type="role-mappingType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: この elementは実際システムユーザの名前を該当の Contextの web.xmlの &lt;security-role>elementに使う J2EE role名前とマッピングします。
                                                web.xmlファイルは、該当Contextのドキュメント・ベース・ディレクトリの“\WEB-INF\”の下に位置します。
                        [Dependency]:
                                    role : /web-app/security-role/role-name
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="ejb-ref" type="ejb-refType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: このelementは、web.xmlで設定したEJB レファレンスを実際システムで使うJNDIの名前に連結する.
                        [Dependency]:
                                    ref-name : /web-app/ejb-ref/ejb-ref-name
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="res-ref" type="res-refType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: この elementは、web.xmlのリソースレファレンス(例えば、datasource レファレンス)と実際システムで使うJNDI名前に連結します。
                        [Dependency]:
                                    ref-name : /web-app/resource-ref/res-ref-name
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="res-env-ref" type="res-env-refType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: この elementは、web.xmlのリソース環境レファレンスと実際システムで使うJNDI名前に連結します。
                        [Dependency]:
                                    ref-name : /web-app/resource-env-ref/resource-env-ref-name
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="service-ref" type="jeus-webservices-client-ddType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: JEUSウェブサービスクライアントの設定文書のルートエレメント(root element).
                        ]]>                     
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>              
            <xs:element default="false" minOccurs="0" name="url-rewriting" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: デフォルトで Web Containerは、多くの要請に関してクライアントのセッションidを維持するためにクッキーを使います。1つの問題としては、リクエストが、クッキーが元々生成されてあった場合に対してのドメイン名前とリクエストが他のドメインの名前をもっていると、大部分のウェブブラウザーは新しい要求に対してはドンナセッションidクッキー情報も送りません。もし該当のオプションを trueで設定すれば、ウェブブラウザーがクッキーを支援してもクッキーに依存する代わりにURL rewritingの使用を強制に実行します。この場合に、セッショントラッキングは、他のドメイン名前を通じて呼び出しが使われても実行されるはずです。これは、すべてのURLのゆ唯一なJSESSIONID URLパラメーターを添付して該当の Contextに要求されるようにします。もしfalseに設定されれば該当の設定は使用されずにデフォルトクッキーが基準として使われます。
                        [Value Description]: Boolean値でこの設定を活性化または非活性化します。
                        [Value Type Description]: Boolean
                        [Defined Value]: [true]: 該当の設定を活性化します。
                                         [false]: 該当の設定を非活性化します。
                   ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="jsp-engine" type="jsp-engineType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                     [Description]: このelementは　本Contextに対してJSPに連結された設定を作ります。この設定は、該当ContextのすべてのJSPページに適用されます。                ]]>
                    </xs:documentation>                    
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="keep-generated" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: このweb componentがウェブサ?[ビス或いはウェブサ?[ビスクライアントを含んでいる場合に
						生成したウェブサ?[ビスのTie及びウェブサ?[ビスクライアントのStubのjava source fileを残すかどうかを指定します。この設定がなければ&lt;application>の設定を使用します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="fast-deploy" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: このweb componentがウェブサービスであるか或いはウェブサービスクライアントを含んでいるときに
						ウェブサービスのTie及びウェブサービスクライアントのStubを新しく生成してコンパイルせずに既存に生成されて
						web componentのように設置されたクラスファイルを使用するかの可否を指定します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="servlet" type="servletType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: このelementは、context内のjeusのみのservletに対する情報を含みます。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="false" minOccurs="0" name="webinf-first" type="xs:boolean">                 
                <xs:annotation>                      
                    <xs:documentation><![CDATA[
                        [Description]: classをローディングするときにweb-infディレクトリの下から探し始めるかの可否を設定します。
                        Trueで設定すると、web-infの下からまず探してfalseで設定されれば上位のclassloaderから探し始めます。
                        Trueで設定時に重複されたclassによるClassCastExceptionを注意しなければなりません。
                    ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="1" minOccurs="0" name="jsp-resource" type="jsp-resourceType">                 
                <xs:annotation>                  
                    <xs:documentation><![CDATA[	                	[Description]: このelementはリポジトリに保存された JSPリソースをJspEngineに提供するためにprovider-classを指定します。                	]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="1" minOccurs="0" name="jndi-properties" type="jndi-propertiesType">                 
                <xs:annotation>                  
                    <xs:documentation><![CDATA[
	                	[Description]: jndi関連プロパティを設定します。
                	
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="properties" type="propertiesType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: context-wideのプロパティを指定します。                    ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:simpleType name="target-RestrictedType">         
        <xs:restriction base="xs:string">             
            <xs:enumeration value="default"/>             
            <xs:enumeration value="stdout"/>             
            <xs:enumeration value="file"/>         
        </xs:restriction>     
    </xs:simpleType>      
    <xs:complexType name="auto-reloadType">         
        <xs:sequence>             
            <xs:element default="false" minOccurs="0" name="enable-reload" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Servlet auto-reloadを活性化または非活性化するかを決定します。
                        [Value Description]: Boolean値でこの設定を活性化または非活性化します。
                        [Value Type Description]: Boolean
                        [Defined Value]: [true]: 該当の設定を活性化する
                                                [false]: 該当の設定を非活性化する
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="false" minOccurs="0" name="check-on-demand" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: このelementは、Servletクラス reloadをそれぞれのリクエストが来るたびに点検するかどうかを指定します。
                        [Value Description]: Boolean値でこの設定を活性化または非活性化します。
                        [Value Type Description]: Boolean
                        [Defined Value]: [true]: 該当の設定を活性化する.
                                                [false]: 該当の設定を非活性化する.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="added-classpathType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="class-path" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: Servletをコンパイルして実行するときに追加するための1つのユーザ定義のlasspathを宣言します。
                        [Value Description]: ディレクトリあるいはJARファイルが指定できます。
                                                           ディレクトリで指定する時は ディレクトリ分離子で終わらなければなりません。(“\”ウィンドウ ,"/" ユニックス)
                        [Example]: &lt;class-path>c:\mylib\subdir\&lt;/class-path>
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="allow-indexingType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="directory" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: この elementは、指定したURLパスにディレクトリインデックシングを活性化します。
                        [Value Description]: 始めと終りが "/"のURL経路
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="deny-downloadType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="file" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: この elementは、指定したファイルがダウンロードできないようにします。
                        [Value Description]: URL context経路に対してファイル名が後に付く経路
                        [Example]: &lt;file>/data/secret.dat&lt;/file>
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: このelementの値で与えられた拡張子を持つContext内のあらゆるファイルのダウンロードを拒否します。
                        [Value Description]:ファイル拡張子
                        [Example]: &lt;extension>dat&lt;/extension>
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="directory" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 特定ディレクトリにすべてのファイルに対してダウンロードを防ぐためにこのelementを使います。(contextのURLパスと関係あり).
                        [Value Description]: 始めと終りが "/"のディレクトリ
 ContextのURL経路と関係のあるディレクトリ
                        [Example]: &lt;directory>/data/&lt;/directory>
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="aliasingType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="alias" type="aliasType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 格&lt;alias>elementは要請URLと唯一のディレクトリの間に一つのマッピングを定義します。
                                                例えば、ユーザ要求URLが www.foo.com/examples/images/hello.gifならデフォルトでContainerは 、Contextの
                                                ベースディレクトリである"Examples"の下にある"/images/” ディレクトリで"hello.gif"を捜します。
                                                “hello.gif"ファイルが "c:\web\images"ディレクトリに位置して Contextにはない場合 &lt;alias>elementが必要になります。
                                                複数のマッピングが必要ならば、このelementを複数個設定して使います。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="aliasType">         
        <xs:sequence>             
            <xs:element name="alias-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 指定したディレクトリにマッピングされるURLパス
                        [Value Description]: 始めと終りが "/"のディレクトリ。ContextのURL経路と関係があるディレクトリ
                        [Example]: &lt;alias-name>/images/&lt;/alias-name>
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="real-path" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: &lt;alias-name>elementのURL経路がマッピングされる実際ディレクトリを定義します。
                        [Value Description]: 相応しいディレクトリ分離子で終わる絶対ディレクトリ経路("\"ウィンドウ,"/" ユニックス)
                        [Example]: &lt;real-path>c:\web\images\&lt;/real-path>
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="file-cachingType">         
        <xs:sequence>             
            <xs:element default="-1" minOccurs="0" name="max-idle-time" type="xs:int">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: キャッシングされた静的資源が日程時間の間使われない場合は、該当の資源をキャッシングから除くのに基準になる時間
                        [Value Description]: Millisecond値
                        [Example]: &lt;max-idle-time>1800&lt;/max-idle-time>
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="-1" minOccurs="0" name="max-cache-memory" type="xs:int">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 静的資源を保存するのに置いて割り当て最大メモリー
                        [Value Description]: Megabytes単位の数
                        [Value Type Description]: Integer
                        [Defined Value]: [-1]: キャッシュサイズに制限を置かない
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="directory" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 静的Contentがキャッシュされる一つのディレクトリ経路を設定します。                                                複数個のキャッシュディレクトリを指定するためにこの elementをいくつか追加します。
                        [Value Description]: ContentがキャッシュされるContext docbaseと関係のあるURLディレクトリ経路
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="role-mappingType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="role-permission" type="rolePermissionType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]:
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="ejb-refType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="jndi-info" type="jndi-infoType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 各&lt;jndi-info>elementは、一つのレファレンスに一つのJNDIの名前を連結します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="res-env-refType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="jndi-info" type="jndi-infoType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 各&lt;jndi-info>elementは、一つのレファレンスに一つのJNDIの名前を連結します。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="servletType">         
        <xs:sequence>             
            <xs:element name="servlet-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: web.xmlに指定されたservlet-nameを示します。                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="run-as-identity" type="run-as-identityType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: このelementは、web.xmlに定義されたrun-as-specified-identity roleの名前を実際の
                    ユーザ名(principal)にマッピングします。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>          
    <xs:complexType name="jsp-resourceType">      
        <xs:sequence>       
            <xs:element maxOccurs="1" minOccurs="0" name="provider-class" type="xs:string">                 
                <xs:annotation>                  
                    <xs:documentation><![CDATA[                	[Description]: JSPリソースをInputStreamで提供するためにJspResourceProvider                 	インタフェースを実現したクラスを指定します。                	]]>
                    </xs:documentation>                 
                </xs:annotation>       
            </xs:element>           
        </xs:sequence>          
    </xs:complexType>          
    <xs:complexType name="jndi-propertiesType">      
        <xs:sequence>       
            <xs:element default="false" maxOccurs="1" minOccurs="0" name="local-bindings" type="xs:boolean">                 
                <xs:annotation>                  
                    <xs:documentation><![CDATA[
                        [Description] : local bindingを使用するかどうかを決定します。
                	    [Value Description]: Boolean値でこの設定を活性化または非活性化します。
                	
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>       
            </xs:element>           
        </xs:sequence>          
    </xs:complexType> 
</xs:schema>
