5_ubuntu14.04.5_jdk6/jeus5/config/xsds/ja/jeus-webservices-config.xsd

<?xml version="1.0" encoding="Shift-JIS"?>
<xs:schema 
    attributeFormDefault="unqualified" 
    elementFormDefault="qualified" 
    targetNamespace="http://www.tmaxsoft.com/xml/ns/jeus" version="5.0" 
    xmlns="http://www.tmaxsoft.com/xml/ns/jeus" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">       
    <xs:element name="web-services-config" type="web-services-configType">      
        <xs:annotation>          
            <xs:documentation><![CDATA[
                    [Description]:ウェブサービス設定ドキュメントのroot element
                ]]>
            </xs:documentation>      
        </xs:annotation>  
    </xs:element>   
    <xs:complexType name="web-services-configType">      
        <xs:sequence>          
            <xs:element maxOccurs="unbounded" name="service" type="service-configType">           
                <xs:annotation>               
                    <xs:documentation><![CDATA[
		                    [Description]: WSDLとマッピング(JARX-RPC Mapping)ファイルを作るために 
                                endpoing interfaceとmessaging styleなどのサービスの情報を記述します。
		                ]]>
                    </xs:documentation>           
                </xs:annotation>       
            </xs:element>      
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="service-configType">   
        <xs:sequence>             
            <xs:element name="service-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 生成するサービスの名前を記述します。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="target-namespace" type="xs:anyURI">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: サービスが持つTarget Name Spaceです。
                                サービスの固有のName Spaceを設定し、他のサービスとの論理的な区別基準となります。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="package-mapping" type="package-mappingType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: あるJavaパッケージを特定なName Spaceにマッピングする設定です。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="output-wsdl-file" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 生成しようとする出力WSDLファイルの名前です。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="output-jaxrpc-mapping-file" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 生成しようとする出力マッピングファイルの名前です。 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>                 
            <xs:element minOccurs="0" name="style" type="styleType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 生成されるサービスのmessaging styleを定義します。
                                'rpc', 'document', 'wrapped'の中で1つを選択します。                                基本設定は、'wrapped'です。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="use" type="useType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: エンコーディングスタイルを定義します。'encoded' または'literal'のなかで1つを選択します。
                                基本設定は'literal'です。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>                 
            <xs:element minOccurs="0" name="map-mime-to-anytype" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: ユーザが定義した任意のタイプを使用することを許容の可否に対するxs:booleanタイプの値を持ちます。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element maxOccurs="unbounded" name="interface" type="interfaceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]:Service Endpoint Interfaceを設定します。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>   
    <xs:complexType name="interfaceType">   
        <xs:sequence>    
            <xs:element name="endpoint-interface-class" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: back-endで動作するJavaクラスの名前を表示します。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-port-type-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: WSDLに表示される実際のポートタイプの名前を任意に設定できます。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-binding-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: WSDLに表示される実際のバインディングの名前を任意に設定できます。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-port-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: WSDLに表示される実際のポートの名前を任意に設定できます。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element maxOccurs="unbounded" minOccurs="0" name="operation" type="operationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: サービスで公開するオペレーションのそれぞれの追加設定を記述します。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="service-impl-bean" type="service-impl-beanType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[                        [Description]: サービス実現(service-implementation)に必要な追加的な設定を記述します。                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>         
            <xs:element maxOccurs="unbounded" minOccurs="0" name="handler" type="port-component_handlerType"/>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="operationType">   
        <xs:sequence>    
            <xs:element name="java-method-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 設定しようとするオペレーションの名前を値として持ちます。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: WSDLに公開されるオペレーションの名前を設定します。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="soap-action" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: オペレーションのSOAP-ACTIONを設定します。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="one-way" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]:リクエスト/応答メカニズムではないone-way 呼び出しを許す設定です。
                                非同期one-way呼び出しは、クライアントがSOAP応答を受信せずに、faultやexceptionが発生した場合にも応答を受信しません。基本値は                                'false'です。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="parameterType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: &lt;parameter>elementは1つのオペレーションの1つのパラメータを定義します。
                               このelementは、オペレーションを実現したメソッド内に定義された順に並べられなければなりません。
                                &lt;parameter>elementの数は、メソッドに定義されたパラメータの数と一致する必要があります。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="return" type="returnType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: &lt;return>elementは、ウェブサービス・オペレーションのリターンされる値を定義します。
                                オペレーションの1つ当たり、1つの&lt;return>elementのみ定義可能です。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>      
        </xs:sequence>        
    </xs:complexType>      
    <xs:simpleType name="styleType">         
        <xs:restriction base="xs:string">             
            <xs:enumeration value="rpc"/>             
            <xs:enumeration value="document"/>             
            <xs:enumeration value="wrapped"/>             
        </xs:restriction>                 
    </xs:simpleType>          
    <xs:simpleType name="useType">         
        <xs:restriction base="xs:string">             
            <xs:enumeration value="encoded"/>             
            <xs:enumeration value="literal"/>         
        </xs:restriction>  
    </xs:simpleType>   
    <xs:complexType name="parameterType">   
        <xs:sequence>    
            <xs:element name="class-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 入力パラメータ・データ・タイプがJavaクラスにマッピングされるときのJavaクラスの名前です。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-name" type="xs:string">                  
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 生成されるWSDLに使用される入力パラメータの名前です。 
                                別に入力しなかったときの基本値は、メソッドのsignatureのパラメータの名前です。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="location" type="locationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: SOAPメッセージで入力パラメータが位置する部分を定義します。
                                'header', 'body', 'attachment'の中で1つの値を持ちます。 基本値は'body'です。
                                'attachment'に設定すると、パラメータがSOAPエンヴェロープではなく
                                SOAPメッセ―ジのattachmentから抽出され、 
                                JAX-RPCスペックで指定するタイプ(java.awt.Image, java.lang.String, 
                                javax.mail.internet.MimeMultipart, javax.xml.transform.Source, 
                                javax.activation.DataHandler)のみがSOAPメッセージattachmentから抽出できます。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="mime-type" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 生成されるWSDLに表示されるパラメータの MIMEのタイプを定義します。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="mode" type="modeType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 入力パラメータが標準入力パラメータであるか、リターン値で使用される出力パラメータであるか、または入力/出力in-outのパラメータであるかを指定します。
                                'IN', 'INOUT', 'OUT'の中で1つの値を持ちます。   
                     ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:simpleType name="locationType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="header"/>    
            <xs:enumeration value="body"/>    
            <xs:enumeration value="attachment"/>   
        </xs:restriction>  
    </xs:simpleType>   
    <xs:simpleType name="modeType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="IN"/>    
            <xs:enumeration value="INOUT"/>    
            <xs:enumeration value="OUT"/>   
        </xs:restriction>  
    </xs:simpleType>   
    <xs:complexType name="returnType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="wsdl-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 生成されるWSDLに使用されるパラメータの名前です。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="location" type="locationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: SOAPメッセージにリターン・パラメータが位置する箇所を定義します。
                                'header', 'body', 'attachment' の中で1つの値を持ちます。基本値は'body'です。
                                'attachment'に設定すると、パラメータがSOAPエンベロープではない 
                                SOAPメッセージのattachmentから抽出され、
                                JAX-RPCのスペックで指定するタイプ(java.awt.Image, java.lang.String,
                                javax.mail.internet.MimeMultipart, javax.xml.transform.Source, 
                                javax.activation.DataHandler)のみがSOAPメッセージattachmentから抽出できます。 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="mime-type" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 生成されるWSDLに表示されるパラメータの MIMEのタイプを定義します。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>      
    <xs:complexType name="package-mappingType">         
        <xs:sequence>             
            <xs:element name="package-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: Name SpaceにマッピングするJavaパッケージの名前です。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="namespace-uri" type="xs:anyURI">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: Javaパッケージの名前に対応するName Spaceを設定します。
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:complexType name="service-impl-beanType">   
        <xs:sequence>    
            <xs:choice>     
                <xs:element name="servlet-name" type="xs:string">      
                    <xs:annotation>       
                        <xs:documentation><![CDATA[                            [Description]: サービス・エンドポイントがSevletの場合、Sevletの名前を設定します。                        ]]>
                        </xs:documentation>      
                    </xs:annotation>     
                </xs:element>     
                <xs:element name="ejb-name" type="xs:string">      
                    <xs:annotation>       
                        <xs:documentation><![CDATA[                            [Description]: サービス・エンドポイントがEJBの場合、EJBの名前を設定します。                        ]]>
                        </xs:documentation>      
                    </xs:annotation>     
                </xs:element>    
            </xs:choice>    
            <xs:element name="endpoint-implementation-class" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[                        [Description]: サービスを実現したビンクラスの名前を設定します。                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="context-path" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[                            [Description]: サービスが配置されるコンテキスト名を設定します。                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="endpoint-url" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[                        [Description]: サービスにアクセスするためのurlを設定します。                    ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>               
    <xs:complexType name="port-component_handlerType">           
        <xs:sequence>          
            <xs:element name="handler-name" type="xs:string"/>          
            <xs:element name="handler-class" type="xs:string"/>          
            <xs:element maxOccurs="unbounded" minOccurs="0" name="init-param" type="param-valueType"/>          
            <xs:element maxOccurs="unbounded" minOccurs="0" name="soap-header" type="xs:QName"/>          
            <xs:element maxOccurs="unbounded" minOccurs="0" name="soap-role" type="xs:string"/>      
        </xs:sequence>      
        <xs:attribute name="id" type="xs:ID"/>  
    </xs:complexType>      
    <xs:complexType name="param-valueType">         
        <xs:sequence>             
            <xs:element name="param-name" type="xs:string"/>          
            <xs:element name="param-value" type="xs:string"/>      
        </xs:sequence>      
        <xs:attribute name="id" type="xs:ID"/>     
    </xs:complexType> 
</xs:schema>
