5_ubuntu14.04.5_jdk6/data/config/xsds/zh/jeus-webservices-dd.xsd

<?xml version="1.0" encoding="GB2312"?>
<xs:schema 
    attributeFormDefault="unqualified" 
    elementFormDefault="qualified" 
    targetNamespace="http://www.tmaxsoft.com/xml/ns/jeus" version="5.0" 
    xmlns="http://www.tmaxsoft.com/xml/ns/jeus" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">      
    <xs:include schemaLocation="jeus-common.xsd"/>     
    <xs:include schemaLocation="jeus-wssecurity-dd.xsd"/>     
    <xs:include schemaLocation="jeus-webservices-client-dd.xsd"/>    
    <xs:element name="jeus-webservices-dd" type="jeus-webservices-ddType">      
        <xs:annotation>          
            <xs:documentation><![CDATA[
                   [Description]: JEUS Web Service设定文件的根元素（root element）。
                ]]>
            </xs:documentation>      
        </xs:annotation>  
    </xs:element>    
    <xs:complexType name="jeus-webservices-ddType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="ejb-context-path" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 表示要安排的EJBWeb Service所需的endpoint URL的Context路径。只在EJB endpoint中使用。 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="ejb-login-config" type="ejb-login-configType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 对于EJB Web Service 端点URL，认证客户端所需的认证方法和认证领域。只在EJB endpoint中使用。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="service-info-page" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 由Web浏览器呼叫service时，使用于对显示画面进行客户化。从负责页面开始的context相对路径。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element maxOccurs="unbounded" name="service" type="serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 表示被安排的Web Service。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="ejb-login-configType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="auth-method" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 设定认证方法。 
                       选择'BASIC', 'CLIENT-CERT', 'DIGEST', 'FORM' 等四个值之一。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="realm-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 设定适用安全策略的domain。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="serviceType">   
        <xs:sequence>    
            <xs:element name="webservice-description-name" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: WSDL文件中相关Web Service 端点名称。
                                <webservice-description-name>相当于标准配置描述符webservice.xml的<webservice-description-name>。
                            [Dependency]:/webservices/webservice-description/webservice-description-name    
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-publish" type="wsdl-publishType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 设定WSDL的公开方式。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element maxOccurs="unbounded" name="port" type="portType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 设定Web Service端口信息。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="wsdl-publishType">   
        <xs:sequence>    
            <xs:choice>     
                <xs:element name="http-publish" type="http-publishType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                                [Description]: 表示以http方式公开的WSDL。
                                    公开的WSDL中import的schema被HTTP URL参照。
                            ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>     
                <xs:element name="file-publish" type="file-publishType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                                [Description]: 表示以file方式公开的WSDL。
                               公开的WSDL中import的schema被文件的相对路径参照。
                            ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>    
            </xs:choice>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="http-publishType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="server-url" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: 公开所配置Web Service的WSDL文件的服务器URL。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="secure-server-url" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 能保证所配置Web Service WSDL文件的公开服务器的SSL安全的URL。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="wsdl-url" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 将分配的Web service WSDL文件，可附加到Web service的context内设置的现有WSDL公开URL(一般'/{服务名称}?wsdl')。
                            (只设置context之后的URL，设置方式为'/specified_url'等。)   
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>               
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="file-publishType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="server-url" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                    [Description]: 公开所配置Web Service的WSDL文件的服务器URL。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="secure-server-url" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 能保证所配置Web Service WSDL文件的公开服务器的SSL安全的URL。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element name="publish-path" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 表示Web Service WSDL的保存目录。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:complexType name="portType">   
        <xs:sequence>    
            <xs:element name="port-component-name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]:表示区别Web Service端点的名称。
                                <port-component-name>相当于标准配置描述符webservice.xml的 <port-component-name>。
                            [Dependency]:/webservices/webservice-description/port-component/port-component-name 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="ejb-endpoint-url" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 表示能访问EJB 端点的端点URL。
                                只在EJB 端点中使用。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="tie-class" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 表示连接Web Service 端点URL和Web Service Endpint interface的class。配置时自动生成，所以不需要通过Web Service allocator来表示。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="service-property" type="nameValueType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 表示在特定服务终点端口中设置的property。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>           
            <xs:element minOccurs="0" name="ejb-transport-guarantee" type="ejb-transport-guaranteeType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 表示EJB端点所发送和接收之message相关的机密性(confidentiality)和完整性(integrity)构成。可设定的值为‘NONE’、‘CONFIDENTIAL’或‘INTEGRAL’。 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="soapver" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 表示在安排的Web Service内提供服务的SOAP message版本。 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="security" type="securityType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                          [Description]: 保证Web Service安全(WS-Security)的设定。 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="rm" type="rmType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 表示使用Web service的Reliable 消息(WS-ReliableMessaging)。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="transaction" type="emptyType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 表示使用Web service的Transaction (WS-Transaction)。
                    	]]>
                    </xs:documentation>                 
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>    
    <xs:simpleType name="ejb-transport-guaranteeType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="NONE"/>    
            <xs:enumeration value="INTEGRAL"/>    
            <xs:enumeration value="CONFIDENTIAL"/>   
        </xs:restriction>  
    </xs:simpleType>    
    <xs:complexType name="securityType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="request-receiver" type="security-receiverType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 处理Web Service客户端的安全message请求所需的设定。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>    
            <xs:element minOccurs="0" name="response-sender" type="security-senderType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: Web Service在处理SOAP message后，发送应答时，为了发送适用安全策略的message而需要的设定。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>   
        </xs:sequence>   
    </xs:complexType>       
    <xs:complexType name="rmType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="client-provider" type="xs:string">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 表示RM Web service以客户端模式运行。基本值为"false"。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>       
    </xs:complexType>    
</xs:schema>
