5_ubuntu14.04.5_jdk6/data/config/xsds/zh/jeus-security.xsd

<?xml version="1.0" encoding="GB2312"?>
<xs:schema 
    attributeFormDefault="unqualified" 
    elementFormDefault="qualified" 
    targetNamespace="http://www.tmaxsoft.com/xml/ns/jeus" version="5.0" 
    xmlns="http://www.tmaxsoft.com/xml/ns/jeus" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">      
    <xs:include schemaLocation="jeus-common.xsd"/>      
    <xs:element name="security-manager" type="security-managerType">         
        <xs:annotation>             
            <xs:documentation><![CDATA[
                        [Description]: security-manager element是JEUS安全信息管理相关的说明。
                    ]]>
            </xs:documentation>         
        </xs:annotation>     
    </xs:element>      
    <xs:complexType name="security-managerType">         
        <xs:sequence>             
            <xs:element default="true" minOccurs="0" name="use-nio" type="xs:boolean">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 使用security manager Nonblocking I/O，指定通信情况。
                        [Performance Recommendation]: 使用更多Engine Container及client时，Nonblocking I/O显示更好的效果。若使用security manager的客户端数少，Blocking I/O更有效。
                    ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="connect-retries" type="xs:int">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 指定Security Network service中的 connection retry count值。
                     ]]>
                    </xs:documentation>                     
                    <xs:appinfo>                         <metadata>                             <element-level>ADVANCED</element-level>                         </metadata>                     
                    </xs:appinfo>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="security-domains" type="security-domainsType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 设置该JEUS Manager中使用的security domain。详细内容请参考JEUS Security 指南。
                     ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="security-domainsType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="security-domain" type="security-domainType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 设置JEUS要使用的security domain。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="security-domainType">         
        <xs:sequence>             
            <xs:element name="name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 设置Domain名称。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="cache-manager" type="cache-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 在JEUS Security Framwrok中适用的cache相关设置。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="keystore-manager" type="keystore-managerType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: 进行对keystore/truststore file的设定。                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:choice>                 
                <xs:group ref="SecurityServices"/>                 
                <xs:element maxOccurs="unbounded" minOccurs="0" name="custom-service" type="SecurityServiceType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                        [Description]: 不管此 domain里的 JEUS Security Framework提供的服务的属性
                                       可以在执行JEUS Security SPI的服务属性注册　别的安全服务。
                   
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:group name="SecurityServices">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="authentication" type="authenticationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 定义authenticaiton service。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="authorization" type="authorizationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 定义authorizaiton service。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="login" type="login-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                            
                            [Description]: 定义Login service。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="identity-assertion" type="identity-assertionType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                            
                           [Description]: 定义identity assertion service。                        
                       ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="credential-mapping" type="credential-mappingType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                            [Description]: 定义credential mapping service。                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="credential-verification" type="credential-verificationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                                [Description]: 定义credential verification service。
                         ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="audit" type="auditType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 定义default audit service。
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="subject-validation" type="subject-validationType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                            [Description]: 定义subject valdation service。 
                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:group>      
    <xs:complexType name="authenticationType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="repository-service" type="repository-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 定义repository service。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="cache-service" type="cache-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 在JEUS Security Framwrok中适用的cache相关设置。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="custom-authentication-service" type="SecurityServiceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: 定义custom authentication service。                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="repository-serviceType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element minOccurs="0" name="xml-file-repository" type="xml-file-repositoryType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[ 
                           [Description]: authentication service所需的xml repository service相关定义。
                           ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element minOccurs="0" name="database-repository" type="database-repositoryType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                        [Description]: authentication service所需的db repository service相关定义
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element minOccurs="0" name="custom-repository" type="SecurityServiceType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                        [Description]: 定义custom repository service。
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="xml-file-repositoryType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="config-file" type="config-fileType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: xml repository 文件信息定义
                       ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="database-repositoryType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element name="datasource-export-name" type="xs:token">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                           [Description]: 为db authentication repository service设置要使用的 db export-name。
                       
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element name="dbdriver-config" type="dbdriver-configType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                           [Description]: 为db authentication repository service设置 db export-name .
                       
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="dbdriver-configType">         
        <xs:sequence>             
            <xs:element name="vendor" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: 为db authentication repository service设置db vendor.
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="driver" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: 为db authentication repository service设置 db driver .
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="url" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: 为db authentication repository service设置 db url。
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="username" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: 为db authentication repository service设置启用 db connection时使用的 username
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="password" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: 为db authentication repository service设置启动 db connection时使用的 password。
                       
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="config-fileType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="filename" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
          [Description]: 包括user/group security信息的xml configuration file名称
                           ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="filepath" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                               [Description]: 包括user/group security信息的xml configuration file 路径。                           ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="cache-serviceType">         
        <xs:sequence>             
            <xs:element name="min" type="xs:int">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: 使用于authentication service的 cache min size值
                       ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="max" type="xs:int">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                  [Description]: 适用于authentication service的cache max size值
                       ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="-1" minOccurs="0" name="timeout" type="off-longType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                           [Description]: 要适用于authentication service的cache timeout size值。                       ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="identity-assertionType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element minOccurs="0" name="default-identity-assertion-service" type="default-identity-assertionType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[                           
                               [Description]: 在目前domain中使用为default的Identity Assertion Service设置。
    		    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element minOccurs="0" name="custom-identity-assertion-service" type="SecurityServiceType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[                           [Description]: 定义certificate和user之间映射信息的configuration文件路径。                       ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="default-identity-assertionType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element minOccurs="0" name="x509-identity-assertion" type="x509-identity-assertionType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[                           [Description]: 设定对X509Certificate的Identity Assertion Service。                       ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="x509-identity-assertionType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="config-file" type="config-fileType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                                        [Description]: 定义X509Certificate 文件路径
                                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:choice>                 
                <xs:element minOccurs="0" name="default-user-mapper" type="default-user-mapperType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                                        [Description]:对X509Certificate token进行user mapping所需的信息定义
                                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element minOccurs="0" name="custom-user-mapper" type="custom-propertyType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                                        [Description]: X509Certificate token有关的user mapping所需附加属性定义
                                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="custom-propertyType">         
        <xs:sequence>             
            <xs:element maxOccurs="unbounded" minOccurs="1" name="property" type="SecurityServicePropertyType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                        [Description]: 映射credential所需的相关信息，定义为属性值。                                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="default-user-mapperType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="cert-attr-type" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                        [Description]: 映射credential所需的相关信息，定义为属性值。                                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="attribute-type" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                        [Description]: 映射credential所需的相关信息，定义为属性值。                                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="attribute-value-delimiter" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                        [Description]: 映射credential所需的相关信息，定义为属性值。                                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="login-serviceType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element minOccurs="0" name="jaas-login-config" type="jaas-login-configType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                            [Description]: jaas 定义Login service。
                           ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element minOccurs="0" name="custom-login-service" type="SecurityServiceType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[                        [Description]: 定义custom login service。                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>             
            </xs:choice>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="jaas-login-configType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="callback-handler-classname" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                            [Description]: JAAS callback handler factory class name。                                            ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="login-module" type="login-moduleType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                            [Description]: 设定login module。                                        ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="login-moduleType">         
        <xs:sequence>             
            <xs:element name="login-module-classname" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                        [Description]: 对LoginModule进行implements的package包括在内的class name。                                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element name="control-flag" type="control-flagType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                        [Description]: authentication适用方式相关的定义。                                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="option" type="optionType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                                        [Description]: 定义LoginModule 初始化时使用的属性。
                                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:simpleType name="control-flagType">         
        <xs:restriction base="xs:token">             
            <xs:enumeration value="required">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                                        [Description]: 要注册成功的话需要此 LoginModule的许可。 LoginModule 执行成功或失败时继续将LoginModule List按顺序执行。
                                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="requisite">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                                        [Description]: 要注册成功的话需要此 LoginModule的许可。 LoginModule 执行成功的话继续将 LoginModule List按顺序执行，要是失败的话，不执行之后的 LoginModule List，给 application返回 control。
                                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="sufficient">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                                        [Description]: 注册成功不需要此 LoginModule的许可. 要是成功的话不执行 LoginModule List，给application返回 control，要是失败的话对于下一个 LoginModule List继续执行 authentication。
                                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>             
            <xs:enumeration value="optional">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                                        [Description]: 注册成功不需要此 LoginModule的许可. 要是成功或是失败都对 LoginModule List继续执行authentication。
                                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:enumeration>         
        </xs:restriction>     
    </xs:simpleType>     
    <xs:complexType name="optionType">         
        <xs:sequence>             
            <xs:element name="name" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                              [Description]: LoginModule初始化时要使用的属性名
                                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="value" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                                        [Description]: LoginModule的初始化时适用的属性值。                                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="credential-mappingType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="default-credential-mapping-service" type="default-credential-mapping-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 定义default credential mapping service。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="custom-credential-mapping-service" type="SecurityServiceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: 定义custom credential mapping service。                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="default-credential-mapping-serviceType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="x509-credential-mapping" type="x509-credential-mappingType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                           [Description]: 设定对X509Certificate的Identity Assertion Service。                       ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="x509-credential-mappingType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="truststore-path" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 定义要适用于目前DOMAIN的truststore file路径。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element default="changeit" minOccurs="0" name="truststore-password" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: 定义要适用于目前domain的truststore file密码。                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="credential-verificationType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="default-credential-verification-service" type="default-credential-verification-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: 定义default credential verification service。                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="custom-credential-verification-service" type="SecurityServiceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: 定义custom credential verification service。                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>     
    <xs:complexType name="default-credential-verification-serviceType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="password-verification">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                           [Description]: 对PasswordFactory class的credential verification设定。                       ]]>
                    </xs:documentation>                 
                </xs:annotation>                 
                <xs:complexType/>             
            </xs:element>             
            <xs:element minOccurs="0" name="jeus-certificate-verification">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: 对X509Certificate的credential verification 设置。
                       ]]>
                    </xs:documentation>                 
                </xs:annotation>                 
                <xs:complexType/>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="subject-validationType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="default-subject-validation-service">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 定义default subject-validation service.
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>                 
                <xs:complexType/>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="custom-subject-validation-service" type="SecurityServiceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 定义custom subject-validation service。
                    
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="auditType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="default-audit-service" type="default-audit-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: 定义default audit service。                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element maxOccurs="unbounded" minOccurs="0" name="custom-audit-service" type="SecurityServiceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                        [Description]: 定义custom audit service。                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="default-audit-serviceType">         
        <xs:sequence>             
            <xs:element minOccurs="0" name="config-file" type="config-fileType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[                           [Description]: 定义audit log文件信息                       ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="audit-level" type="xs:token">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                           [Description]: audit log level
                       ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType>      
    <xs:complexType name="authorizationType">         
        <xs:sequence>             
            <xs:choice>                 
                <xs:element minOccurs="0" name="repository-service" type="repository-serviceType">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[
                        [Description]: 定义default repository service。
                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                 
                </xs:element>                 
                <xs:element maxOccurs="1" minOccurs="0" name="jacc-service">                     
                    <xs:annotation>                         
                        <xs:documentation><![CDATA[                        [Description]: 定义JACC Service的使用与否。                    ]]>
                        </xs:documentation>                     
                    </xs:annotation>                     
                    <xs:complexType/>                 
                </xs:element>             
            </xs:choice>             
            <xs:element minOccurs="0" name="cache-service" type="cache-serviceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 在JEUS Security Framwrok中适用的cache相关设置。
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>             
            <xs:element minOccurs="0" name="custom-authorization-service" type="SecurityServiceType">                 
                <xs:annotation>                     
                    <xs:documentation><![CDATA[
                        [Description]: 定义custom authorization service。.
                    ]]>
                    </xs:documentation>                 
                </xs:annotation>             
            </xs:element>         
        </xs:sequence>     
    </xs:complexType> 
</xs:schema>
