5_ubuntu14.04.5_jdk6/data/config/xsds/zh/jeus-wssecurity-dd.xsd

<?xml version="1.0" encoding="GB2312"?>
<xs:schema 
    attributeFormDefault="unqualified" 
    elementFormDefault="qualified" 
    targetNamespace="http://www.tmaxsoft.com/xml/ns/jeus" version="5.0" 
    xmlns="http://www.tmaxsoft.com/xml/ns/jeus" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">  
    <xs:complexType name="security-receiverType">   
        <xs:sequence>    
            <xs:element name="action-list" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]: 设定将收到的message上应适用什么样的安全策略。可以包括Timestamp、Encrypt、Signature、UsernameToken等。各个项目以空白分开。(例如:UsernameToken Signature Encrypt)
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element default="true" minOccurs="0" name="observeActionOrder" type="xs:boolean">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
		      [Description]: 确定Sender使用的 Action List顺序与 Receiver的Action-List顺序是否要相同。
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="password-callback-class" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]: 密码callback class的名称输入为full package名称。 
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="timeStamp" type="timeStampType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
		       [Description]: 对timeStamp中应用的ttl(timeToLive) aberration(误差)、sign情况进行设置。
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="decryption" type="decryptionType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                           [Description]: 解读所接收message之加密化部分的设定。
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="signature-verification" type="signature-verificationType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                       [Description]: 验证所接收message之签名的设定。
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:complexType name="decryptionType">   
        <xs:sequence>    
            <xs:element name="keystore" type="keystoreType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                   [Description]: 为解读message之密码的KeyStore设定。
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:complexType name="keystoreType">   
        <xs:sequence>    
            <xs:element name="key-type" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
              [Description]: 保存到keystore的key type。 (JKS或pkcs12) 
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element name="keystore-password" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                         [Description]: 访问keystore所需的密码设定。 
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element name="keystore-filename" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]: keystore的文件名。输入文件名或包括绝对路径的文件名。只输入文件名时，从class路径中查找。
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:complexType name="signature-verificationType">   
        <xs:sequence>    
            <xs:element name="keystore" type="keystoreType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                         [Description]: 验证签名所需的keystroe设定。 
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:complexType name="security-senderType">   
        <xs:sequence>    
            <xs:element name="action-list" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]: 通过string罗列适用什么安全策略。可以包括Timestamp、Encrypt、Signature、UsernameToken。各个项目之间以空白分开。(例如:UsernameToken Signature Encrypt) 
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="password-callback-class" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]: 设定密码的callback class的full package名称。
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="user" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                    [Description]: 设定包括到UsernameToken的名称和包括到签名的key别称。
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="timeStamp" type="timeStampType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						TRANSLATE
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="userNameToken" type="userNameTokenSenderType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]: 设定UsernameToken。
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="signature-infos" type="signature-infosType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                      [Description]: 为了在message上签名所需的设定。 
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="encryption-infos" type="encryption-infosType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                       [Description]: 对message进行加密所需的设定。
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:complexType name="userNameTokenSenderType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="password" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[[Description]: 设定需要的password。]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="passwordType" type="passwordTypeType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]: 设定UsernameToken上使用的密码类型。可以使用"PasswordDigest"或"PasswordText"。
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="userTokenElements" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]: 要添加到UsernameToken的元素列表。各个项目之间以空白分开。可以使用"nonce"或"created"。PasswordType为"PasswordText"时可以使用。
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:simpleType name="passwordTypeType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="PasswordDigest">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
			[Description]: UsernameToken上设定的密码以base64 encoding的状态包括到message。
		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="PasswordText">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
			[Description]: UsernameToken上设定的密码以平易的text包括到message。
		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>   
        </xs:restriction>  
    </xs:simpleType>  
    <xs:complexType name="timeStampType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="timeToLive" type="xs:positiveInteger">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: 秒为单位设置要发送的消息有效期限。
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="aberration" type="xs:integer">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
				[Description]: 设置与标准时间的相差。基本值为0秒。
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="requireSignature" type="xs:boolean">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
			[Description]: 确定timestamp中是否进行sign。基本值为 true。
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="precision" type="xs:positiveInteger">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: 考虑系统环境(网络、处理延迟等)，设置空闲时间。
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:complexType name="signature-infosType">   
        <xs:sequence>    
            <xs:element maxOccurs="unbounded" name="signature-info" type="signature-infoType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                       [Description]: message的签名所需的设定。可以进行复数设定。 
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:complexType name="signature-infoType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="signatureParts" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]: 对message的特定部分进行签名时使用。可以以"{}{http://schemas.xmlsoap.org/soap/envelope/}Body; Token"等方式罗列。没有默认设定时，对整个SOAP进行签名。
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="signatureAlgorithm" type="signatureAlgorithmType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[[Description]: 阐述署名中使用的算法。										使用SHA1withRSA,SHA1WithDSA,HMACSHA1 中的一项。]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="messageDigestAlogrithm" type="messageDigestAlgorithmType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[[Description]: 说明消息digest中应用的算法。									使用SHA1 中的一项。]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="canonicalization" type="canonicalizationType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[[Description]: 说明可以应用的canonicalization 方法。									Exclusive XML Canonicalization omit comments,									Exclusive XML Canonicalization with comments,									Inclusive XML Canonicalization omit comments, 使用Inclusive XML Canonicalization with comments中的一项。]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element name="keyIdentifier" type="sigKeyIdentifierType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]: 签名上使用之key信息的表现方式。采用IssuerSerial, DirectReference, SKIKeyIdentifier, X509KeyIdentifier当中的一个。
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="keystore" type="keystoreType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]: 保存message签名所需之个人密钥的keystore设定。 
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:simpleType name="sigKeyIdentifierType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="IssuerSerial">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
			[Description]: 将X509认证书的发行编号包括到message，指定验证签名所需的认证书。
		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="DirectReference">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
			[Description]: 将X509认证书包括到message，在message内部参照的方式。
		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="SKIKeyIdentifier">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
			[Description]: Subject Key Idenfication方式。X509认证书的版本要高于3。 
		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="X509KeyIdentifier">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: message上包含X509认证书，用于签名验证。 
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>   
        </xs:restriction>  
    </xs:simpleType>  
    <xs:simpleType name="signatureAlgorithmType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="http://www.w3.org/2000/09/xmldsig#dsa-sha1">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: DSS(DSAWithSHA1)
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="http://www.w3.org/2000/09/xmldsig#rsa-sha1">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: RSAWithSHA1
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="http://www.w3.org/2000/09/xmldsig#hmac-sha1">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
		[Description]: HMACSHA1
    	]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>   
        </xs:restriction>  
    </xs:simpleType>  
    <xs:simpleType name="messageDigestAlgorithmType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="http://www.w3.org/2000/09/xmldsig#sha1">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
		[Description]: SHA1
	]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>   
        </xs:restriction>  
    </xs:simpleType>  
    <xs:simpleType name="canonicalizationType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="http://www.w3.org/2001/10/xml-exc-c14n#">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: Exclusive XML Canonicalization omit comments
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="http://www.w3.org/2001/10/xml-exc-c14n#WithComments">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: Exclusive XML Canonicalization with comments
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="http://www.w3.org/TR/2001/REC-xml-c14n-20010315">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: Inclusive XML Canonicalization omit comments
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="http://www.w3.org/TR/2001/REC-xml-c14n-20010315#WithComments">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: Inclusive XML Canonicalization with comments
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>   
        </xs:restriction>  
    </xs:simpleType>  
    <xs:complexType name="encryption-infosType">   
        <xs:sequence>    
            <xs:element maxOccurs="unbounded" name="encryption-info" type="encryption-infoType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]: 表示分配Web Service客户端所需的设置。
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:complexType name="encryption-infoType">   
        <xs:sequence>    
            <xs:element minOccurs="0" name="encryptionParts" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                    [Description]: 为了对特定部分进行加密所需的设定。 
                                "{mode}{ns}{localname};{mode}{ns}{localname};…"形式。默认mode值为content。 
                                例如：{Content}{http://example.org/payment}CreCard;{Element}{}UserName
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="keyTransportAlogrithm" type="keyTransportAlogrithmType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[[Description]: 说明在消息digest中使用的算法。 使用RSA1.5中的一项。]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="encryptionAlgorithm" type="encryptionAlgorithmType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: 加密算法.  支持AES_128, AES_256, TRIPLE_DES, AES_192 .
                      ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="encryptionUser" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]: 加密化上采用之key的别称。
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element name="keyIdentifier" type="encKeyIdentifierType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]: 加密化使用之key信息的表现方式。采用IssuerSerial, DirectReference, SKIKeyIdentifier, X509KeyIdentifier EmbeddedKeyName当中的一个。
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="keystore" type="keystoreType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                        [Description]: 设定加密化使用之key的贮存所。 
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element minOccurs="0" name="embeddedKey" type="embeddedKeyType">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]:  设定web服务和web服务客户端共享的key。KeyIdentifier设定为"EmbeddedKeyName"时才能使用。
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType>  
    <xs:simpleType name="encKeyIdentifierType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="IssuerSerial">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
	 		[Description]: 将X509认证书的发行编号包括到message，指定验证签名的认证书。 
		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="DirectReference">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
			[Description]: 将X509认证书包括到message，在message内部参照的方式。
		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="SKIKeyIdentifier">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
			[Description]: Subject Key Identification方式。X509认证书的版本应高于3。 
		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="X509KeyIdentifier">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
			[Description]: message上包括用于加密的X509认证书。
		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="EmbeddedKeyName">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
			[Description]: web服务和web服务客户端共享session key时使用。Web服务和客户端只交换key name，就能知道使用了什么key。
		]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>   
        </xs:restriction>  
    </xs:simpleType>  
    <xs:simpleType name="encryptionAlgorithmType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="http://www.w3.org/2001/04/xmlenc#tripledes-cbc">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: DESEDE-CBC
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="http://www.w3.org/2001/04/xmlenc#aes128-cbc">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: AES128-CBC
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="http://www.w3.org/2001/04/xmlenc#aes192-cbc">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: AES192-CBC
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="http://www.w3.org/2001/04/xmlenc#aes256-cbc">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: AES256-CBC
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>    
            <xs:enumeration value="http://www.tmaxsoft.com/xml/algorithms/xmlenc#seed-cbc">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: SEED-CBC
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>   
        </xs:restriction>  
    </xs:simpleType>  
    <xs:simpleType name="keyTransportAlogrithmType">   
        <xs:restriction base="xs:string">    
            <xs:enumeration value="http://www.w3.org/2001/04/xmlenc#rsa-1">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
						[Description]: RSA1.5
					]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:enumeration>   
        </xs:restriction>  
    </xs:simpleType>  
    <xs:complexType name="embeddedKeyType">   
        <xs:sequence>    
            <xs:element name="embeddedKeyCallbackClass" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]: 要使用session key时，设定具有key byte信息的callback class。 
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>    
            <xs:element name="key-name" type="xs:string">     
                <xs:annotation>      
                    <xs:documentation><![CDATA[
                            [Description]: 设定session key的名称。
                        ]]>
                    </xs:documentation>     
                </xs:annotation>    
            </xs:element>   
        </xs:sequence>  
    </xs:complexType> 
</xs:schema>
